



{% for item in items %}
	<div class="block-presentation-home">
		{{ item.content }}
		<a href="{{ path('axe.qui-sommes-nous.page') }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="38.814" height="12.935" viewBox="0 0 38.814 12.935">
				<path id="Forme_905" data-name="Forme 905" d="M1208.541,923.991l-5.6-5.593a.874.874,0,0,0-1.237,1.236l4.106,4.1h-34.954a.874.874,0,0,0,0,1.748h34.954l-4.106,4.1a.874.874,0,0,0,1.237,1.236l5.6-5.593A.873.873,0,0,0,1208.541,923.991Z" transform="translate(-1169.984 -918.142)" fill="#3369ff"/>
			</svg>
		</a>
	</div>
{% endfor %}
