
{%
    set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

{% if label_hidden %}
    {% if multiple %}
        <div{{ attributes }}>
            {% for item in items %}
                <p{{ item.attributes }}>{{ item.content }}</p>
            {% endfor %}
        </div>
    {% else %}
        {% for item in items %}
            <p{{ attributes }}>{{ item.content }}</p>
        {% endfor %}
    {% endif %}
{% else %}
    <div{{ attributes }}>
        <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
        {% if multiple %}
        <div>
        {% endif %}
            {% for item in items %}
                <p{{ item.attributes }}>{{ item.content }}</p>
            {% endfor %}
            {% if multiple %}
        </div>
        {% endif %}
    </div>
{% endif %}
