{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 * - file_size: The size of the file.
 *
 * @see template_preprocess_file_link()
 */
#}
{#<span{{ attributes }}>{{ link }}</span>#}
{#{% if file_size %}#}
{#    <span>({{ file_size }})</span>#}
{#{% endif %}#}


<a target="_blank" title="Télécharger la version pdf [+]" class="font-weight-bold" href="{{ link["#url"].getOptions()["path"] }}">{{ "Download the pdf version [+]"|t }}</a>
