{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{#<form{{ attributes }}>#}
{#  {{ children }}#}
{#</form>#}

{#{{ dump(element) }}#}

<div class="container login-form login-page d-flex align-items-center justify-content-center" id="login-page">
    <form {{ attributes.addClass("row justify-content-center") }}>
        <div class="w-auto">
            {{ children }}
        </div>
    </form>
</div>

<script>

window.addEventListener("load", function () {
document.querySelector('.region.region--breadcrumb').style.display="none";
let navbarHeight = document.querySelector(".menu-desktop").offsetHeight;
document.querySelector('#login-page').style.height =  window.innerHeight - (navbarHeight + 70)  + "px";
});
</script>
