

<form{{ attributes.addClass("d-flex justify-content-center") }}>
    
    {% if element.confirmation %}
        {{ element.confirmation }}
    {% endif %}

    {# pas besoin  de designé ces élements : #}
    {{ title_prefix }}
    {{ element.form_token }}
    {{ element.form_build_id }}
    {{ element.form_id }}
    {# ------------------------------------- #}

    <div>
        {{ element.elements.name }}
        {{ element.elements.societe }}
        {{ element.elements.tel }}

        {{ element.elements.email }}

        {{ element.elements.sujet }}
        {{ element.elements.message }}

        <div class="piece-jointe">
            {{ element.elements.piece_jointe }}
        </div>

        {{ element.elements.captcha }}

        {{ element.elements.actions }}
    </div>
    
    {# pas besoin  de designé ces élements : #}
    {{ title_suffix }}
    {# ------------------------------------- #}
</form>

<style>
    #edit-email--wrapper .fieldset-wrapper {
        display: flex;
        justify-content: space-between;
    }

    {# marche pas trop bizarre... #}
    /*#edit-email--wrapper .fieldset-wrapper .form-item {*/
    /*    width: 95% !important;*/
    /*}*/

    #edit-email--wrapper .fieldset-wrapper .form-item input {
        width: 95% !important;
    }
    
    .webform-confirmation__message { font-size: 24px; }
    .webform-confirmation__back { display: none;}
    
    details#captcha {
        margin-bottom: 2rem;
        max-width: fit-content;
    }
</style>
