
{#
    APPARAIT SUR LA PAGE : 	/nos-partenaires
#}

<div class="content-partenaire">
    {% for row in rows  %}
        {% if loop.index <= 14  %}
            <div class="carte-partenaire item-{{ loop.index }}">
                <div class="bg-img" style="background: url({{ file_url(drupal_field('field_logo_partenaire', 'node', row.content["#node"].nid.value)["#items"].entity.field_media_image.entity.fileuri) }}) no-repeat center / contain;"></div>
            </div>
        {% endif %}
    {% endfor %}
    <div class="carte-partenaire axxe">
        <div class="bg-img" style="background: url({{ base_path ~ directory }}/assets/images/logo-axe.svg) no-repeat center / contain;"></div>
    </div>
{#    <div class="carte-partenaire axe-placeholder-1">#}
{#        <div class="bg-img" style="background: url({{ base_path ~ directory }}/assets/images/logo-axe.svg) no-repeat center / contain;"></div>#}
{#    </div>#}
{#    <div class="carte-partenaire axe-placeholder-2">#}
{#        <div class="bg-img" style="background: url({{ base_path ~ directory }}/assets/images/logo-axe.svg) no-repeat center / contain;"></div>#}
{#    </div>#}
{#    <div class="carte-partenaire axe-placeholder-3">#}
{#        <div class="bg-img" style="background: url({{ base_path ~ directory }}/assets/images/logo-axe.svg) no-repeat center / contain;"></div>#}
{#    </div>#}
</div>

<div class="content-partenaire-secondaire">
    {% for row in rows  %}
        {% if loop.index > 14  %}
        <div class="carte-partenaire item-grille">
            <div class="bg-img" style="background: url({{ file_url(drupal_field('field_logo_partenaire', 'node', row.content["#node"].nid.value)["#items"].entity.field_media_image.entity.fileuri) }}) no-repeat center / contain;"></div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<style>
    {% for row in rows  %}
        .item-{{ loop.index }} { grid-area: i-{{ loop.index }}; }
    {% endfor %}
    .axxe {
        grid-area: axe;
        height: 301px!important;
    }
    /*.axe-placeholder-1 { grid-area: ax-1; filter: grayscale(100%); }*/
    /*.axe-placeholder-2 { grid-area: ax-2; filter: grayscale(100%); }*/
    /*.axe-placeholder-3 { grid-area: ax-3; filter: grayscale(100%); }*/
    @media (min-width: 1200px) {
        .axe-placeholder-3 { display: none; }
    }
    
    .content-partenaire {
        display: grid;
        grid-gap: 1px;
        background: #f1f1f1;
        padding: 1px;
        /*grid-template-areas: "i-1  i-2  i-3 "*/
        /*                     "i-4  i-5  i-6 "*/
        /*                     "i-7  i-8  i-9 "*/
        /*                     "axe  axe  axe "*/
        /*                     "axe  axe  axe "*/
        /*                     "i-10 i-11 i-12"*/
        /*                     "i-13 i-14 i-15";*/
        grid-template-areas: "i-1  i-2"
                             "i-3  i-4"
                             "i-5  i-6"
                             "axe  axe"
                             "axe  axe"
                             "i-7 i-8"
                             "i-9 i-10"
                             "i-11 i-12"
                             "i-13 i-14";
    }
    @media (min-width: 1200px) {
        .content-partenaire {
            grid-template-areas: "i-1  i-2  i-3  i-4  i-5  i-6 "
                                 "i-7  i-8  axe  axe  i-9  i-10"
                                 "i-11 i-12 axe  axe  i-13 i-14";
        }
    }
    .content-partenaire-secondaire {
        display: grid;
        grid-auto-rows: minmax(150px, auto);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1px;
        background: #f1f1f1;
        padding: 1px;
    }
    @media (min-width: 1200px) {
        .content-partenaire-secondaire { grid-template-columns: repeat(6, 1fr); }
    }
    .content-partenaire-secondaire .item-grille {
        height: 150px;
    }
    .carte-partenaire {
        background: white;
        height: 150px;
        width: 100%;
        /*border: 1px solid;*/
    }
    .bg-img { height: 100%; width: 70%; margin: auto; }
</style>

