
{#
    APPARAIT SUR LA PAGE : 	/realisations/[term_name]
#}

<div class="grid-realisations__item">
    <a href="{{ url }}">
{#    <a href="javascript:void(0)">#}
        <h2 class="{% if not (node.field_adresse_ville_realisation.value and node.field_adresse_cp_realisation.value) %} mb-3 {% endif %}">{{ label }}</h2>
        {% if node.field_adresse_ville_realisation.value and node.field_adresse_cp_realisation.value %}
            {% if(node.field_adresse_cp_realisation.value|slice(0, -3) == "75") %}
                <span class="mt-1 mb-3 text-uppercase font-sm nom-ville">{{ node.field_adresse_ville_realisation.value }} ({{ node.field_adresse_cp_realisation.value }})</span>
            {% else %}
                <span class="mt-1 mb-3 text-uppercase font-sm nom-ville">{{ node.field_adresse_ville_realisation.value }} ({{ node.field_adresse_cp_realisation.value|slice(0, -3) }})</span>
            {% endif %}
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 68"><defs><style>.cls-1{fill:#fff;}.cls-1,.cls-2{fill-rule:evenodd;}.cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}</style></defs><polygon class="cls-1" points="52 33 35 33 35 16 33 16 33 33 17 33 17 35 33 35 33 51 35 51 35 35 52 35 52 33"/><path class="cls-2" d="M34,1A33,33,0,1,1,1,34,33,33,0,0,1,34,1Z"/></svg>
        <p class="my-2 text-center">{{ node.field_res_txt_mos_realisation.value }}</p>
    </a>
    <div class="image-container">
        <div class="overlay"></div>
        <div class="image-back"></div>
        <div class="image" style="background: url('{{ node.field_img_principal_realisation|file_uri|image_style("image_desktop_1400x880") }}') no-repeat center center / cover"></div>
    </div>
</div>

