

{#
    APPARAIT SUR LA PAGE : 	/    ( home )
#}

<a class="realisations__item" href="{{ url }}" alt="#">
	<span class="realisations__item__texte realisations__item__texte--hover">
		<span class="text-uppercase">{{ label }}</span>
		{% if node.field_adresse_ville_realisation.value and node.field_adresse_cp_realisation.value %}
			<span class="my-3 text-uppercase font-sm">{{ node.field_adresse_ville_realisation.value }} ({{ node.field_adresse_cp_realisation.value|slice(0, -3) }})</span>
		{% endif %}
		<svg xmlns="http://www.w3.org/2000/svg" width="38.815" height="12.935" viewbox="0 0 38.815 12.935" class="mx-auto mt-2">
			<path id="fleche" d="M72.517,30.052l-5.6-5.593a.874.874,0,0,0-1.236,1.236l4.106,4.1H34.833a.874.874,0,0,0,0,1.748H69.787l-4.106,4.1a.874.874,0,0,0,1.236,1.235l5.6-5.593A.873.873,0,0,0,72.517,30.052Z" transform="translate(-33.959 -24.203)" fill="#fff"/>
		</svg>
	</span>
    <div class="realisations__item__image" style="background: url('{{ node.field_img_principal_realisation.entity.field_media_image.entity.fileuri|image_style("crop_650x650") }}') no-repeat center / cover"></div>
</a>

