{#
APPARAIT SUR LA PAGE : 	/realisations/[term_name]/[node:title]
#}
{{ node.field_destination.label }}
{# Header #}

<div class="container">
    <div class="row">
        <div class="col-12 contenu text-md-center">
            <div class="breadcrumb">
                {{ drupal_block("system_breadcrumb_block") }}
            </div>
            <header class="titre-container border-0 mb-0">
                <h1>{{ label }}</h1>
                {# BOUTON RETOUR #}
                <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_secteur_d_activite.target_id}) }}" title="Retour Liste" class="retour" onclick="history.back()">
                    {% if language == "fr" %}
                        <svg class="d-none d-md-block" xmlns="http://www.w3.org/2000/svg" width="240.599" height="14.039" viewBox="0 0 240.599 14.039">
                            <g id="retour_liste" transform="translate(-304 -103.897)">
                                <path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-31.514 -101.911)" fill="#3369fc"/>
                                <path id="Tracé_77" data-name="Tracé 77" d="M.962,0V-9.1H3.9a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L7.059,0H5.772L3.926-3.757H2.054V0ZM2.054-4.615H3.822a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3A1.73,1.73,0,0,0,5.362-7.7a2.136,2.136,0,0,0-1.553-.475H2.054ZM8.866,0V-9.1H14.5v.9H9.958v3.172H14.1v.884H9.958V-.9H14.5V0Zm9.659,0V-8.2H15.808v-.9h6.526v.9H19.617V0Zm9.009.156a4.549,4.549,0,0,1-2.347-.592,4.114,4.114,0,0,1-1.573-1.657,5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1,23.615-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1,31.46-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,29.893-.436,4.575,4.575,0,0,1,27.534.156Zm0-.962A3.4,3.4,0,0,0,29.3-1.255a3.043,3.043,0,0,0,1.183-1.287A4.419,4.419,0,0,0,30.9-4.55a4.378,4.378,0,0,0-.423-2A3.051,3.051,0,0,0,29.3-7.833a3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.762.448A3.051,3.051,0,0,0,24.59-6.552a4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,27.534-.806Zm9.542.962a3.822,3.822,0,0,1-1.7-.37,2.823,2.823,0,0,1-1.215-1.151,3.905,3.905,0,0,1-.455-1.989V-9.1H34.8v5.759a2.535,2.535,0,0,0,.637,1.924,2.333,2.333,0,0,0,1.664.6,2.286,2.286,0,0,0,1.651-.6,2.567,2.567,0,0,0,.624-1.924V-9.1h1.092v5.746a3.905,3.905,0,0,1-.455,1.989A2.814,2.814,0,0,1,38.792-.214,3.894,3.894,0,0,1,37.076.156ZM42.51,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.461,1.547,2.494,2.494,0,0,1-1.437.975L48.607,0H47.32L45.474-3.757H43.6V0ZM43.6-4.615H45.37A2.032,2.032,0,0,0,46.9-5.122a1.812,1.812,0,0,0,.481-1.3A1.73,1.73,0,0,0,46.91-7.7a2.136,2.136,0,0,0-1.553-.475H43.6ZM53.482,0l3.354-9.1h1.157L61.334,0H60.177l-.832-2.34H55.471L54.626,0ZM55.8-3.224H59.02l-1.612-4.5Zm2.2-6.409-2.73-1.521V-12.1l2.73,1.651ZM66.521,0V-9.1h1.092l4.849,7.293V-9.1h1.092V0H72.462L67.613-7.293V0ZM79.807.156A4.549,4.549,0,0,1,77.46-.436a4.114,4.114,0,0,1-1.573-1.657,5.165,5.165,0,0,1-.565-2.457A5.126,5.126,0,0,1,75.887-7,4.17,4.17,0,0,1,77.46-8.658a4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1,83.733-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,82.166-.436,4.575,4.575,0,0,1,79.807.156Zm0-.962a3.4,3.4,0,0,0,1.761-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.761.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,79.807-.806Zm9.152.962a3.909,3.909,0,0,1-1.742-.364,2.72,2.72,0,0,1-1.144-1.014,2.8,2.8,0,0,1-.4-1.508h1.144a2,2,0,0,0,.247.982,1.818,1.818,0,0,0,.722.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442A1.406,1.406,0,0,0,90.9-2.314a1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.631-.539,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.073-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.294,2.383,2.383,0,0,1,.994-.884,3.409,3.409,0,0,1,1.528-.319,3.32,3.32,0,0,1,1.514.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.37,1.3H90.584a1.59,1.59,0,0,0-.195-.747,1.522,1.522,0,0,0-.591-.6A1.93,1.93,0,0,0,88.8-8.32a1.8,1.8,0,0,0-1.215.377,1.32,1.32,0,0,0-.475,1.079,1.172,1.172,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.293,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,88.959.156ZM97.409,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L103.506,0h-1.287l-1.846-3.757H98.5V0ZM98.5-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.474-1.28,2.136,2.136,0,0,0-1.554-.475H98.5ZM105.313,0V-9.1h5.629v.9H106.4v3.172h4.147v.884H106.4V-.9h4.537V0Zm2.3-9.633v-.819l2.73-1.651v.949ZM112.268,0l3.354-9.1h1.157L120.12,0h-1.157l-.832-2.34h-3.874L113.412,0Zm2.314-3.224h3.224l-1.612-4.5ZM121.667,0V-9.1h1.092V-.871H127V0Zm7.02,0V-9.1h1.092V0Zm6.11.156a3.909,3.909,0,0,1-1.742-.364,2.72,2.72,0,0,1-1.144-1.014,2.8,2.8,0,0,1-.4-1.508h1.144a2,2,0,0,0,.247.982,1.818,1.818,0,0,0,.721.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442,1.406,1.406,0,0,0,.507-1.105,1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.63-.539,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.072-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.294,2.383,2.383,0,0,1,.995-.884,3.409,3.409,0,0,1,1.527-.319,3.32,3.32,0,0,1,1.514.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.37,1.3h-1.144a1.591,1.591,0,0,0-.195-.747,1.522,1.522,0,0,0-.592-.6,1.93,1.93,0,0,0-.994-.234,1.8,1.8,0,0,0-1.215.377,1.32,1.32,0,0,0-.475,1.079,1.173,1.173,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.292,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,134.8.156ZM139.035,0l3.354-9.1h1.157L146.887,0H145.73L144.9-2.34h-3.874L140.179,0Zm2.314-3.224h3.224l-1.612-4.5ZM149.539,0V-8.2h-2.717v-.9h6.526v.9h-2.717V0Zm5.343,0V-9.1h1.092V0Zm7.345.156a4.549,4.549,0,0,1-2.346-.592,4.114,4.114,0,0,1-1.573-1.657,5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1,158.307-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.346-.6,4.536,4.536,0,0,1,2.36.6A4.125,4.125,0,0,1,166.153-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457,4.071,4.071,0,0,1-1.566,1.657A4.575,4.575,0,0,1,162.227.156Zm0-.962a3.4,3.4,0,0,0,1.762-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.762-.448,3.4,3.4,0,0,0-1.761.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,162.227-.806ZM168.48,0V-9.1h1.092l4.849,7.293V-9.1h1.092V0h-1.092l-4.849-7.293V0Zm12.051.156a3.909,3.909,0,0,1-1.742-.364,2.72,2.72,0,0,1-1.144-1.014,2.8,2.8,0,0,1-.4-1.508h1.144a2,2,0,0,0,.247.982,1.818,1.818,0,0,0,.721.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442,1.406,1.406,0,0,0,.507-1.105,1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.63-.539,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.072-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.294,2.383,2.383,0,0,1,.995-.884,3.409,3.409,0,0,1,1.527-.319,3.32,3.32,0,0,1,1.514.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.37,1.3h-1.144a1.59,1.59,0,0,0-.2-.747,1.522,1.522,0,0,0-.592-.6,1.93,1.93,0,0,0-.994-.234,1.8,1.8,0,0,0-1.215.377,1.32,1.32,0,0,0-.475,1.079,1.173,1.173,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.292,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,180.531.156Z" transform="translate(361 116)"/>
                            </g>
                        </svg>
                        <svg class="d-block d-md-none" xmlns="http://www.w3.org/2000/svg" width="38.814" height="12.936" viewbox="0 0 38.814 12.936">
                            <path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-335.514 -206.911)" fill="#3369fc"/>
                        </svg>
                    {% else %}
                        <svg class="d-none d-md-block" xmlns="http://www.w3.org/2000/svg" width="240.599" height="14.039" viewBox="0 0 208.4 12.9">
                            <style type="text/css">.st0{fill:#3369FC;}</style>
                            <g transform="translate(-304 -105)">
                                <path class="st0" d="M304.3,110.8l5.6-5.6c0.4-0.3,0.9-0.3,1.2,0.1c0.3,0.3,0.3,0.8,0,1.1l-4.1,4.1h35c0.5,0,0.9,0.4,0.8,0.9   c0,0.5-0.4,0.8-0.8,0.8h-35l4.1,4.1c0.4,0.3,0.4,0.9,0,1.2c-0.3,0.4-0.9,0.4-1.2,0c0,0,0,0,0,0l-5.6-5.6   C303.9,111.7,303.9,111.2,304.3,110.8C304.3,110.9,304.3,110.9,304.3,110.8z"/>
                            </g>
                            <g>
                                <path d="M59.2,11.2V2.1h3.2c0.6,0,1.2,0.1,1.6,0.3c0.4,0.2,0.7,0.5,0.9,0.8s0.3,0.7,0.3,1.2c0,0.6-0.2,1.1-0.5,1.4   s-0.7,0.6-1.1,0.7c0.3,0.1,0.6,0.2,0.9,0.4s0.5,0.5,0.7,0.8c0.2,0.3,0.2,0.7,0.2,1c0,0.5-0.1,0.9-0.3,1.3s-0.6,0.7-1,0.9   c-0.4,0.2-1,0.3-1.6,0.3H59.2z M60.3,6h2c0.6,0,1-0.1,1.3-0.4C64,5.4,64.2,5,64.2,4.5c0-0.5-0.2-0.8-0.5-1.1S62.9,3,62.3,3h-2V6z    M60.3,10.3h2.1c0.6,0,1.1-0.1,1.4-0.4s0.5-0.7,0.5-1.2c0-0.5-0.2-0.9-0.5-1.2c-0.4-0.3-0.8-0.5-1.4-0.5h-2.1V10.3z"/>
                                <path d="M66.3,11.2l3.4-9.1h1.2l3.3,9.1H73l-0.8-2.3h-3.9l-0.8,2.3H66.3z M68.6,7.9h3.2l-1.6-4.5L68.6,7.9z"/>
                                <path d="M79,11.3c-0.9,0-1.7-0.2-2.3-0.6s-1.1-0.9-1.5-1.7c-0.4-0.7-0.5-1.5-0.5-2.5c0-0.9,0.2-1.7,0.5-2.5   c0.4-0.7,0.9-1.3,1.5-1.7c0.6-0.4,1.4-0.6,2.3-0.6c1,0,1.9,0.2,2.5,0.7c0.7,0.5,1.1,1.2,1.3,2.1h-1.2c-0.1-0.6-0.4-1-0.9-1.4   s-1-0.5-1.7-0.5c-0.7,0-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.7-1.1,1.3c-0.3,0.6-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2   c0.3,0.6,0.6,1,1.1,1.3s1.1,0.4,1.7,0.4c0.7,0,1.3-0.2,1.7-0.5s0.7-0.8,0.9-1.3h1.2c-0.2,0.9-0.6,1.6-1.3,2.1S80,11.3,79,11.3z"/>
                                <path d="M84.4,11.2V2.1h1.1v4.1l3.8-4.1h1.4l-3.4,3.6l3.4,5.5h-1.3l-2.9-4.6l-1,1.1v3.5H84.4z"/>
                                <path d="M97.5,11.2V3h-2.7V2.1h6.5V3h-2.7v8.2H97.5z"/>
                                <path d="M106.3,11.3c-0.9,0-1.7-0.2-2.3-0.6c-0.7-0.4-1.2-0.9-1.6-1.7c-0.4-0.7-0.6-1.5-0.6-2.5s0.2-1.7,0.6-2.5   c0.4-0.7,0.9-1.3,1.6-1.7c0.7-0.4,1.5-0.6,2.3-0.6c0.9,0,1.7,0.2,2.4,0.6c0.7,0.4,1.2,1,1.6,1.7c0.4,0.7,0.6,1.5,0.6,2.5   s-0.2,1.7-0.6,2.5c-0.4,0.7-0.9,1.3-1.6,1.7C108,11.1,107.2,11.3,106.3,11.3z M106.3,10.4c0.7,0,1.3-0.1,1.8-0.4s0.9-0.7,1.2-1.3   c0.3-0.6,0.4-1.2,0.4-2c0-0.8-0.1-1.4-0.4-2c-0.3-0.6-0.7-1-1.2-1.3s-1.1-0.4-1.8-0.4c-0.7,0-1.3,0.1-1.8,0.4   c-0.5,0.3-0.9,0.7-1.2,1.3s-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2c0.3,0.6,0.7,1,1.2,1.3C105.1,10.2,105.7,10.4,106.3,10.4z"/>
                                <path d="M120,11.3c-0.9,0-1.7-0.2-2.3-0.6c-0.7-0.4-1.2-0.9-1.6-1.7c-0.4-0.7-0.6-1.5-0.6-2.5s0.2-1.7,0.6-2.5   c0.4-0.7,0.9-1.3,1.6-1.7c0.7-0.4,1.5-0.6,2.3-0.6c0.9,0,1.7,0.2,2.4,0.6c0.7,0.4,1.2,1,1.6,1.7c0.4,0.7,0.6,1.5,0.6,2.5   s-0.2,1.7-0.6,2.5c-0.4,0.7-0.9,1.3-1.6,1.7C121.7,11.1,120.9,11.3,120,11.3z M120,10.4c0.7,0,1.3-0.1,1.8-0.4s0.9-0.7,1.2-1.3   c0.3-0.6,0.4-1.2,0.4-2c0-0.8-0.1-1.4-0.4-2c-0.3-0.6-0.7-1-1.2-1.3s-1.1-0.4-1.8-0.4c-0.7,0-1.3,0.1-1.8,0.4   c-0.5,0.3-0.9,0.7-1.2,1.3s-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2c0.3,0.6,0.7,1,1.2,1.3C118.7,10.2,119.3,10.4,120,10.4z"/>
                                <path d="M129.3,11.3c-0.6,0-1.2-0.1-1.7-0.4s-0.9-0.6-1.2-1.2s-0.5-1.2-0.5-2V2.1h1.1v5.8c0,0.9,0.2,1.5,0.6,1.9   c0.4,0.4,1,0.6,1.7,0.6c0.7,0,1.2-0.2,1.7-0.6s0.6-1,0.6-1.9V2.1h1.1v5.7c0,0.8-0.2,1.5-0.5,2c-0.3,0.5-0.7,0.9-1.2,1.2   S129.9,11.3,129.3,11.3z"/>
                                <path d="M134.5,11.2V2.1h2.9c0.7,0,1.3,0.1,1.7,0.4c0.5,0.2,0.8,0.6,1,1c0.2,0.4,0.3,0.9,0.3,1.4c0,0.6-0.2,1.1-0.5,1.5   c-0.3,0.5-0.8,0.8-1.4,1l2,3.9h-1.3l-1.8-3.8h-0.1h-1.8v3.8H134.5z M135.6,6.5h1.8c0.7,0,1.2-0.2,1.5-0.5c0.3-0.3,0.5-0.8,0.5-1.3   c0-0.5-0.2-1-0.5-1.3c-0.3-0.3-0.8-0.5-1.6-0.5h-1.8V6.5z"/>
                                <path d="M145.7,11.2V2.1h3c0.7,0,1.3,0.1,1.8,0.4c0.5,0.2,0.8,0.6,1,0.9c0.2,0.4,0.3,0.8,0.3,1.4c0,0.5-0.1,0.9-0.3,1.3   c-0.2,0.4-0.6,0.7-1,1c-0.5,0.2-1,0.4-1.8,0.4h-1.9v3.8H145.7z M146.8,6.4h1.9c0.7,0,1.2-0.2,1.6-0.5c0.3-0.3,0.5-0.7,0.5-1.3   c0-0.5-0.2-1-0.5-1.3S149.4,3,148.7,3h-1.9V6.4z"/>
                                <path d="M153.2,11.2V2.1h2.9c0.7,0,1.3,0.1,1.7,0.4c0.5,0.2,0.8,0.6,1,1c0.2,0.4,0.3,0.9,0.3,1.4c0,0.6-0.2,1.1-0.5,1.5   c-0.3,0.5-0.8,0.8-1.4,1l2,3.9H158l-1.8-3.8h-0.1h-1.8v3.8H153.2z M154.3,6.5h1.8c0.7,0,1.2-0.2,1.5-0.5c0.3-0.3,0.5-0.8,0.5-1.3   c0-0.5-0.2-1-0.5-1.3c-0.3-0.3-0.8-0.5-1.6-0.5h-1.8V6.5z"/>
                                <path d="M165.1,11.3c-0.9,0-1.7-0.2-2.3-0.6c-0.7-0.4-1.2-0.9-1.6-1.7c-0.4-0.7-0.6-1.5-0.6-2.5s0.2-1.7,0.6-2.5   c0.4-0.7,0.9-1.3,1.6-1.7c0.7-0.4,1.5-0.6,2.3-0.6c0.9,0,1.7,0.2,2.4,0.6c0.7,0.4,1.2,1,1.6,1.7c0.4,0.7,0.6,1.5,0.6,2.5   s-0.2,1.7-0.6,2.5c-0.4,0.7-0.9,1.3-1.6,1.7C166.8,11.1,166,11.3,165.1,11.3z M165.1,10.4c0.7,0,1.3-0.1,1.8-0.4s0.9-0.7,1.2-1.3   c0.3-0.6,0.4-1.2,0.4-2c0-0.8-0.1-1.4-0.4-2c-0.3-0.6-0.7-1-1.2-1.3s-1.1-0.4-1.8-0.4c-0.7,0-1.3,0.1-1.8,0.4   c-0.5,0.3-0.9,0.7-1.2,1.3s-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2c0.3,0.6,0.7,1,1.2,1.3C163.8,10.2,164.4,10.4,165.1,10.4z"/>
                                <path d="M173.2,11.3c-0.8,0-1.5-0.2-1.9-0.7c-0.5-0.5-0.7-1.1-0.7-1.9h1.1c0,0.5,0.1,0.8,0.3,1.2c0.2,0.3,0.6,0.5,1.2,0.5   c0.5,0,0.9-0.2,1.1-0.5c0.2-0.3,0.3-0.7,0.3-1.1V2.1h1.1v6.7c0,0.8-0.2,1.4-0.7,1.9C174.6,11.1,174,11.3,173.2,11.3z"/>
                                <path d="M177.6,11.2V2.1h5.6V3h-4.5v3.2h4.1V7h-4.1v3.2h4.5v0.9H177.6z"/>
                                <path d="M188.9,11.3c-0.9,0-1.7-0.2-2.3-0.6s-1.1-0.9-1.5-1.7c-0.4-0.7-0.5-1.5-0.5-2.5c0-0.9,0.2-1.7,0.5-2.5   c0.4-0.7,0.9-1.3,1.5-1.7c0.6-0.4,1.4-0.6,2.3-0.6c1,0,1.9,0.2,2.5,0.7c0.7,0.5,1.1,1.2,1.3,2.1h-1.2c-0.1-0.6-0.4-1-0.9-1.4   s-1-0.5-1.7-0.5c-0.7,0-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.7-1.1,1.3c-0.3,0.6-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2   c0.3,0.6,0.6,1,1.1,1.3s1.1,0.4,1.7,0.4c0.7,0,1.3-0.2,1.7-0.5s0.7-0.8,0.9-1.3h1.2c-0.2,0.9-0.6,1.6-1.3,2.1S190,11.3,188.9,11.3z   "/>
                                <path d="M196.2,11.2V3h-2.7V2.1h6.5V3h-2.7v8.2H196.2z"/>
                                <path d="M204,11.3c-0.7,0-1.2-0.1-1.7-0.4c-0.5-0.2-0.9-0.6-1.1-1c-0.3-0.4-0.4-0.9-0.4-1.5h1.1c0,0.4,0.1,0.7,0.2,1   s0.4,0.5,0.7,0.7c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1.1-0.1,1.4-0.4s0.5-0.7,0.5-1.1c0-0.4-0.1-0.7-0.2-0.9c-0.2-0.2-0.4-0.4-0.6-0.5   s-0.6-0.3-0.9-0.4s-0.7-0.2-1.1-0.4c-0.7-0.2-1.2-0.5-1.6-0.9c-0.3-0.4-0.5-0.8-0.5-1.4c0-0.5,0.1-0.9,0.3-1.3   c0.2-0.4,0.6-0.7,1-0.9c0.4-0.2,0.9-0.3,1.5-0.3c0.6,0,1.1,0.1,1.5,0.3c0.4,0.2,0.8,0.5,1,0.9c0.2,0.4,0.4,0.8,0.4,1.3h-1.1   c0-0.3-0.1-0.5-0.2-0.7s-0.3-0.4-0.6-0.6c-0.3-0.2-0.6-0.2-1-0.2c-0.5,0-0.9,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.5,1.1   c0,0.4,0.1,0.7,0.3,0.9s0.5,0.4,0.9,0.5c0.4,0.1,0.9,0.3,1.4,0.5c0.4,0.2,0.8,0.3,1.2,0.5s0.6,0.5,0.8,0.8c0.2,0.3,0.3,0.7,0.3,1.3   c0,0.4-0.1,0.8-0.3,1.2s-0.6,0.7-1,0.9C205.3,11.2,204.7,11.3,204,11.3z"/>
                            </g>
                        </svg>
                        <svg class="d-block d-md-none" xmlns="http://www.w3.org/2000/svg" width="38.814" height="12.936" viewbox="0 0 38.814 12.936">
                            <path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-335.514 -206.911)" fill="#3369fc"/>
                        </svg>
                    {% endif %}
                </a>
            </header>
        </div>
    </div>
</div>


{# Contenu #}
<div class="container text-uppercase">
    <div class="row position-relative">
        {# Projet suivant #}
{#            {{ drupal_entity('block', 'nextprev_realisation') }}#}
        {% if prev.url is not null %}
        <a href="{{ file_url(prev.url) }}" class="next d-none d-md-flex" title="Projet suivant">
            {% if language == "fr" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="72.098" height="52.156" viewbox="0 0 72.098 52.156">
                    <g id="projet-precedent" transform="translate(-379.525 -112)">
                        <path id="Tracé_76" data-name="Tracé 76" d="M-46.54,0V-9.1h2.99a3.856,3.856,0,0,1,1.755.351,2.339,2.339,0,0,1,1.021.949,2.741,2.741,0,0,1,.331,1.352,2.758,2.758,0,0,1-.325,1.339,2.336,2.336,0,0,1-1.014.956A3.83,3.83,0,0,1-43.55-3.8h-1.9V0Zm1.092-4.719h1.872a2.147,2.147,0,0,0,1.554-.462,1.713,1.713,0,0,0,.462-1.267,1.731,1.731,0,0,0-.462-1.28,2.147,2.147,0,0,0-1.554-.461h-1.872ZM-38.818,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L-32.721,0h-1.287l-1.846-3.757h-1.872V0Zm1.092-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.474-1.28,2.136,2.136,0,0,0-1.553-.475h-1.755ZM-26.78.156a4.549,4.549,0,0,1-2.347-.592A4.114,4.114,0,0,1-30.7-2.093a5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1-30.7-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1-22.854-7,5.175,5.175,0,0,1-22.3-4.55a5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1-24.42-.436,4.575,4.575,0,0,1-26.78.156Zm0-.962a3.4,3.4,0,0,0,1.761-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.762.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0-26.78-.806ZM-18.5.156a2.646,2.646,0,0,1-1.937-.689,2.555,2.555,0,0,1-.7-1.911h1.1a1.924,1.924,0,0,0,.338,1.157,1.363,1.363,0,0,0,1.183.468,1.294,1.294,0,0,0,1.138-.455A1.924,1.924,0,0,0-17.056-2.4V-9.1h1.092V-2.4a2.562,2.562,0,0,1-.67,1.885A2.508,2.508,0,0,1-18.5.156ZM-13.845,0V-9.1h5.629v.9h-4.537v3.172h4.147v.884h-4.147V-.9h4.537V0Zm9.659,0V-8.2H-6.9v-.9H-.377v.9H-3.094V0ZM-72.475,17V7.9h2.99a3.856,3.856,0,0,1,1.755.351,2.339,2.339,0,0,1,1.021.949,2.741,2.741,0,0,1,.331,1.352,2.758,2.758,0,0,1-.325,1.339,2.336,2.336,0,0,1-1.014.956,3.83,3.83,0,0,1-1.768.358h-1.9V17Zm1.092-4.719h1.872a2.147,2.147,0,0,0,1.553-.462,1.713,1.713,0,0,0,.462-1.267,1.731,1.731,0,0,0-.462-1.281,2.147,2.147,0,0,0-1.553-.461h-1.872ZM-64.753,17V7.9h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L-58.656,17h-1.287l-1.846-3.757h-1.872V17Zm1.092-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.474-1.28,2.136,2.136,0,0,0-1.553-.475h-1.755ZM-56.849,17V7.9h5.629v.9h-4.537v3.172h4.147v.884h-4.147V16.1h4.537V17Zm2.3-9.633V6.548l2.73-1.651v.949Zm9.217,9.789a4.342,4.342,0,0,1-2.307-.591,3.988,3.988,0,0,1-1.5-1.651,5.413,5.413,0,0,1-.533-2.463A5.383,5.383,0,0,1-49.14,10a4.032,4.032,0,0,1,1.5-1.658,4.305,4.305,0,0,1,2.307-.6,4.08,4.08,0,0,1,2.542.748,3.361,3.361,0,0,1,1.255,2.087h-1.209A2.426,2.426,0,0,0-43.6,9.219a2.705,2.705,0,0,0-1.736-.514,3.181,3.181,0,0,0-1.7.449,2.947,2.947,0,0,0-1.125,1.287,4.664,4.664,0,0,0-.4,2.009,4.664,4.664,0,0,0,.4,2.008,2.947,2.947,0,0,0,1.125,1.287,3.181,3.181,0,0,0,1.7.449,2.754,2.754,0,0,0,1.736-.5,2.36,2.36,0,0,0,.852-1.332h1.209a3.319,3.319,0,0,1-1.255,2.054A4.105,4.105,0,0,1-45.331,17.156ZM-39.767,17V7.9h5.629v.9h-4.537v3.172h4.147v.884h-4.147V16.1h4.537V17Zm2.3-9.633V6.548l2.73-1.651v.949ZM-32.24,17V7.9h2.795A4.626,4.626,0,0,1-25.9,9.122a4.73,4.73,0,0,1,1.138,3.354A4.649,4.649,0,0,1-25.9,15.785,4.64,4.64,0,0,1-29.445,17Zm1.092-.91h1.677a4.367,4.367,0,0,0,2.113-.436,2.483,2.483,0,0,0,1.125-1.248,5.01,5.01,0,0,0,.338-1.931,5.136,5.136,0,0,0-.338-1.963,2.51,2.51,0,0,0-1.125-1.261,4.313,4.313,0,0,0-2.113-.442h-1.677ZM-23,17V7.9h5.629v.9H-21.9v3.172h4.147v.884H-21.9V16.1h4.537V17Zm7.527,0V7.9h1.092l4.849,7.293V7.9h1.092V17H-9.529l-4.849-7.293V17Zm11.284,0V8.8H-6.9V7.9H-.377v.9H-3.094V17Z" transform="translate(452 147)"/>
                        <path id="Tracé_73" data-name="Tracé 73" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(76.672 -94.911)" fill="#3369fc"/>
                    </g>
                </svg>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="62" height="56" viewBox="0 0 62 56">
                    <g transform="translate(-390 -112)">
                        <path d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(76.672 -94.911)" fill="#3369fc"/><text transform="translate(452 147)" font-size="13" font-family="DMSans-Regular, DM Sans" letter-spacing="0.015em"><tspan x="-61.867" y="0">PREVIOUS</tspan><tspan x="-56.836" y="17">PROJECT</tspan></text>
                    </g>
                </svg>
            {% endif %}
        </a>
        {% endif %}


        {% if content.field_img_principal_realisation.1 is not null %}
            <div class="youtube-container">
                <div id="ytplayer" class="w-100"></div>

                <img  id="video-cover" src="{{ node.field_img_principal_realisation|file_uri|image_style("image_desktop_1200x720") }}">

                <button id="play" class="play-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="119px" height="119px">
                        <path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M59.500,118.500 C26.967,118.500 0.500,92.032 0.500,59.500 C0.500,26.967 26.967,0.500 59.500,0.500 C60.826,0.500 61.901,1.575 61.901,2.901 C61.901,4.227 60.826,5.303 59.500,5.303 C29.615,5.303 5.302,29.615 5.302,59.500 C5.302,89.385 29.615,113.698 59.500,113.698 C89.384,113.698 113.697,89.385 113.697,59.500 C113.697,50.756 111.680,42.412 107.702,34.697 C103.905,27.334 98.369,20.832 91.690,15.893 C90.624,15.105 90.398,13.601 91.187,12.535 C91.976,11.469 93.479,11.243 94.546,12.032 C101.813,17.406 107.838,24.482 111.970,32.496 C116.242,40.780 118.500,50.117 118.500,59.500 C118.500,92.032 92.033,118.500 59.500,118.500 ZM89.403,61.518 L60.001,80.461 C58.886,81.180 57.400,80.858 56.681,79.743 C55.963,78.629 56.285,77.143 57.400,76.425 L83.543,59.581 L47.991,38.416 L47.991,86.890 C47.991,88.216 46.916,89.291 45.590,89.291 C44.264,89.291 43.188,88.216 43.188,86.890 L43.188,34.192 C43.188,33.329 43.652,32.532 44.403,32.105 C45.154,31.678 46.075,31.687 46.818,32.129 L89.330,57.436 C90.044,57.861 90.488,58.626 90.503,59.457 C90.518,60.288 90.101,61.068 89.403,61.518 Z"/>
                    </svg>
                </button>
            </div>
            <script>
                {% for image in node.field_img_principal_realisation %}
                    {% if image.entity.field_media_oembed_video is not null %}
                      let testparams = new URL("{{ image.entity.field_media_oembed_video.value }}").searchParams;
                    {% endif %}
                {% endfor %}

                // Load the IFrame Player API code asynchronously.
                let tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                let firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

                let player;
                function onYouTubePlayerAPIReady() {
                    player = new YT.Player('ytplayer', {
                        height: '720',
                        width: '1200',
                        videoId: testparams.get('v'),
                        playerVars: {rel: 0, showinfo: 0, ecver: 2}
                    });
                }
            </script>
        {% else %}
            <img class="col-12" loading="lazy" src="{{ node.field_img_principal_realisation|file_uri|image_style("image_desktop_1200x720") }}" alt="{{ node.title.value }}"/>
        {% endif %}

        {# Projet Précédent #}
{#        {{ drupal_entity('block', 'nextprev_realisation') }}#}
        {% if next.url is not null %}
        <a href="{{ file_url(next.url) }}" class="prev d-none d-md-flex" title="Projet Précédent">
            {% if language == "fr" %}
                <svg xmlns="http://www.w3.org/2000/svg" width="51.571" height="52.156" viewbox="0 0 51.571 52.156">
                    <g id="projet-suivant" transform="translate(-200.572 -112)">
                        <path id="Tracé_75" data-name="Tracé 75" d="M.962,0V-9.1h2.99a3.856,3.856,0,0,1,1.755.351,2.339,2.339,0,0,1,1.02.949,2.741,2.741,0,0,1,.332,1.352,2.758,2.758,0,0,1-.325,1.339,2.336,2.336,0,0,1-1.014.956A3.83,3.83,0,0,1,3.952-3.8h-1.9V0ZM2.054-4.719H3.926a2.147,2.147,0,0,0,1.553-.462,1.713,1.713,0,0,0,.462-1.267,1.731,1.731,0,0,0-.462-1.28A2.147,2.147,0,0,0,3.926-8.19H2.054ZM8.684,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L14.781,0H13.494L11.648-3.757H9.776V0ZM9.776-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.475-1.28,2.136,2.136,0,0,0-1.553-.475H9.776ZM20.722.156a4.549,4.549,0,0,1-2.347-.592A4.114,4.114,0,0,1,16.8-2.093a5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1,16.8-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.36.6A4.125,4.125,0,0,1,24.648-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,23.082-.436,4.575,4.575,0,0,1,20.722.156Zm0-.962a3.4,3.4,0,0,0,1.761-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.761.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,20.722-.806ZM29,.156a2.646,2.646,0,0,1-1.937-.689,2.555,2.555,0,0,1-.7-1.911h1.1a1.924,1.924,0,0,0,.338,1.157,1.363,1.363,0,0,0,1.183.468,1.294,1.294,0,0,0,1.138-.455A1.924,1.924,0,0,0,30.446-2.4V-9.1h1.092V-2.4a2.562,2.562,0,0,1-.67,1.885A2.508,2.508,0,0,1,29,.156ZM33.657,0V-9.1h5.629v.9H34.749v3.172H38.9v.884H34.749V-.9h4.537V0Zm9.659,0V-8.2H40.6v-.9h6.526v.9H44.408V0ZM3.861,17.156a3.909,3.909,0,0,1-1.742-.364A2.72,2.72,0,0,1,.975,15.778a2.8,2.8,0,0,1-.4-1.508H1.716a2,2,0,0,0,.247.981,1.818,1.818,0,0,0,.722.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442A1.406,1.406,0,0,0,5.8,14.686a1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.631-.54,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.072-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.293,2.383,2.383,0,0,1,.995-.884,3.409,3.409,0,0,1,1.527-.319,3.32,3.32,0,0,1,1.515.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.371,1.3H5.486a1.59,1.59,0,0,0-.2-.748,1.522,1.522,0,0,0-.591-.6A1.93,1.93,0,0,0,3.7,8.68a1.8,1.8,0,0,0-1.216.377,1.32,1.32,0,0,0-.474,1.079,1.172,1.172,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.292,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,3.861,17.156Zm8.1,0a3.822,3.822,0,0,1-1.7-.371,2.823,2.823,0,0,1-1.215-1.15,3.905,3.905,0,0,1-.455-1.989V7.9H9.685v5.759a2.535,2.535,0,0,0,.637,1.924,2.333,2.333,0,0,0,1.664.6,2.286,2.286,0,0,0,1.651-.6,2.567,2.567,0,0,0,.624-1.924V7.9h1.092v5.746a3.905,3.905,0,0,1-.455,1.989,2.814,2.814,0,0,1-1.222,1.15A3.894,3.894,0,0,1,11.96,17.156ZM17.394,17V7.9h1.092V17Zm5.954,0L19.929,7.9h1.183l2.873,7.943,2.9-7.943h1.157L24.622,17Zm4.3,0L31,7.9h1.157L35.5,17H34.346l-.832-2.34H29.64L28.8,17Zm2.314-3.224h3.224l-1.612-4.5ZM37.05,17V7.9h1.092l4.849,7.293V7.9h1.092V17H42.991L38.142,9.707V17Zm11.284,0V8.8H45.617V7.9h6.526v.9H49.426V17Z" transform="translate(200 147)"/>
                        <path id="Tracé_74" data-name="Tracé 74" d="M.256,7.086l5.6,5.593a.874.874,0,0,0,1.235-1.236l-4.1-4.1H37.941a.874.874,0,0,0,0-1.747H2.987l4.1-4.1a.873.873,0,0,0,0-1.236.873.873,0,0,0-1.235,0L.256,5.849A.876.876,0,0,0,.256,7.086Z" transform="translate(240 124.936) rotate(180)" fill="#3369fc"/>
                    </g>
                </svg>
            {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" width="57" height="56" viewBox="0 0 57 56">
                    <g transform="translate(-201 -112)"><text transform="translate(201 147)" font-size="13" font-family="DMSans-Regular, DM Sans" letter-spacing="0.015em"><tspan x="0" y="0">NEXT</tspan><tspan x="0" y="17">PROJECT</tspan></text>
                        <path d="M.256,7.086l5.6,5.593a.874.874,0,0,0,1.235-1.236l-4.1-4.1H37.941a.874.874,0,0,0,0-1.747H2.987l4.1-4.1a.873.873,0,0,0,0-1.236.873.873,0,0,0-1.235,0L.256,5.849A.876.876,0,0,0,.256,7.086Z" transform="translate(240 124.936) rotate(180)" fill="#3369fc"/>
                    </g>
                </svg>
            {% endif %}
        </a>
        {% endif %}
    </div>
    <div class="row">
        {# Logo projet #}
        {% if node.field_logo_realisation.value is not empty %}
            <div class="col-md-4 mt-5 logo-projet--full">
                {{ content.field_logo_realisation }}
            </div>
        {% endif %}
        <div class="{% if node.field_logo_realisation.value is not empty %} col-md-8 {% else %} col-12 {% endif %} my-5">

            <div class="mb-3 text-primary">{{ content.body }}</div>

            <div class="section-infos-tech-principal">
                
                {% if node.field_adresse_rue_realisation.value is not empty or node.field_adresse_cp_realisation.value is not empty or node.field_adresse_cp_realisation.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_adresse_rue_realisation.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8"><div class="d-flex flex-wrap">{{ content.field_adresse_rue_realisation }}&nbsp;{{ content.field_adresse_cp_realisation }}&nbsp;{{ content.field_adresse_ville_realisation }}</div></div>
                    </div>
                {% endif %}
                {% if node.field_destination.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_destination.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_destination }}</div>
                    </div>
                {% endif %}
                {% if node.field_investisseur.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_investisseur.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_investisseur }}</div>
                    </div>
                {% endif %}
                {% if node.field_preneur_realisation.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_preneur_realisation.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_preneur_realisation }}</div>
                    </div>
                {% endif %}
                {% if node.field_promoteur.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_promoteur.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_promoteur }}</div>
                    </div>
                {% endif %}
                {% if node.field_mod.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_mod.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_mod }}</div>
                    </div>
                {% endif %}
                {% if node.field_architecte.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_architecte.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_architecte }}</div>
                    </div>
                {% endif %}
                {% if node.field_moe.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_moe.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_moe }}</div>
                    </div>
                {% endif %}
                {% if node.field_date_livraison_realisation.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_date_livraison_realisation.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_date_livraison_realisation }}</div>
                    </div>
                {% endif %}
                {% if node.field_certification.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_certification.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_certification }}</div>
                    </div>
                {% endif %}
                {% if node.field_locataire.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_locataire.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_locataire }}</div>
                    </div>
                {% endif %}
                {% if node.field_livraison.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_livraison.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_livraison }}</div>
                    </div>
                {% endif %}
                {% if node.field_chiffre_d_affaire_de_l_ope.value is not empty %}
                    <div class="row mb-4 mb-lg-0">
                        <div class="col-12 col-md-4"><p class="font-weight-bold">{{ node.field_chiffre_d_affaire_de_l_ope.fielddefinition.label }}</p></div>
                        <div class="col-12 col-md-8">{{ content.field_chiffre_d_affaire_de_l_ope }}</div>
                    </div>
                {% endif %}
                

            </div>

            {# LES CHAMPS GESTION DES QUANTITES #}
            <div class="anim-fields mt-4">
                {# CHAMPS SURFACE #}
                {% if node.field_surface_realisation.value is not empty %}
                    <div class="anim-fields__item">
					<span class="anim-fields__label">
                        <span>{{ node.field_surface_realisation.fielddefinition.label }} -</span>
						<span class="animchiffre" data-value="{{ node.field_surface_realisation.value }}">0</span>{# m2 #}
                        <span>{{ node.field_surface_realisation.fielddefinition.settings.suffix }}</span>
					</span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS BUREAUX #}
                {% if node.field_bureaux_realisation.value is not empty %}
                    <div class="anim-fields__item">
					<span class="anim-fields__label">
                        <span>{{ node.field_bureaux_realisation.fielddefinition.label }} -</span>
						<span class="animchiffre" data-value="{{ node.field_bureaux_realisation.value }}">0</span>
                        <span>{{ node.field_bureaux_realisation.fielddefinition.settings.suffix }}</span>
					</span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS LOGEMENT  + TARGET FUNCTION ANIM#}
                {% if node.field_logement_realisation.value is not empty %}
                    <div class="anim-fields__item">
                        <span class="anim-fields__label">
                            <span>{{ node.field_logement_realisation.fielddefinition.label }} -</span>
                            <span class="animchiffre" data-value="{{ node.field_logement_realisation.value }}">0</span>
                            <span>{{ node.field_logement_realisation.fielddefinition.settings.suffix }}</span>
                        </span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS HOTEL #}
                {% if node.field_hotel_realisation.value is not empty %}
                    <div class="anim-fields__item">
                        <span class="anim-fields__label">
                            <span>{{ node.field_hotel_realisation.fielddefinition.label }} -</span>
                            <span class="animchiffre" data-value="{{ node.field_hotel_realisation.value }}">0</span>
                            <span>{{ node.field_hotel_realisation.fielddefinition.settings.suffix }}</span>
                        </span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS HOSPITALIER #}
                {% if node.field_hospitalier_realisation.value is not empty %}
                    <div class="anim-fields__item">
					<span class="anim-fields__label">
                        <span>{{ node.field_hospitalier_realisation.fielddefinition.label }} -</span>
						<span class="animchiffre" data-value="{{ node.field_hospitalier_realisation.value }}">0</span>
                        <span>{{ node.field_hospitalier_realisation.fielddefinition.settings.suffix }}</span>
					</span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS RESIDENCE SENIOR #}
                {% if node.field_res_senior_realisation.value is not empty %}
                    <div class="anim-fields__item">
					<span class="anim-fields__label">
                        <span>{{ node.field_res_senior_realisation.fielddefinition.label }} -</span>
						<span class="animchiffre" data-value="{{ node.field_res_senior_realisation.value }}">0</span>
                        <span>{{ node.field_res_senior_realisation.fielddefinition.settings.suffix }}</span>
					</span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS RESIDENCE ETUDIANTE #}
                {% if node.field_res_etudiante_realisation.value is not empty %}
                    <div class="anim-fields__item">
					<span class="anim-fields__label">
                        <span>{{ node.field_res_etudiante_realisation.fielddefinition.label }} -</span>
						<span class="animchiffre" data-value="{{ node.field_res_etudiante_realisation.value }}">0</span>
                        <span>{{ node.field_res_etudiante_realisation.fielddefinition.settings.suffix }}</span>
					</span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS RESIDENCE JEUNE SALARIES #}
                {% if node.field_res_jeunes_sal_realisation.value is not empty %}
                    <div class="anim-fields__item">
                        <span class="anim-fields__label">
                            <span>{{ node.field_res_jeunes_sal_realisation.fielddefinition.label }} -</span>
                            <span class="animchiffre" data-value="{{ node.field_res_jeunes_sal_realisation.value }}">0</span>
                            <span>{{ node.field_res_jeunes_sal_realisation.fielddefinition.settings.suffix }}</span>
                        </span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS COLIVING #}
                {% if node.field_coliving_realisation.value is not empty %}
                    <div class="anim-fields__item">
                        <span class="anim-fields__label">
                            <span>{{ node.field_coliving_realisation.fielddefinition.label }} -</span>
                            <span class="animchiffre" data-value="{{ node.field_coliving_realisation.value }}">0</span>
                            <span>{{ node.field_coliving_realisation.fielddefinition.settings.suffix }}</span>
                        </span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS COMMERCE #}
                {% if node.field_commerce_realisation.value is not empty %}
                    <div class="anim-fields__item">
                        <span class="anim-fields__label">
                            <span>{{ node.field_commerce_realisation.fielddefinition.label }} -</span>
                            <span class="animchiffre" data-value="{{ node.field_commerce_realisation.value }}">0</span>
                            <span>{{ node.field_commerce_realisation.fielddefinition.settings.suffix }}</span>
                        </span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
                {# CHAMPS SHOWROOM #}
                {% if node.field_showroom_realisation.value is not empty %}
                    <div class="anim-fields__item">
                        <span class="anim-fields__label">
                            <span>{{ node.field_showroom_realisation.fielddefinition.label }} -</span>
                            <span class="animchiffre" data-value="{{ node.field_showroom_realisation.value }}">0</span>
                            <span>{{ node.field_showroom_realisation.fielddefinition.settings.suffix }}</span>
                        </span>
                        <div class="barre">
                            <svg viewbox="0 0 272 8" xmlns="http://www.w3.org/2000/svg"><path d="m-0-0h120v8h-120v-8z" fill="#8fabfd" fill-rule="evenodd"/><path d="m119-0h120v8h-120v-8z" fill="#698ffd" fill-rule="evenodd"/><path d="m239-0h33v8h-33v-8z" fill="#3269ff" fill-rule="evenodd"/></svg>
                        </div>
                    </div>
                {% endif %}
            </div>



            {# CHAMP FICHIER PDF ASSOCIE & LIEN VERS LE SITE #}
            <div class="mt-4 d-flex"  data-scroll data-scroll-call="animBarres" data-scroll-repeat>
                {{ content.field_fichier_pdf_realisation }}
                {% if node.field_lien_voir_site_realisation.value is not empty %}<p class="mx-4">|</p><a class="font-weight-bold" target="_blank" href="{{ node.field_lien_voir_site_realisation.value }}">{{ "see the site [+]"|t }}</a>{% endif %}
            </div>

            {# CHAMP CONTACT #}
            {% if node.field_contact_realisation.value is not empty %}
                <div class="contact-bloc">{{ content.field_contact_realisation }}</div>
            {% endif %}

        </div>
    </div>
</div>



{# Photos #}
{#{% if node.field_image_1_mos_realisation.value is not empty %}#}
{#<div class="container">#}
{#    <div class="row">#}
{#        <div class="col-12">#}
{#            <div class="realisations__detail-grid-container">#}
{#                <a class="photo-1" data-fslightbox="gallery" href="{{ file_url(node.field_image_1_mos_realisation|file_uri) }}">#}
{#                    {% if node.field_image_1_mos_realisation.value is not empty %}#}
{#                        <div style="background: url('{{ node.field_image_1_mos_realisation|file_uri|image_style("max_650x650") }}') no-repeat center / cover"></div>#}
{#                    {% endif %}#}
{#                </a>#}
{#                <a class="photo-2" data-fslightbox="gallery" href="{{ file_url(node.field_image_2_mos_realisation|file_uri) }}">#}
{#                    {% if node.field_image_2_mos_realisation.value is not empty %}#}
{#                        <div style="background: url('{{ node.field_image_2_mos_realisation|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>#}
{#                    {% endif %}#}
{#                </a>#}
{#                <a class="photo-3" data-fslightbox="gallery" href="{{ file_url(node.field_image_3_mos_realisation|file_uri) }}">#}
{#                    {% if node.field_image_3_mos_realisation.value is not empty %}#}
{#                        <div style="background: url('{{ node.field_image_3_mos_realisation|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>#}
{#                    {% endif %}#}
{#                </a>#}
{#                <a class="photo-4" data-fslightbox="gallery" href="{{ file_url(node.field_image_4_mos_realisation|file_uri) }}">#}
{#                    {% if node.field_image_4_mos_realisation.value is not empty %}#}
{#                        <div style="background: url('{{ node.field_image_4_mos_realisation|file_uri|image_style("vertical_full") }}') no-repeat center / cover"></div>#}
{#                    {% endif %}#}
{#                </a>#}
{#                <a class="photo-5" data-fslightbox="gallery" href="{{ file_url(node.field_image_5_mos_realisation|file_uri) }}">#}
{#                    {% if node.field_image_5_mos_realisation.value is not empty %}#}
{#                        <div style="background: url('{{ node.field_image_5_mos_realisation|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>#}
{#                    {% endif %}#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#{% endif %}#}


{# #####################################################################################################################
## MOSAIQUE PROJET #####################################################################################################
##################################################################################################################### #}
{% if node.field_grille_image_realisation is not empty %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="realisations__detail-grid-container">
                {% for paragraph in content.field_grille_image_realisation["#items"]|slice(0, 5) %}
                    {% if loop.index == 1 %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("max_650x650") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 2  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 3  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 4  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("portrait_850x450") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 5  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="realisations__detail-grid-container">
                {% for paragraph in content.field_grille_image_realisation["#items"]|slice(5, 10) %}
                    {% if loop.index == 1 %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("max_650x650") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 2  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 3  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 4  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("portrait_850x450") }}') no-repeat center / cover"></div>
                        </a>
                    {% elseif loop.index == 5  %}
                        <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">
                            <div style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style("desktop_image_width_920") }}') no-repeat center / cover"></div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
{#            <div class="realisations__detail-grid-container">#}
{#                {% for paragraph in content.field_grille_image_realisation["#items"]|slice(5, 10) %}#}
{#                <a class="photo-{{ loop.index }}" data-fslightbox="gallery" href="{{ file_url(paragraph.entity.field_image_grille|file_uri) }}">#}
{#                    <div class="photo-{{ loop.index }}" style="background: url('{{ paragraph.entity.field_image_grille|file_uri|image_style(paragraph.entity.field_style_image_grille.value) }}') no-repeat center / cover"></div>#}
{#                </a>#}
{#                {% endfor %}#}
{#            </div>#}
        </div>
    </div>
</div>
{% endif %}


{# Gmap #}
<div class="container">
    <div class="row">
        <div class="col-12">
            {#			{{ drupal_view('realisations', 'block_1') }}#}
            {{ content.field_gps_realisation }}
        </div>
    </div>
</div>

<script src="{{ base_path ~ directory }}/assets/js/fslightbox.js"></script>
<script>
  window.addEventListener("load", function () {
    document.getElementById("play").addEventListener('click', (e) => {
      e.preventDefault();
      player.playVideo();
      document.getElementById("video-cover").style.display = "none"
      document.getElementById("play").style.display = "none"
      document.getElementById("ytplayer").style.display = "block"
    })
  });
</script>

<style>
    .youtube-container {
      position: relative;
    }
    .youtube-container svg {
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
    }
    .youtube-container #ytplayer {
      display:none;
    }
    .youtube-container img {
      width:100%;
      height:auto;
    }
    .play-btn {
      position:absolute;
      z-index:666;
      top:50%;
      left:50%;
      transform:translate(-50%, -50%);
      background-color:transparent;
      border:0;
    }
    .play-btn:hover {
      cursor:pointer;
    }
    .play-btn:focus {
      outline:0;
    }

    .photo-1 > div,
    .photo-2 > div,
    .photo-3 > div,
    .photo-4 > div,
    .photo-5 > div {
        width: 100%;
        height: 100%;
    }
    .retour {
        right: 0;
    }
    .contact-bloc:empty {
        display: none;
    }
    .breadcrumb {
        position: relative;
        top: 1rem;
    }
    .contenu{
        background:transparent;
    }
    .animchiffre{
        transition:all 400ms ease;
    }
</style>