{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
    <nav role="navigation" aria-labelledby="system-breadcrumb" class="pt-1">
        <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
        <ul>
            {% for item in breadcrumb %}
                <li>
                    {% if item.url and loop.first == true %}
                        <a href="{{ item.url }}"><i class="fa fa-home"></i></a>{% if loop.last != true %}|{% endif %}
                    {% elseif item.url %}
                        <a href="{{ item.url }}">{{ item.text }}</a>{% if loop.last != true %}|{% endif %}
                    {% else %}
                        {{ item.text }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
