{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}


{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}

	{% import _self as menus %}
  
	{% if items %}

		<div class="map__nav__container">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul{{attributes}} class="map__nav">
							<li class="map__nav__see">
							<span class="svg">
								<svg xmlns="http://www.w3.org/2000/svg" width="22.5" height="25.6" viewBox="0 0 22.5 25.6">
									<path id="mappin" d="M92.1,61.446c-2.954-1.054-3.574-2.408-3.574-3.357,0-2.606,4.393-3.789,6.977-4.186l-2.417-3.792a8.25,8.25,0,1,1,13.424-.061c-.078.111.264-.422-2.46,3.853,2.588.4,6.976,1.58,6.976,4.186,0,2.976-5.848,4.5-11.25,4.5A23.649,23.649,0,0,1,92.1,61.446Zm-2.073-3.357c0,1.265,3.849,3,9.749,3,5.935,0,9.751-1.745,9.751-3,0-.851-1.979-2.25-6.363-2.795L100.4,59.617a.749.749,0,0,1-1.264,0l-2.756-4.323C92,55.839,90.023,57.238,90.023,58.089Zm3-12.8a6.728,6.728,0,0,0,1.287,3.959c.009.012.018.025.026.038l5.437,8.532c5.823-9.136,5.446-8.551,5.518-8.645a6.7,6.7,0,0,0,1.232-3.883,6.75,6.75,0,1,0-13.5,0Zm3,0a3.751,3.751,0,1,1,3.75,3.75A3.755,3.755,0,0,1,96.022,45.289Zm1.5,0a2.25,2.25,0,1,0,2.25-2.25A2.253,2.253,0,0,0,97.522,45.289Z" transform="translate(-88.522 -36.989)" fill="#1d5cff"/>
								</svg>
							</span>
								<a href="{{ path('view.realisations.page_realisation_carte') }}" id="voir_carte">{{ "See projects on map"|t }}</a>
							</li>
							{% for item in items %}
								<li{{item.attributes}}>{{ link(item.title, item.url) }}</li>
								{% if loop.last != true %}
									<span>|</span>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

{% endmacro %}

<script>
document.querySelector('#voir_carte').addEventListener('click',()=>{
	document.querySelector('.accordeon').classList.toggle("d-none");
	document.querySelector('.map').classList.toggle("d-flex");
	locoScroll.update();
})
</script>