{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{#    <a href="{{ url('<front>') }}">#}
{#        <img class="axe-logo" src="{{ base_path ~ directory }}/images/axe-logo.png" alt="logo axe immobilier" />#}
{#    </a>#}
{#    {% if items %}#}
{#        <ul class="mp-items">#}
{#            {% for item in items %}#}
{#                <li class="mp-item">{{ link(item.title, item.url) }}</li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    {% endif %}#}


{% import _self as menus %}

<a href="{{ url('<front>') }}" class="d-flex">
    <img class="axe-logo" src="{{ base_path ~ directory }}/assets/images/logo-axe.svg" alt="logo axe immobilier" />
</a>

{% set roles = user.getroles(TRUE) %}
{% if 'administrator' in roles or 'redacteur' in roles  %}
    <div class="d-flex align-items-center">
        <a class="mx-4" href="{{ path("view.listes_des_contenus_admin.admin_list_realisation") }}">Backoffice</a>
    </div>
{% endif %}

{#
We call a macro which calls itself to render the full tree.
@see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        {% if menu_level == 0 %}
            <ul{{ attributes.addClass('mp-items') }}>
        {% else %}
            <ul class="mp-items-submenu">
        {% endif %}
        {% for item in items %}
            {% set classes = [
                    'mp-item',
                    'mp-item-' ~ loop.index,
                    item.is_expanded ? 'menu-item--expanded',
                    item.is_collapsed ? 'menu-item--collapsed',
                    item.in_active_trail ? 'menu-item--active-trail',
            ] %}
{#            {% set formatted_item_name = item.is_expanded ? item.title|replace({' ': '-'})|lower|remove_accent %}#}

            {% if loop.index != 7 %}
                <li{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url) }}
                    {% if item.below %}
                        {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                    {% endif %}
                </li>
            {% endif %}

            {% if loop.index == 7 %}
                <li {{ item.attributes.addClass(classes, "menu-item--expanded")}}>
                    {{ link(item.title, item.url) }}
                    <ul class="mp-items-submenu">
                        <li>{{ drupal_block('search_form_block') }}</li>
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}


{% endmacro %}


{#<script>#}
{#    const item_search = document.querySelector("li.mp-item-7 a");#}
{#    console.log(item_search)#}
{#    item_search.addEventListener('click', (e) => {#}
{#        e.preventDefault();#}
{#        console.log(e.target)#}
{#    })#}
{#</script>#}