{% set classes = [
	dom_id ? 'js-view-dom-id-' ~ dom_id,
] %}
{# <div{{ attributes.addClass(classes) }}> #}
{# {{ title_prefix }} #}
{# {{ title }} #}
{# {{ title_suffix }} #}

	{% if header %}
	  <header>
		  {{ header }}
	  </header>
	{% endif %}
	
	<div class="tri">
		{{ exposed }}
	</div>
	{{ attachment_before }}
	
	{% if rows -%}
		{{ rows }}
	{% elseif empty -%}
		{{ empty }}
	{% endif %}
		{{ pager }}
	
	{{ attachment_after }}
	{{ more }}
	
	{% if footer %}
		<footer>
			{{ footer }}
		</footer>
	{% endif %}
	
	{{ feed_icons }}
{# </div> #}
