{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{% set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
] %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token }}">
        <title>{{ head_title|safe_join(' | ') }}</title>
        <css-placeholder token="{{ placeholder_token }}">
            <js-placeholder token="{{ placeholder_token }}">
                </head>

<body{{ attributes.addClass(body_classes) }}>
    {#
    Keyboard navigation/accessibility link to main content section in
    page.html.twig.
    #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
        {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}

    {# /////////////////////////////////////////////////////////////////////////////////////// #}
    {# --------------------------------------------------------------------------------------- #}
    {# MODIF PERSO POUR AJOUTER UN MENU A GAUCHE DANS L'ADMIN POUR LES CLIENTS #}
    <div class="wrapper-admin">

        {# Sidebar client pour la gestion du site -------------------------------------------- #}
        <div class="menu-admin-client active">
            {{ page.menu_admin_de_gauche }}
            <div class="btn-toggle-sidebar">
                <a href="#" class="toggle-sidebar" role="button" aria-pressed="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14"><path d="M 1.7109375,0.31445312 0.2890625,1.7226562 5.5917969,7.0761719 0.2890625,12.429688 1.7109375,13.837891 8.4082031,7.0761719 Z" fill="#999999"/></svg>
                    <span>{{ 'Close'|t }}</span>
                </a>
            </div>
            <div class="btn-deconnexion">
                <a href="/user/logout">
                <i class="fa fa-times" aria-hidden="true"></i>
                <span>Déconnexion</span>
                </a>
            </div>
        </div>
        {# ----------------------------------------------------------------------------------- #}

        <div class="contenu-admin">{{ page }}</div> {# Contenu de l'administration #}

    </div>
    {# --------------------------------------------------------------------------------------- #}
    {# /////////////////////////////////////////////////////////////////////////////////////// #}


    {{ page_bottom }}

    <js-bottom-placeholder token="{{ placeholder_token }}">

</body>

</html>
