{#
    APPARAIT SUR LA PAGE :  /actualites/revue-presse/[node:field_secteur_actualite_rev_pres]/[node:title]
#}
<section class="layout-container container-fluid">
    <div class="actualites-full row">
        <div class="col-lg-4 p-0">
            {# IMAGE #}
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for item in drupal_field('field_image_principal_revue_pres', 'node', node.id)['#items'] %}
                        <div class="swiper-slide bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('crop_650x650')) }}')"></div>
                    {% endfor %}
                </div>
                <!-- Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <!-- Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            {# LITE DE POSTS #}
            <div class="derniers-articles h-auto d-none d-lg-flex">
                {{ page.content_left }}
            </div>
        </div>
        {# CONTENU #}
        <div class="col-lg-8 p-0 contenu">
            {# HEADER #}
            <header class="titre-container">
                {{ page.breadcrumb }}
                <h1>{{ "Our news"|t }}</h1>
                {# BOUTON RETOUR #}
                <a href="{{ path("view.actualites.actualites") }}" title="Retour Liste" class="retour">
                    {% if language == "fr" %}
                        <svg class="d-none d-md-block" xmlns="http://www.w3.org/2000/svg" width="227.885" height="14.039" viewBox="0 0 227.885 14.039">
                            <g id="retour_liste" transform="translate(-304 -103.897)">
                                <path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-31.514 -101.911)" fill="#3369fc"/>
                                <path id="Tracé_77" data-name="Tracé 77" d="M.962,0V-9.1H3.9a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L7.059,0H5.772L3.926-3.757H2.054V0ZM2.054-4.615H3.822a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3A1.73,1.73,0,0,0,5.362-7.7a2.136,2.136,0,0,0-1.553-.475H2.054ZM8.866,0V-9.1H14.5v.9H9.958v3.172H14.1v.884H9.958V-.9H14.5V0Zm9.659,0V-8.2H15.808v-.9h6.526v.9H19.617V0Zm9.009.156a4.549,4.549,0,0,1-2.347-.592,4.114,4.114,0,0,1-1.573-1.657,5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1,23.615-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1,31.46-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,29.893-.436,4.575,4.575,0,0,1,27.534.156Zm0-.962A3.4,3.4,0,0,0,29.3-1.255a3.043,3.043,0,0,0,1.183-1.287A4.419,4.419,0,0,0,30.9-4.55a4.378,4.378,0,0,0-.423-2A3.051,3.051,0,0,0,29.3-7.833a3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.762.448A3.051,3.051,0,0,0,24.59-6.552a4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,27.534-.806Zm9.542.962a3.822,3.822,0,0,1-1.7-.37,2.823,2.823,0,0,1-1.215-1.151,3.905,3.905,0,0,1-.455-1.989V-9.1H34.8v5.759a2.535,2.535,0,0,0,.637,1.924,2.333,2.333,0,0,0,1.664.6,2.286,2.286,0,0,0,1.651-.6,2.567,2.567,0,0,0,.624-1.924V-9.1h1.092v5.746a3.905,3.905,0,0,1-.455,1.989A2.814,2.814,0,0,1,38.792-.214,3.894,3.894,0,0,1,37.076.156ZM42.51,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.461,1.547,2.494,2.494,0,0,1-1.437.975L48.607,0H47.32L45.474-3.757H43.6V0ZM43.6-4.615H45.37A2.032,2.032,0,0,0,46.9-5.122a1.812,1.812,0,0,0,.481-1.3A1.73,1.73,0,0,0,46.91-7.7a2.136,2.136,0,0,0-1.553-.475H43.6ZM53.482,0l3.354-9.1h1.157L61.334,0H60.177l-.832-2.34H55.471L54.626,0ZM55.8-3.224H59.02l-1.612-4.5Zm2.2-6.409-2.73-1.521V-12.1l2.73,1.651ZM66.521,0V-9.1h1.092l4.849,7.293V-9.1h1.092V0H72.462L67.613-7.293V0ZM79.807.156A4.549,4.549,0,0,1,77.46-.436a4.114,4.114,0,0,1-1.573-1.657,5.165,5.165,0,0,1-.565-2.457A5.126,5.126,0,0,1,75.887-7,4.17,4.17,0,0,1,77.46-8.658a4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1,83.733-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,82.166-.436,4.575,4.575,0,0,1,79.807.156Zm0-.962a3.4,3.4,0,0,0,1.761-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.761.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,79.807-.806Zm9.152.962a3.909,3.909,0,0,1-1.742-.364,2.72,2.72,0,0,1-1.144-1.014,2.8,2.8,0,0,1-.4-1.508h1.144a2,2,0,0,0,.247.982,1.818,1.818,0,0,0,.722.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442A1.406,1.406,0,0,0,90.9-2.314a1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.631-.539,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.073-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.294,2.383,2.383,0,0,1,.994-.884,3.409,3.409,0,0,1,1.528-.319,3.32,3.32,0,0,1,1.514.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.37,1.3H90.584a1.59,1.59,0,0,0-.195-.747,1.522,1.522,0,0,0-.591-.6A1.93,1.93,0,0,0,88.8-8.32a1.8,1.8,0,0,0-1.215.377,1.32,1.32,0,0,0-.475,1.079,1.172,1.172,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.293,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,88.959.156ZM96.837,0l3.354-9.1h1.157L104.689,0h-1.157L102.7-2.34H98.826L97.981,0Zm2.314-3.224h3.224l-1.612-4.5ZM109.707.156A4.342,4.342,0,0,1,107.4-.436a3.988,3.988,0,0,1-1.5-1.651,5.413,5.413,0,0,1-.533-2.463A5.383,5.383,0,0,1,105.9-7a4.032,4.032,0,0,1,1.5-1.657,4.305,4.305,0,0,1,2.308-.6,4.08,4.08,0,0,1,2.541.748A3.361,3.361,0,0,1,113.5-6.422h-1.209a2.426,2.426,0,0,0-.852-1.359,2.705,2.705,0,0,0-1.735-.514,3.181,3.181,0,0,0-1.7.449,2.947,2.947,0,0,0-1.124,1.287,4.664,4.664,0,0,0-.4,2.009,4.664,4.664,0,0,0,.4,2.008A2.947,2.947,0,0,0,108-1.255a3.181,3.181,0,0,0,1.7.449,2.754,2.754,0,0,0,1.735-.5,2.36,2.36,0,0,0,.852-1.332H113.5a3.319,3.319,0,0,1-1.255,2.054A4.105,4.105,0,0,1,109.707.156ZM117.182,0V-8.2h-2.717v-.9h6.526v.9h-2.717V0Zm8.632.156a3.822,3.822,0,0,1-1.7-.37A2.823,2.823,0,0,1,122.9-1.365a3.905,3.905,0,0,1-.455-1.989V-9.1h1.092v5.759a2.535,2.535,0,0,0,.637,1.924,2.333,2.333,0,0,0,1.664.6,2.286,2.286,0,0,0,1.651-.6,2.567,2.567,0,0,0,.624-1.924V-9.1h1.092v5.746a3.905,3.905,0,0,1-.455,1.989A2.814,2.814,0,0,1,127.53-.214,3.894,3.894,0,0,1,125.814.156ZM130.286,0l3.354-9.1H134.8L138.138,0h-1.157l-.832-2.34h-3.874L131.43,0ZM132.6-3.224h3.224l-1.612-4.5ZM139.685,0V-9.1h1.092V-.871h4.238V0Zm7.02,0V-9.1H147.8V0Zm5.343,0V-8.2h-2.717v-.9h6.526v.9H153.14V0Zm5.343,0V-9.1h5.629v.9h-4.537v3.172h4.147v.884h-4.147V-.9h4.537V0Zm2.3-9.633v-.819l2.73-1.651v.949ZM167.817.156a3.909,3.909,0,0,1-1.742-.364,2.72,2.72,0,0,1-1.144-1.014,2.8,2.8,0,0,1-.4-1.508h1.144a2,2,0,0,0,.247.982,1.818,1.818,0,0,0,.721.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442,1.406,1.406,0,0,0,.507-1.105,1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.63-.539,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.072-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.294,2.383,2.383,0,0,1,.995-.884,3.409,3.409,0,0,1,1.527-.319,3.32,3.32,0,0,1,1.514.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.37,1.3h-1.144a1.591,1.591,0,0,0-.195-.747,1.522,1.522,0,0,0-.592-.6,1.93,1.93,0,0,0-.994-.234,1.8,1.8,0,0,0-1.215.377,1.32,1.32,0,0,0-.475,1.079,1.173,1.173,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.292,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,167.817.156Z" transform="translate(361 116)"/>
                            </g>
                        </svg>
                        <svg class="d-block d-md-none" xmlns="http://www.w3.org/2000/svg" width="38.814" height="12.936" viewBox="0 0 38.814 12.936">
                            <path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-335.514 -206.911)" fill="#3369fc"/>
                        </svg>
                    {% else %}
                        <svg class="d-none d-md-block" xmlns="http://www.w3.org/2000/svg" width="227.885" height="14.039" viewBox="0 0 181.6 12.9">
                            <style type="text/css">.st0{fill:#3369FC;}</style>
                            <g transform="translate(-304 -105)">
                                <path class="st0" d="M304.3,110.8l5.6-5.6c0.4-0.3,0.9-0.3,1.2,0.1c0.3,0.3,0.3,0.8,0,1.1l-4.1,4.1h35c0.5,0,0.9,0.4,0.8,0.9   c0,0.5-0.4,0.8-0.8,0.8h-35l4.1,4.1c0.4,0.3,0.4,0.9,0,1.2c-0.3,0.4-0.9,0.4-1.2,0c0,0,0,0,0,0l-5.6-5.6   C303.9,111.7,303.9,111.2,304.3,110.8C304.3,110.9,304.3,110.9,304.3,110.8z"/>
                            </g>
                            <g>
                                <path d="M59.2,11.2V2.1h3.2c0.6,0,1.2,0.1,1.6,0.3c0.4,0.2,0.7,0.5,0.9,0.8s0.3,0.7,0.3,1.2c0,0.6-0.2,1.1-0.5,1.4   s-0.7,0.6-1.1,0.7c0.3,0.1,0.6,0.2,0.9,0.4s0.5,0.5,0.7,0.8c0.2,0.3,0.2,0.7,0.2,1c0,0.5-0.1,0.9-0.3,1.3s-0.6,0.7-1,0.9   c-0.4,0.2-1,0.3-1.6,0.3H59.2z M60.3,6h2c0.6,0,1-0.1,1.3-0.4C64,5.4,64.2,5,64.2,4.5c0-0.5-0.2-0.8-0.5-1.1S62.9,3,62.3,3h-2V6z    M60.3,10.3h2.1c0.6,0,1.1-0.1,1.4-0.4s0.5-0.7,0.5-1.2c0-0.5-0.2-0.9-0.5-1.2c-0.4-0.3-0.8-0.5-1.4-0.5h-2.1V10.3z"/>
                                <path d="M66.3,11.2l3.4-9.1h1.2l3.3,9.1H73l-0.8-2.3h-3.9l-0.8,2.3H66.3z M68.6,7.9h3.2l-1.6-4.5L68.6,7.9z"/>
                                <path d="M79,11.3c-0.9,0-1.7-0.2-2.3-0.6s-1.1-0.9-1.5-1.7c-0.4-0.7-0.5-1.5-0.5-2.5c0-0.9,0.2-1.7,0.5-2.5   c0.4-0.7,0.9-1.3,1.5-1.7c0.6-0.4,1.4-0.6,2.3-0.6c1,0,1.9,0.2,2.5,0.7c0.7,0.5,1.1,1.2,1.3,2.1h-1.2c-0.1-0.6-0.4-1-0.9-1.4   s-1-0.5-1.7-0.5c-0.7,0-1.2,0.1-1.7,0.4c-0.5,0.3-0.9,0.7-1.1,1.3c-0.3,0.6-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2   c0.3,0.6,0.6,1,1.1,1.3s1.1,0.4,1.7,0.4c0.7,0,1.3-0.2,1.7-0.5s0.7-0.8,0.9-1.3h1.2c-0.2,0.9-0.6,1.6-1.3,2.1S80,11.3,79,11.3z"/>
                                <path d="M84.4,11.2V2.1h1.1v4.1l3.8-4.1h1.4l-3.4,3.6l3.4,5.5h-1.3l-2.9-4.6l-1,1.1v3.5H84.4z"/>
                                <path d="M97.5,11.2V3h-2.7V2.1h6.5V3h-2.7v8.2H97.5z"/>
                                <path d="M106.3,11.3c-0.9,0-1.7-0.2-2.3-0.6c-0.7-0.4-1.2-0.9-1.6-1.7c-0.4-0.7-0.6-1.5-0.6-2.5s0.2-1.7,0.6-2.5   c0.4-0.7,0.9-1.3,1.6-1.7c0.7-0.4,1.5-0.6,2.3-0.6c0.9,0,1.7,0.2,2.4,0.6c0.7,0.4,1.2,1,1.6,1.7c0.4,0.7,0.6,1.5,0.6,2.5   s-0.2,1.7-0.6,2.5c-0.4,0.7-0.9,1.3-1.6,1.7C108,11.1,107.2,11.3,106.3,11.3z M106.3,10.4c0.7,0,1.3-0.1,1.8-0.4s0.9-0.7,1.2-1.3   c0.3-0.6,0.4-1.2,0.4-2c0-0.8-0.1-1.4-0.4-2c-0.3-0.6-0.7-1-1.2-1.3s-1.1-0.4-1.8-0.4c-0.7,0-1.3,0.1-1.8,0.4   c-0.5,0.3-0.9,0.7-1.2,1.3s-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2c0.3,0.6,0.7,1,1.2,1.3C105.1,10.2,105.7,10.4,106.3,10.4z"/>
                                <path d="M120,11.3c-0.9,0-1.7-0.2-2.3-0.6c-0.7-0.4-1.2-0.9-1.6-1.7c-0.4-0.7-0.6-1.5-0.6-2.5s0.2-1.7,0.6-2.5   c0.4-0.7,0.9-1.3,1.6-1.7c0.7-0.4,1.5-0.6,2.3-0.6c0.9,0,1.7,0.2,2.4,0.6c0.7,0.4,1.2,1,1.6,1.7c0.4,0.7,0.6,1.5,0.6,2.5   s-0.2,1.7-0.6,2.5c-0.4,0.7-0.9,1.3-1.6,1.7C121.7,11.1,120.9,11.3,120,11.3z M120,10.4c0.7,0,1.3-0.1,1.8-0.4s0.9-0.7,1.2-1.3   c0.3-0.6,0.4-1.2,0.4-2c0-0.8-0.1-1.4-0.4-2c-0.3-0.6-0.7-1-1.2-1.3s-1.1-0.4-1.8-0.4c-0.7,0-1.3,0.1-1.8,0.4   c-0.5,0.3-0.9,0.7-1.2,1.3s-0.4,1.2-0.4,2c0,0.8,0.1,1.4,0.4,2c0.3,0.6,0.7,1,1.2,1.3C118.7,10.2,119.3,10.4,120,10.4z"/>
                                <path d="M129.3,11.3c-0.6,0-1.2-0.1-1.7-0.4s-0.9-0.6-1.2-1.2s-0.5-1.2-0.5-2V2.1h1.1v5.8c0,0.9,0.2,1.5,0.6,1.9   c0.4,0.4,1,0.6,1.7,0.6c0.7,0,1.2-0.2,1.7-0.6s0.6-1,0.6-1.9V2.1h1.1v5.7c0,0.8-0.2,1.5-0.5,2c-0.3,0.5-0.7,0.9-1.2,1.2   S129.9,11.3,129.3,11.3z"/>
                                <path d="M134.5,11.2V2.1h2.9c0.7,0,1.3,0.1,1.7,0.4c0.5,0.2,0.8,0.6,1,1c0.2,0.4,0.3,0.9,0.3,1.4c0,0.6-0.2,1.1-0.5,1.5   c-0.3,0.5-0.8,0.8-1.4,1l2,3.9h-1.3l-1.8-3.8h-0.1h-1.8v3.8H134.5z M135.6,6.5h1.8c0.7,0,1.2-0.2,1.5-0.5c0.3-0.3,0.5-0.8,0.5-1.3   c0-0.5-0.2-1-0.5-1.3c-0.3-0.3-0.8-0.5-1.6-0.5h-1.8V6.5z"/>
                                <path d="M145.7,11.2V2.1h1.1l4.8,7.3V2.1h1.1v9.1h-1.1l-4.8-7.3v7.3H145.7z"/>
                                <path d="M154.7,11.2V2.1h5.6V3h-4.5v3.2h4.1V7h-4.1v3.2h4.5v0.9H154.7z"/>
                                <path d="M163.9,11.2l-2.5-9.1h1.2l2,7.8l2.2-7.8h1.2l2.2,7.8l2-7.8h1.2l-2.5,9.1h-1.2l-2.2-7.5l-2.2,7.5L163.9,11.2z"/>
                                <path d="M177.2,11.3c-0.7,0-1.2-0.1-1.7-0.4c-0.5-0.2-0.9-0.6-1.1-1C174.1,9.5,174,9,174,8.4h1.1c0,0.4,0.1,0.7,0.2,1   s0.4,0.5,0.7,0.7c0.3,0.2,0.7,0.3,1.2,0.3c0.6,0,1.1-0.1,1.4-0.4s0.5-0.7,0.5-1.1c0-0.4-0.1-0.7-0.2-0.9c-0.2-0.2-0.4-0.4-0.6-0.5   s-0.6-0.3-0.9-0.4s-0.7-0.2-1.1-0.4c-0.7-0.2-1.2-0.5-1.6-0.9c-0.3-0.4-0.5-0.8-0.5-1.4c0-0.5,0.1-0.9,0.3-1.3   c0.2-0.4,0.6-0.7,1-0.9c0.4-0.2,0.9-0.3,1.5-0.3c0.6,0,1.1,0.1,1.5,0.3c0.4,0.2,0.8,0.5,1,0.9c0.2,0.4,0.4,0.8,0.4,1.3h-1.1   c0-0.3-0.1-0.5-0.2-0.7s-0.3-0.4-0.6-0.6c-0.3-0.2-0.6-0.2-1-0.2c-0.5,0-0.9,0.1-1.2,0.4c-0.3,0.3-0.5,0.6-0.5,1.1   c0,0.4,0.1,0.7,0.3,0.9s0.5,0.4,0.9,0.5c0.4,0.1,0.9,0.3,1.4,0.5c0.4,0.2,0.8,0.3,1.2,0.5s0.6,0.5,0.8,0.8c0.2,0.3,0.3,0.7,0.3,1.3   c0,0.4-0.1,0.8-0.3,1.2s-0.6,0.7-1,0.9C178.5,11.2,177.9,11.3,177.2,11.3z"/>
                            </g>
                        </svg>
                        <svg class="d-block d-md-none" xmlns="http://www.w3.org/2000/svg" width="38.814" height="12.936" viewBox="0 0 38.814 12.936">
                            <path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-335.514 -206.911)" fill="#3369fc"/>
                        </svg>
                    {% endif %}
                </a>
            </header>
            {# CONTENU ARTICLE #}
            <article class="intro">
                {{ page.content }}
                {{ page.content_right }}
            </article>
        </div>
    </div>
</section>
<script type="module">
    window.addEventListener("load", function () {
        const swiper = new Swiper('.swiper-container', {
            effect: 'fade',
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>
<style>
    .bg-vertical {
        background-size: cover !important;
        width: 100%;
        height: 60vh;
    }

    {% if language == "fr" %}
        [id^="block-next-prev-"] .next-link { background: url({{ base_path ~ directory }}/assets/images/suivant.svg) no-repeat top; }
        [id^="block-next-prev-"] .prev-link { background: url({{ base_path ~ directory }}/assets/images/precedent.svg) no-repeat bottom; }
    {% else %}
        [id^="block-next-prev-"] .next-link { background: url({{ base_path ~ directory }}/assets/images/next-post-en.svg) no-repeat top; }
        [id^="block-next-prev-"] .prev-link { background: url({{ base_path ~ directory }}/assets/images/prev-post-en.svg) no-repeat bottom; }
    {% endif %}
</style>
{{ attach_library('axe_theme/actualites') }}
