{#
APPARAIT SUR LES PAGES :
    - /actualites
    - /actualites/communique-de-presse
    - /actualites/news
    - /actualites/revue-presse
    - /actualites/revue-web
#}


<div class="layout-container container-fluid">
	<section class="actualites">
		<div class="row">
			<div class="col-12 col-xl-8 p-0 offset-xl-4">
				<header class="titre-container">
					{{ page.breadcrumb }}
					<h1>
						{{ page["#title"] }}
					</h1>
				</header>
			</div>
		</div>
		<div class="row">
			<div id="contenu-de-gauhe" class="col-12 col-xl-4">
				{{ page.content_left }}
			</div>
			<div id="contenu-de-droite" class="col-12 col-xl-8 p-0">
				
				{# Filtres #}
{#				<div class="tri">#}
{#					<form action="" class="tri__form">#}
{#						<div class="select-container">#}
{#							<label for="tri">Trier par</label>#}
{#							<select name="tri" id="tri">#}
{#								<option value="volvo">Du plus récent</option>#}
{#								<option value="volvo">Du plus ancien</option>#}
{#							</select>#}
{#						</div>#}
{#					</form>#}
{#				</div>#}
				
				{# Liste posts #}
				{{ page.content }}
				
				{# {{ page.content_right }} #}
			</div>
		</div>
	</section>
</div>
{{ attach_library('axe_theme/actualites') }}
{{ attach_library('axe_theme/infinite-scroll') }}

<script>
    window.addEventListener("load", function () {
        const elem = document.querySelector('#block-axe-theme-content');
        const nav_pagination = document.querySelector('#block-axe-theme-content nav[role="navigation"]');
        if (typeof (nav_pagination) != 'undefined' && nav_pagination != null) {
            const infScroll = new InfiniteScroll(elem, {
                path: '[rel="next"]',
                append: '.views-row',
                history: false,
            });
        }
        else { return }
    });
</script>

<style>
    #block-axe-theme-content nav[role="navigation"] { display: none; }
</style>