@import "../variables";

// .accueil {
//   header.header-home {
//     //display: flex;
//     // width: 100%;
//     height: 90vh;
//     .img-header {
//       //width: 72%;
//       overflow: hidden;
//       position: relative;
//       .bg-header {
//         height: 100%;
//         background-size: cover !important;
//         animation: bg-dezooming 16s linear;
//       }
//       .titre-principal {
//         position: absolute;
//         color: $blanc;
//         font-size: 60px;
//         font-weight: bold;
//         top: 50%;
//         left: 5rem;
//         transform: translateY(-50%);
//       }
//     }
//     .derniers-articles {
//       //width: 28%;
//       height: 100%;
//       padding: 10rem 3rem;
//       .block-derniers-articles {
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//         .views-row {
//           margin: 2rem 0;
//           p {
//             font-size: 20px;
//             text-transform: uppercase;
//           }
//         }
//       }
//     }
//   }
// }

// @keyframes bg-dezooming {
//   from {
//     transform: scale(1.2);
//   }
//   to {
//     transform: scale(1);
//   }
// }
