@import "../variables";
// ################################################################################################################## //
// ## CONTENU DROITE ################################################################################################ //
// ################################################################################################################## //
#contenu-de-droite {
  form.views-exposed-form {
    padding: 1rem;
    margin-bottom: 1rem;
    //display: none;
    fieldset.js-form-wrapper {
      legend {
        display: none;
      }
      .js-form-item {
        margin: 0 10px !important;
        float: none;
        @include media-min($md) {
          float: left;
        }
        input {
          display: none;
        }
        label {
          font-size: 18px !important;
          text-transform: uppercase !important;
        }
      }
    }
  }
}
// ################################################################################################################## //
// ## LISTE DES ACTUS ################################################################################################ //
// ################################################################################################################## //
section.actualites {
  // -----------------------------------------------------------------------------------------------------------------
  #contenu-de-gauhe {
    // ---------------------------------------------------------------------------------------------
    ul.menu-type-actualites {
      @include media-min($xl) {
        margin-left: 1rem;
      }
      li {
        list-style: none;
        a {
          color: darken($gris, 7%);
          @include fluid-it(font-size, 1024px, 1920px, 16px, 24px);
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          &.is-active {
            color: $bleu;
          }
          transition: color ease 0.6s;
          &:hover {
            color: $bleu;
          }
        }
      }
    }
  }
  // -----------------------------------------------------------------------------------------------------------------
  #contenu-de-droite {
    article {
      position: relative;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem;
      padding: 1rem;
      border: 1px solid $noir;
      transition: left ease 0.6s;
      @include media-min($xl) {
        margin: 0 0 1.5rem 0;
        padding: unset;
        flex-wrap: nowrap;
        border: unset;
      }
      .preview-article-content {
        position: relative;
        width: 100%;
        text-transform: uppercase;
        @include media-min($md) {
          max-width: 380px;
          align-self: center;
          margin-left: 2rem;
          margin-right: auto;
        }
        @include media-min($xl) {
          max-width: unset;
          height: 274px;
          margin: 0 1.5rem;
          padding: 2rem;
          border: 1px solid $noir;
        }
        h2 > a {
          @include fluid-it(font-size, 1024px, 1920px, 16px, 24px);
          text-decoration: none;
          color: $bleu;
        }
        a.fleche-droite {
          display: none;
          @include media-min($xl) {
            display: block;
          }
          img {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            width: 6rem;
            transform: scale(0.5);
            transform-origin: right;
          }
        }
      }
    }
  }
}
.preview-article-content {
  p.type-actu-date {
    @include fluid-it(font-size, 1024px, 1920px, 13px, 16px);
    @include fluid-it(margin-bottom, 1024px, 1920px, 4px, 8px);
  }
}
.actualites-full {
  p.type-actu-date {
    @include fluid-it(margin-bottom, 1024px, 1920px, 32px, 48px);
  }
  .preview-article-img img,
  article a {
    @media (max-width: $md - 1) {
      width: 100%;
      height: auto;
    }
  }
  .preview-article-img {
    margin-bottom: 24px;
  }
}
.titre-container {
  @media (max-width: $lg - 1) {
    padding-left: 24px;
    padding-right: 24px;
    border-top: 1px solid black;
  }
}
