@import "../variables";




.page-contact {
    margin-bottom: 4rem;
    form.contact-message-feedback-form {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        label {
            display: block;
            font-weight: bold;
        }
        input, textarea {
            width: 100%;
            padding: 1rem;
        }
        .form-item {
            width: 100%;
            margin: 1rem 0;
            &.js-form-item-name,
            &.js-form-item-mail {
                width: 48%!important;
            }
            &.js-form-item-name { margin-right: auto }
        }
        input#edit-submit {
            color: $blanc;
            background-color: $bleu;
            border: none;
            padding: .6rem;
            font-size: 22px;
        }
    }
}
