@import "../variables";
h2, p { text-transform: uppercase; }
h2 { color: $bleu; }
p { color: $noir; }
// ################################################################################################################## //
// ## HEADER ################################################################################################ //
// ################################################################################################################## //
.nos-engagements{
    .titre-container{
        margin-bottom: 0;
        padding-left:4rem;
        padding-right:4rem;
        @media(max-width: $lg - 1){
            padding-left: 24px;
            padding-right: 24px;
            border-top:1px solid black;
          }
        p{
            strong{
                font-weight: normal;
            }
        }
        p+p{
            display:none;
        }
    }
}
// ################################################################################################################## //
// ## CONTENU ################################################################################################ //
// ################################################################################################################## //
.nos-engagements {
    display: flex;
    flex-direction: column;
    @include media-min($lg) { flex-direction: row }
}
