@import "../variables";

// ################################################################################################################## //
// ## HEADER ################################################################################################ //
// ################################################################################################################## //

.qui-sommes-nous-full {
    .titre-container {
        border-bottom-width: 0;
        margin-bottom: 0;
        @include fluid-it(padding-right, 1024px, 1920px, 32px, 64px);
        @include fluid-it(padding-left, 1024px, 1920px, 32px, 64px);
    }
}
.qui-somme-nous {
    .titre-container {
        margin-bottom: 0;
        @include fluid-it(padding-right, 1024px, 1920px, 32px, 64px);
        @include fluid-it(padding-left, 1024px, 1920px, 32px, 64px);
    }
}

// ################################################################################################################## //
// ## CONTENU ################################################################################################ //
// ################################################################################################################## //

.qui-somme-nous {
    display: flex;
    flex-direction: column;
    @include media-min($lg) {
        flex-direction: row;
    }
    .contenu {
        .intro {
            padding: 3rem 4rem;
            p {
                margin-bottom: 0;
            }
        }
    }
}

.qui-sommes-nous-full {
    .img-principal {
        position: relative;
        border: 0.5px solid $noir;
        border-left-width: 0;

        img {
            width: 100%;
            height: auto;
            position: absolute;
            object-fit: cover;
            min-height: 100%;
            filter: grayscale(1);
            transition: filter 0.6s ease-in-out;
        }
        &:hover img {
            filter: grayscale(0%);
        }
    }
    .moisaique-profil {
        border: 0.5px solid $noir;
        border-right-width: 0;
        border-left-width: 0;
        background: $noir;
        @media (min-width: $lg) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 1px;
            [class*="col-"]{
                width: 100%;
            }
        }
        article.carte-profil {
            overflow: hidden;
            position: relative;
            background-color: white;
            &:empty {
                border-width: 0;
                display: none;
            }
            .photo-profil {
                overflow: hidden;
                img {
                    transition: filter 0.6s ease-in-out;
                    width: 100%;
                    height: unset;
                    filter: grayscale(100%);
                }
            }
            &.block-text .info-profil,
            &.filigranne .info-profil {
                position: absolute;
                padding: 2rem;
                text-align: center;
                background: white;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &.block-text .info-profil {
                @extend .font-md, .l-space--sm;
            }
            &:not(.block-text) .info-profil {
                transition: transform cubic-bezier(0, 0.45, 0.24, 0.9) 0.4s;
                position: absolute;
                transform: translateY(100%);
                background: #ffffffd6;
                width: 100%;
                text-align: center;
                padding: 1rem;
                bottom: 0;
                p {
                    margin-bottom: 0.5rem;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                h3 {
                    @extend .h4;
                }
            }
            &:hover {
                cursor: pointer;
                .photo-profil img {
                    filter: grayscale(0%);
                }
                .info-profil {
                    transform: translateY(0);
                }
            }
            &:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: white;
                z-index: 0;
            }
        }
    }
}

// Filigranne
.filigranne {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
        @include fluid-it(max-width, 1024px, 1920px, 140px, 180px);
    }
}
