@import "../variables";
.realisations {
    // ############################################################################################################## //
    // ## ACCORDEON ################################################################################## //
    // ############################################################################################################## //
    .accordeon,
    .map {
        height: 80.333333vh;
        position: relative;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        @media (min-width: $lg) {
            flex-direction: row;
        }
        .titre-section {
            position: relative;
            z-index: 2;
        }
        .titre-section,
        h2 {
            @extend .l-space;
        }
        .titre-section {
            @include fluid-it(font-size, 1024px, 1920px, 20px, 24px);
        }
        h2,
        p {
            text-transform: uppercase;
            @include fluid-it(margin-bottom, 1024px, 1920px, 24px, 32px);
        }
        & > div {
            flex-grow: 1;
            transition: flex 0.6s;
            position: relative;
            // Fleche
            &::after {
                content: "";
                width: 1rem;
                height: 1.5rem;
                position: absolute;
                margin-left: -0.5rem;
                z-index: 1;
                background: url(/assets/images/fleche-bi.svg) no-repeat center / contain;
                opacity: 1;
                transition: opacity 0.6s ease-in-out;
                top: 50%;
                right: 3rem;
                transform: translateY(-50%);
                @media (min-width: $lg) {
                    top: 5%;
                    left: 50%;
                }
            }
            // overlay
            &::before {
                opacity: 1;
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                background-color: rgba($noir, 0.6);
            }
            h2.titre-section {
                transition: opacity 0.6s ease-in-out;
                transform: translate(-50%, -50%);
                position: absolute;
                top: 50%;
                left: 50%;
                width: 700px;
                text-align: center;
                color: $blanc;
                z-index: 2;
                @media (min-width: $lg) {
                    top: 47%;
                    left: -16rem;
                    transform: rotate(-90deg);
                    transform-origin: center center;
                }
            }
            .folder-content {
                transition: opacity 0.2s, top 1s 0.6s;
                opacity: 0;
                position: absolute;
                color: white;
                width: 600px;
                text-align: center;
                left: 50%;
                top: 120%;
                transform: translate(-50%, -50%);
                z-index: 2;
                display: flex;
                flex-direction: column;
                height: 100%;
                padding: 4rem 10rem 2rem;
                @media (min-width: $lg) {
                    padding: 16rem 0 2rem;
                }
                img {
                    width: 3rem;
                    transition: transform 0.3s ease-out;
                    transform: rotate(0);
                    @media (min-width: $lg) { width: 4rem; }
                }
                &:hover {
                    img {
                        transform: rotate(90deg);
                    }
                }
                .lien-carte {
                    margin-top: auto;
                    a {
                        transition: background .4s ease-in-out;
                        background: $primary;
                        color: $blanc;
                        padding: 0.5rem 0.75rem;
                        &:hover {
                            background: $dark;
                            color: $blanc;
                        }
                    }
                }
            }
            &:hover {
                cursor: pointer;
            }
            &:first-child,
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:last-child {
                background-size: cover !important;
                overflow: hidden;
            }
        }
        .unfold {
            flex-grow: 6;
            h2.titre-section {
                transition: opacity 0.4s ease-in-out 0.2s;
                opacity: 0;
                z-index: 4;
            }
            .folder-content {
                transition: opacity 1s 0.8s, top 0.6s 0.6s;
                opacity: 1;
                top: 48%;
                z-index: 4;
            }
            // Fleche
            &::after {
                opacity: 0;
            }
        }
    }
    // ############################################################################################################## //
    // ## GRILLE DES REALISATIONS ################################################################################### //
    // ############################################################################################################## //
    .grid-realisations {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 50% 50%;
        @media (min-width: $lg) {
            grid-template-columns: 25% 25% 25% 25%;
        }
        .views-row {
            position: relative;
            width: 100%;
            @include fluid-it(height, 1024px, 1920px, 280px, 480px);
            display: flex;
            align-items: center;
            justify-content: center;
            clip-path: inset(0 100% 0 0);

            &:nth-child(1) {
                @media (max-width: $md - 1) {
                    display: none !important;
                }
            }
            h1,
            h2 {
                @extend .h5, .l-space--sm;
                text-transform: uppercase;
                text-align: center;
                font-weight: 500;
                span {
                    @include fluid-it(font-size, 1024px, 1920px, 16px, 26px);
                }
            }
            .nom-ville {
                font-weight: normal;
                font-size: 0.75rem;
                @extend .l-space--sm;
            }
            & > div {
                background-size: cover !important;
                height: 100%;
                width: 100%;
                &.grid-realisations__item {
                    cursor: pointer;
                    .overlay, a {
                        transition: opacity 400ms ease-out;
                    }
                    a {
                        position: absolute;
                        z-index: 3;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: white;
                        z-index: 3;
                        width: 86%;
                        @media (min-width: $xl)  {
                            width: 60%;
                        }
                        p {
                            font-size: 12px;
                            @media (min-width: $sm) {
                                font-size: inherit;
                            }
                        }
                        * {
                            color: white;
                        }
                    }
                    h2 {
                        color: white;
                        z-index: 1;
                        text-align: center;
                        @extend .h5;
                    }
                    .overlay,
                    .image,
                    .image-back,
                    .image-container,
                    .hover {
                        position: absolute;
                        height: 100%;
                        width: 100%;
                        left: 0;
                        top: 0;
                        z-index: 1;
                        &::before {
                            opacity: 1;
                        }
                    }
                    .image {
                        z-index: 1;
                        &::before {
                            display: none;
                        }
                    }
                    .overlay {
                        z-index: 3;
                    }
                    .image-back {
                        z-index: 2;
                        clip-path: inset(0 100% 0 0);
                    }
                    .hover {
                        z-index: 2;
                        clip-path: inset(0 100% 0 0);
                        background-color: $bleu;
                        pointer-events: none;
                        display: none;
                        &::before {
                            display: none;
                        }
                    }
                }
            }
        }
        // Item
        &__item {
            background-color: $bleu;
            svg {
                @include fluid-it(height, 1024px, 1920px, 32px, 48px);
                @include fluid-it(width, 1024px, 1920px, 32px, 48px);
                transform: rotate(0);
                transition: transform 400ms ease-out;
            }
            &:hover {
                svg {
                    transform: rotate(90deg);
                }
                .overlay,
                a {
                    opacity: 0;
                }
            }
        }
    }

    // Map
    .map {
        background: $gris;
        display: none;
    }
}

.contenu {
    background-color: transparent;
}

.realisations {
    .container {
        @media (min-width: $lg) {
            max-width: 75%;
        }
    }
}

// ############################################################################################################## //
// ## PAGE CARTE ################################################################################################ //
// ############################################################################################################## //
.realisations.carte {
    .recherche {
        text-transform: uppercase;
        form.views-exposed-form {
            display: flex;
            align-items: center;
            .form-item {
                input,
                select {
                    appearance: none;
                    border: 1px solid $gris;
                    padding: 4px 10px;
                    width: 14rem;
                    margin-right: 2rem;
                    font-size: 0.75rem;
                    color: rgba($noir, 0.5);
                    text-transform: uppercase;
                    font-weight: 500;
                }
            }
            .js-form-item {
                display: flex;
                align-items: center;
            }
            label {
                font-size: 0.75rem;
                color: rgba($noir, 0.5);
                margin-right: 0.75rem;
            }
            select {
                option {
                    font-size: 0.75rem;
                    color: rgba($noir, 0.5);
                }
            }
            input#edit-submit-realisations {
                font-size: 0.75rem;
                background: $bleu;
                color: $blanc;
                padding: 4px 24px;
                text-transform: uppercase;
                @extend .l-space--sm;
            }
            input.form-autocomplete {
                background-image: unset !important;
            }
        }
    }

    .menu-legende {
        font-size: 0.75rem;
        color: rgba($noir, 0.5);
        @extend .l-space--sm;
        text-transform: uppercase;
        font-weight: 500;
        img {
            width: 25px;
            margin-bottom: 18px;
        }
    }
}
