{#
    APPARAIT SUR LA PAGE : /qui-sommes-nous
#}
<div class="layout-container position-relative animated">
    <div class="nos-partenaires">
        <div class="row">
            {# BG IMAGE #}
            <div class="col-md-4 p-0">
{#                <div class="bg-vertical"></div>#}
{#                <div class="swiper-container">#}
{#                    <div class="swiper-wrapper">#}
                        {% for item in drupal_field('field_image_bg_nos_partenaires', 'block_content', 12)['#items'] %}
                            {% if item.entity.field_lien_image.value is not empty %}
                                <a class="curseurfull" href="{{ item.entity.field_lien_image.0.url|render }}">
                                    <div class="swiper-slide bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('vertical_full')) }}') no-repeat center / cover"></div>
                                </a>
                            {% else %}
                                <div class="swiper-slide bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('vertical_full')) }}') no-repeat center / cover"></div>
                            {% endif %}
                        {% endfor %}
{#                    </div>#}
                    <!-- Pagination -->
{#                    <div class="swiper-pagination swiper-pagination-white"></div>#}
                    <!-- Arrows -->
{#                    <div class="swiper-button-next swiper-button-white"></div>#}
{#                    <div class="swiper-button-prev swiper-button-white"></div>#}
{#                </div>#}
            </div>
            {# CONTENU #}
            <div class="col-md-8 p-0">
                <div class="contenu">
                    <header class="titre-container border-0 mb-0">
                        {{ page.breadcrumb }}
                        <h1>{{ page["#title"] }}</h1>
                        <div class="pt-2 anim-p block-sous-titre">{{ drupal_field('body' ,'block_content', 12) }}</div>
                    </header>
                    
                    {{ drupal_view('nos_partenaires', 'nos_partenaires_nos_partenaires') }}
                </div>
            </div>
        </div>
    </div>
</div>

{{ attach_library('axe_theme/nos-engagements') }}

<script type="module">
    window.addEventListener("load", function () {
        const swiper = new Swiper('.swiper-container', {
            effect: 'fade',
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    });
</script>


<style>
    .titre-container {
        padding-left:4rem;
        padding-right: 4rem;
    }
    .bg-vertical {
        background-size: cover !important;
        width: 100%;
        height: 12rem;
    }
    @media (min-width: 992px) {
        .bg-vertical {
            height: 100%;
            min-height: 90vh;
        }
    }
</style>
