{#
    APPARAIT SUR LA PAGE : /nos-engagements
#}

<div class="layout-container position-relative animated">
	<div class="nos-engagements">
		<div class="row">
			{# BG IMAGE #}
			<div class="col-lg-6 p-0">
{#                <div class="swiper-container">#}
{#                    <div class="swiper-wrapper">#}
                        {% for item in drupal_field('field_image_bg_desk_engagement', 'block_content', 8)['#items'] %}
							{% if item.entity.field_lien_image.value is not empty %}
								<a class="curseurfull" href="{{ item.entity.field_lien_image.0.url|render }}">
									<div class="bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('desktop_image_width_1400')) }}') no-repeat left"></div>
								</a>
							{% else %}
								<div class="bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('desktop_image_width_1400')) }}') no-repeat left"></div>
							{% endif %}
                        {% endfor %}
{#                    </div>#}
                    <!-- Pagination -->
{#                    <div class="swiper-pagination swiper-pagination-white"></div>#}
                    <!-- Arrows -->
{#                    <div class="swiper-button-next swiper-button-white"></div>#}
{#                    <div class="swiper-button-prev swiper-button-white"></div>#}
{#                </div>#}
			</div>
			{# CONTENU #}
			<div class="col-lg-6 p-0">
				<div
					class="contenu">
					{# HEADER #}
					<header class="titre-container border-0">
						{{ page.breadcrumb }}
						<h1>{{ drupal_field('field_titre_engagement' ,'block_content', 8) }}</h1>
						<div class="pt-2 anim-p block-sous-titre">{{ drupal_field('field_message_sous_t_engagement' ,'block_content', 8) }}</div>
					</header>
					{# ANIMATIONS #}
					<div class="position-relative">
						<div class="ctas border-0 anim-overlay">
							<div
								class="row m-0 h-100">
								{# 1 #}
								<article role="article" class="col-6 p-0 animlines">
									<div class="anim-border anim-border--top key-top--left"></div>
									<div class="anim-border anim-border--bottom key-top--left"></div>
									<div class="anim-border anim-border--left key key-center--left"></div>
									<div class="anim-border anim-border--right key-center"></div>
								</article>
								{# 2 #}
								<article role="article" class="col-6 p-0 animlines">
									<div class="anim-border anim-border--top key-top--right"></div>
									<div class="anim-border anim-border--right key key-center--right"></div>
									<div class="anim-border anim-border--bottom key-top--right"></div>
								</article>
								{# 3 #}
								<article role="article" class="col-6 p-0 animlines">
									<div class="anim-border anim-border--top key-top--left"></div>
									<div class="anim-border anim-border--bottom key-top--left"></div>
									<div class="anim-border anim-border--left key key-center--left"></div>
									<div class="anim-border anim-border--right key-center"></div>
								</article>
								{# 4 #}
								<article class="col-6 p-0 animlines">
									<div class="anim-border anim-border--top key-top--right"></div>
									<div class="anim-border anim-border--right key key-center--right"></div>
									<div class="anim-border anim-border--bottom key-top--right"></div>
								</article>
							</div>
						</div>
						<div class="ctas border-0 position-relative">
							<div class="row m-0">
								{{ drupal_view('nos_engagements', 'nos_engagements_nos_engagements') }}
							</div>
						</div>
					</div>
					{# FIN... ANIMATIONS #}
				</div>
			</div>
		</div>
	</div>
</div>

{#<script type="module">#}
{#    window.addEventListener("load", function () {#}
{#        const swiper = new Swiper('.swiper-container', {#}
{#            effect: 'fade',#}
{#            pagination: {#}
{#                el: '.swiper-pagination',#}
{#                clickable: true,#}
{#            },#}
{#            navigation: {#}
{#                nextEl: '.swiper-button-next',#}
{#                prevEl: '.swiper-button-prev',#}
{#            },#}
{#        });#}
{#    });#}
{#</script>#}


<style>
	.bg-vertical {
		height: 12rem;
		{#background: #eee url({{ file_url(drupal_field('field_image_bg_desk_engagement', 'block_content', 8)['#items'].entity.field_media_image.entity.fileuri) }}) no-repeat left;#}
	}
	@media(min-width: 992px) {
		.bg-vertical {
			height: 100%;
		}
	}
</style>
{{ attach_library('axe_theme/nos-engagements') }}
