@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/utilities/api";
@import "bootstrap/scss/helpers";
@import "variables";
// ################################################################################################################## //
// ## FONTS ################################################################################################ //
// ################################################################################################################## //
@font-face {
    font-family: "DMSans";
    src: url("fonts/DM_Sans/DMSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("fonts/DM_Sans/DMSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "DMSans";
    src: url("fonts/DM_Sans/DMSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "DMSans";
    src: url("fonts/DM_Sans/DMSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
body {
    margin: 0;
    position: relative;
    @include fluid-it(font-size, 1024px, 1920px, 14px, 16px);
    font-family: "DMSans";
    // Masquer admin toolbar :
    #toolbar-administration {
        display: none;
    }
    li {
        list-style: none;
    }
    a {
        text-decoration: none;
        p {
            color: $noir;
        }
    }
}

// ################################################################################################################## //
// ## GLOBAL ################################################################################################ //
// ################################################################################################################## //
ul {
    padding: unset;
    margin: unset;
}
body {
    .contenu,
    .intro,
    #contenu-de-droite,
    p {
        li {
            list-style: disc;
            list-style-position: inside;
            list-style-image: url("/images/bullet.svg");
            //padding-left: 1rem;
        }
    }
}
.smooth {
    backface-visibility: hidden;
    perspective: 1000;
    transform: translateZ(0);
    overflow: hidden;
}
button,
.btn,
[type="submit"] {
    border: unset;
    background-color: unset;
    outline: unset;
    box-shadow: unset;
    appearance: none;
}

.block-sous-titre,
.text-editor-body,
.intro,
.block-presentation-home {
    a {
        @extend .spotlink;
        color: $bleu;
    }
    p {
        text-transform: none;
    }
}

// ################################################################################################################## //
// ## COOKIE BAR (RGPD) ################################################################################################ //
// ################################################################################################################## //
//#cookie-bar {
#tarteaucitronRoot {
    .tarteaucitronAlertBigBottom {

        border-top: unset !important;
        padding: 1rem !important;
        background: $primary !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @media (min-width: $lg) { flex-wrap: nowrap; }

        #tarteaucitronCloseAlert { display: none; }
        #tarteaucitronDisclaimerAlert { font-size: 13px }

        p,
        a {
            float: none !important;
            text-transform: uppercase;
        }
        p {
            margin: 0 auto 0 1rem !important;
            color: $blanc !important;
        }
        .tarteaucitronCTAButton.tarteaucitronAllow {
            margin-left: auto!important;
            margin-right: 2rem!important;
            @media (min-width: $lg) { margin-right: unset!important; }
        }
        .tarteaucitronCTAButton.tarteaucitronDeny {
            margin-right: 2rem!important;
        }
        .tarteaucitronCTAButton.tarteaucitronAllow,
        .tarteaucitronCTAButton.tarteaucitronDeny {
            padding: 1rem 2rem!important;
            margin: 1rem auto;
            color: $primary !important;
            background-color: $blanc!important;
            text-align: center;
            width: 100%;
            @media (min-width: $sm) { width: 20rem }
            @media (min-width: $lg) { margin: 1rem }
        }
    }
}

// ################################################################################################################## //
// ## LOCOMOTIVE SCROLL ################################################################################################ //
// ################################################################################################################## //
// [data-scroll-direction="horizontal"] .c-scrollbar {
//   width: 100%;
//   height: 10px;
//   top: auto;
//   bottom: 0;
//   transform: scaleY(1);
// }
// [data-scroll-direction="horizontal"] .c-scrollbar:hover {
//   transform: scaleY(1.3);
// }
// .c-scrollbar_thumb {
//   position: absolute;
//   top: 0;
//   right: 2px;
//   background-color: $bleu;
//   width: 4px;
//   border-radius: 10px;
//   margin: 2px;
//   cursor: -webkit-grab;
//   cursor: grab;
//   z-index: 2;
//   opacity: 1;
// }
// ################################################################################################################## //
// ## MENU PRINCIPAL ################################################################################################ //
// ################################################################################################################## //
.menu-mobile,
.menu-desktop {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    a {
        text-transform: uppercase;
    }
}
.slideDown {
    max-height: unset !important;
    @media (min-width: $xl) {
        max-height: 400px !important;
    }
}
.hamburger {
    position: absolute;
    top: 12px;
    right: 5px;
    padding: 15px 0;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
    transform: scale(0.5);
    &:hover {
        opacity: 0.7;
    }
    &.is-active:hover {
        opacity: 0.7;
    }
    &.is-active .hamburger-inner {
        background-color: $bleu;
    }
    &.is-active .hamburger-inner::before,
    &.is-active .hamburger-inner::after {
        background-color: $noir;
    }
}
.hamburger-box {
    width: 62px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
    background-color: $noir;
    &:before { top: -16px; }
    //&:after { bottom: -16px; }
    &:before,
    &:after {
        content: "";
        display: block;
        background-color: $bleu;
    }
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 62px;
    height: 8px;
    //background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger--emphatic {
    overflow: hidden;
    .hamburger-inner {
        transition: background-color 0.125s 0.175s ease-in;
        &:before {
            left: 0;
            transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
            top 0.05s 0.125s linear, left 0.125s 0.175s ease-in;
        }
        &:after {
            top: 16px;
            right: 0;
            transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
            top 0.05s 0.125s linear, right 0.125s 0.175s ease-in;
        }
    }
    &.is-active .hamburger-inner {
        transition-delay: 0s;
        transition-timing-function: ease-out;
        background-color: transparent !important;
        &:before {
            left: -80px;
            top: -80px;
            transform: translate3d(80px, 80px, 0) rotate(45deg);
            transition: left 0.125s ease-out, top 0.05s 0.125s linear,
            transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &:after {
            right: -80px;
            top: -80px;
            transform: translate3d(-80px, 80px, 0) rotate(-45deg);
            transition: right 0.125s ease-out, top 0.05s 0.125s linear,
            transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}
.menu-mobile {
    .burger-mobile {
        position: absolute;
        top: 15px;
        right: 0px;
        &:hover {
            cursor: pointer;
        }
        & > div {
            position: relative;
            width: 2rem;
            height: 2rem;
            & > div {
                position: absolute;
                top: 50%;
                right: 0;
                width: 25px;
                height: 4px;
                transform: translateY(-50%);
                background-color: $noir;
                &:before {
                    content: "";
                    position: absolute;
                    bottom: 10px;
                    right: 0;
                    background-color: $bleu;
                    width: 30px;
                    height: 4px;
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    right: 0;
                    background-color: $bleu;
                    width: 30px;
                    height: 4px;
                }
            }
        }
    }
    nav#block-menuprincipal {
        & > a {
            display: block;
            width: 10rem;
            margin: 1rem auto;
            img.axe-logo {
                width: 100%;
            }
        }
        ul.mp-items {
            // master sous-menu ------------------------------------------------------------------------------
            padding-left: 16px;
            padding-right: 16px;
            transition: max-height 0.6s ease;
            max-height: 0;
            overflow-y: hidden;
            & > li.mp-item {
                //margin-bottom: 1rem;
                margin: 3rem;
                position: relative;
                & > a {
                    @include fluid-it(font-size, 1024px, 1920px, 16px, 24px);
                    color: $noir;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    svg {
                        fill: $bleu;
                        position: absolute;
                        top: -2px;
                        right: 0;
                        font-size: 26px;
                        * {
                            fill: $bleu;
                        }
                    }
                }
                &.menu-item--expanded {
                    & > a > svg {
                        transition: transform 0.6s ease;
                    }
                    & > ul.mp-items-submenu {
                        // premier sous-menu -----------------------------------------------------
                        transition: max-height 0.6s ease-in-out;
                        max-height: 0;
                        overflow-y: hidden;
                        & > li.mp-item {
                            padding: 10px 0;
                            & > a {
                                font-size: 18px;
                            }
                            &.menu-item--expanded {
                                & > ul.mp-items-submenu {
                                    // deuxième sous-menu ----------------------------------------
                                    a {
                                        color: $noir;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #block-selecteurdelangue {
        transition: opacity 0.4s ease, height 0.4s ease;
        opacity: 0;
        height: 0;
        overflow: hidden;
        text-align: right;
        margin: 1rem;
        ul.links {
            li a {
                font-size: 24px;
                color: $noir;
                font-weight: bold;
            }
        }
    }
}
.menu-desktop {
    display: none;
}
.menu-after {
    position: absolute;
    z-index: -1;
    background-color: rgba($noir, 0.4);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 300ms ease-out;
    &.visible {
        opacity: 1;
        z-index: 99;
    }
}
@include media-min($xl) {
    .menu-mobile {
        display: none;
    }
    .menu-desktop {
        display: flex;
        position: relative;
        z-index: 2000;
        padding: 0 1.5rem;
        margin-bottom: -1px;
        border-bottom: 1px solid $gris;
        background-color: $blanc;
        nav#block-menuprincipal {
            display: flex;
            width: 100%;
            img.axe-logo {
                @include fluid-it(width, 1024px, 1920px, 125px, 180px);
                margin: auto;
            }
            ul.mp-items {
                // master sous-menu --------------------------------------------------------------------------
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin: 0 0 0 auto;
                & > li.mp-item {
                    position: relative;
                    &.mp-item-2 .mp-item-6 {
                        display: none !important;
                    }
                    & > a {
                        color: $noir;
                        @include fluid-it(padding-top, 1024px, 1920px, 32px, 48px);
                        @include fluid-it(padding-bottom, 1024px, 1920px, 32px, 48px);
                        @include fluid-it(padding-left, 1024px, 1920px, 8px, 24px);
                        @include fluid-it(padding-right, 1024px, 1920px, 8px, 24px);
                        @include fluid-it(font-size, 1024px, 1920px, 12px, 16px);
                        font-weight: bold;
                        background-size: 100% 200%;
                        overflow: hidden;
                        background-image: linear-gradient(to bottom, #fff 50%, $bleu 50%);
                        transition: background-position 0.3s ease-in-out,
                        color 0.3s ease-in-out;
                        display: flex;
                        align-items: center;
                        &:hover {
                            background-position: 0 100%;
                            color: #fff;
                        }
                        &.is-active {
                            &::after {
                                content: "";
                                background: $bleu;
                                height: 6px;
                                width: 100%;
                                position: absolute;
                                bottom: 0;
                                left: 0;
                            }
                        }
                    }
                    &.menu-item--expanded {
                        // <li> qui contient un sous menu ------------------------------------------
                        & > a {
                            position: relative;
                            svg {
                                color: #1d5cff;
                                margin-left: 0.5rem;
                            }
                        }
                        // ---------------------------------------------------------------------------------------------
                        // Ouverture du/des sous menu et maintien du bg bleu
                        &:hover > a {
                            background-position: 0 100%;
                            color: #fff;
                            svg {
                                color: #fff;
                                transform: rotate(180deg);
                            }
                        }
                        &:hover > ul.mp-items-submenu {
                            max-height: 40vh;
                            transition: all 0.5s ease;
                        }
                        & > ul.mp-items-submenu {
                            // premier sous-menu -------------------------------------------------
                            display: flex;
                            position: fixed !important;
                            width: 100% !important;
                            left: 0;
                            z-index: 1;
                            top: 100px;
                            left: 0;
                            width: auto;
                            height: auto;
                            max-height: 0;
                            background-color: $blanc;
                            justify-content: center;
                            @extend .l-space--sm;
                            max-height: 0;
                            overflow-y: hidden;
                            line-height: 2;
                            & > li.mp-item {
                                display: flex;
                                flex-direction: column;
                                padding-top: 3rem;
                                padding-bottom: 3rem;
                                padding-left: 3rem;
                                padding-right: 3rem;
                                background: white;

                                & > a {
                                    @include fluid-it(font-size, 1024px, 1920px, 16px, 20px);
                                    color: $bleu;
                                    margin-bottom: 0.5rem;
                                    display: block;
                                    line-height: 1.4;
                                }
                                & > ul.mp-items-submenu {
                                    // deuxième sous-menu ----------------------------------------
                                    a {
                                        @include fluid-it(font-size, 1024px, 1920px, 12px, 14px);
                                        color: $noir;
                                        &:hover {
                                            color: $bleu;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #block-selecteurdelangue {
            display: flex;
            ul {
                align-self: center;
                a {
                    margin: 1rem;
                    font-weight: 600;
                }
            }
        }
    }
}

// REPRENDRE //////////////////////////
.smooth {
    [data-drupal-link-system-path="realisations"],
    [data-drupal-link-system-path="nos-engagements"] {
        & + .mp-items-submenu {
            .mp-item {
                @extend .text-xl-center;
            }
        }
    }
}

// ################################################################################################################## //
// ## FORMULAIRES #################################################################################################### //
// ################################################################################################################## //
form {
    width: 100%;
    input[type="text"],
    input[type="search"],
    input[type="url"],
    input[type="tel"],
    input[type="number"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    input[type="email"],
    input[type="file"],
    input[type="submit"],
    select,
    textarea {
        appearance: none;
        -webkit-appearance: none;
        @extend .font-xs;
        font-family: "DMSans", sans-serif;
        &:focus {
            outline: unset;
        }
    }
    // Selects
    select {
        border-width: 0;
        color: $bleu;
        @extend .font-sm;
        option {
            font-weight: normal;
        }
    }
    .select-container {
        position: relative;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            width: 1rem;
            height: 1rem;
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14px' height='7px'%3E%3Cpath fill-rule='evenodd' fill='rgb(51, 105, 255)' d='M5.620,4.139 L1.489,0.226 C1.145,-0.100 0.587,-0.100 0.244,0.226 C0.071,0.388 -0.014,0.602 -0.014,0.817 C-0.014,1.029 0.071,1.242 0.244,1.404 L5.878,6.742 C6.221,7.067 6.779,7.067 7.123,6.742 L12.757,1.404 C13.101,1.079 13.101,0.551 12.757,0.226 C12.413,-0.100 11.855,-0.100 11.512,0.226 L7.380,4.139 '/%3E%3C/svg%3E")
            no-repeat center / contain;
            margin-left: 0.5rem;
        }
    }
    // Labels
    label {
        @extend .font-xs;
        font-weight: 600;
        color: $noir;
        text-transform: uppercase;
    }
}
// Autofill
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 100px white inset !important;
    color: $bleu !important;
    -webkit-text-fill-color: $bleu;
}
@-webkit-keyframes autofill {
    0%,
    100% {
        color: $bleu !important;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
// placeholders
::placeholder {
    color: $bleu !important;
}
// ################################################################################################################## //
// ## RECHERCHE #################################################################################################### //
// ##+################################################################################################################ //
.social-nav {
    display: flex;
    align-items: center;
    @media (max-width: $xl - 1) {
        position: absolute;
        top: 30px;
        .recherche-but + span {
            display: none;
        }
    }
    span {
        margin: auto 0.5rem;
        a {
            color: $noir;
            &:hover {
                color: $bleu;
            }
        }
    }
    .recherche-but {
        margin: auto 1.5rem auto 1rem;
        cursor: pointer;
        svg {
            transform: scale(0.9);
            @media (min-width: $xl-1440) {
                transform: scale(1);
            }
        }
    }
    .me-1,
    a[title="Rejoignez-nous sur YouTube"] {
        position: relative;
        top: 1px;
        margin-right: 1rem !important;
    }
}
.addnav {
    position: fixed;
    left: 0;
    top: 84px;
    width: 100%;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 400ms ease-out;
    padding: 3rem;
    z-index: 1;
    @media (min-width: $lg) {
        top: 0;
    }
    .search-block-form {
        width: 80%;
        @media (min-width: $md) {
            width: 33.333333%;
        }
        max-width: 420px;
        position: relative;
        opacity: 0;
        input[type="search"] {
            color: $primary;
            border-width: 0;
            border-bottom: 1px solid $noir;
            width: 100%;
            text-transform: uppercase;
            font-weight: 600;
            padding-bottom: 0.5rem;
        }
        // submit button, inherit .btn and .btn-outline-primary classes.
        input[type="submit"] {
            color: $noir;
            text-transform: uppercase;
            font-weight: 600;
            position: absolute;
            //right: 0;
            right: -40px;
            top: 0;
        }
    }
    // Toggled
    &.visible {
        transform: scaleY(1);
        .search-block-form {
            opacity: 1;
        }
    }
}
// ################################################################################################################## //
// ## LOGIN FORM #################################################################################################### //
// ################################################################################################################## //
.login-form {
    input {
        font: 400 0.875rem "DMSans";
        text-transform: uppercase;
    }
    .input-name,
    .input-password,
    [type="number"],
    [type="password"],
    [type="email"],
    [type="search"],
    [type="text"],
    [type="tel"],
    select {
        width: 100%;
        display: block;
        line-height: 60px;
        border-radius: 4px;
        margin-bottom: 1rem;
        border: 1px solid $gris;
        color: $noir;
        padding: 0 1rem;
    }
    textarea {
        width: 100%;
        display: block;
        border-radius: 4px;
        border: 1px solid $gris;
        color: $noir;
        padding: 1rem;
        margin-bottom: 1rem;
    }
    label {
        @extend .font-xs;
        margin-bottom: 0.5rem;
    }
    .js-form-item {
        width: 100%;
    }
    .button.form-submit {
        width: 100%;
        border: none;
        color: $blanc;
        background-color: $bleu;
        padding: 8px;
        font-weight: bold;
        line-height: 60px;
        @extend .font-xs;
        text-transform: uppercase;
    }
    .js-form-item-piece-jointe {
        margin-bottom: 1rem;
        .description {
            @extend .font-xs;
            display: flex;
            opacity: 0.5;
            br {
                display: inline-flex;
                display: none;
            }
        }
    }
    // placeholders
    ::placeholder {
        color: $primary !important;
        @extend .font-sm;
    }

    .piece-jointe {
        div[role="contentinfo"] { display: none; }
        .form-item-piece-jointe .webform-document-file > a { display: none; }
    }
}
// ################################################################################################################## //
// ## FOOTER ######################################################################################################## //
// ################################################################################################################## //
footer {
    width: 100%;
    background-color: $noir;
    position: relative;
    z-index: 1;
    margin-bottom: -1px; // hack pour les borders des galeries
    * {
        color: $blanc;
    }
}
// ################################################################################################################## //
// ## BREADCRUMB ######################################################################################################## //
// ################################################################################################################## //
.realisations [aria-labelledby="system-breadcrumb"] {
    margin-bottom: 1rem;
}
.region.region--breadcrumb,
[aria-labelledby="system-breadcrumb"] {
    margin-bottom: 0.25rem;
    ul {
        display: flex;
        padding-left: 0;
        margin: 0;
        align-items: center;
        li {
            text-transform: uppercase;
            @extend .font-xs;
            letter-spacing: 0.5px;
            list-style: none;
            a {
                padding: 1rem;
                color: $noir;
            }
            &:first-child {
                background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='512.001' height='456.405' viewBox='0 0 512.001 456.405'%3E%3Cg id='icon-breadcrumb' transform='translate(0 -27.798)'%3E%3Cpath id='Tracé_518' data-name='Tracé 518' d='M506.555,208.064l-242.7-177.7a13.3,13.3,0,0,0-15.716,0l-242.7,177.7a13.3,13.3,0,0,0,15.718,21.468L256,57.588,490.837,229.531a13.3,13.3,0,0,0,15.718-21.467Z'/%3E%3Cpath id='Tracé_519' data-name='Tracé 519' d='M442.246,232.543a13.3,13.3,0,0,0-13.3,13.3V457.6H322.521V342.009a66.52,66.52,0,0,0-133.04,0V457.6H83.058V245.847a13.3,13.3,0,0,0-26.606,0V470.9a13.3,13.3,0,0,0,13.3,13.3H202.784a13.3,13.3,0,0,0,13.251-12.267,10.035,10.035,0,0,0,.052-1.036V342.01a39.914,39.914,0,0,1,79.828,0V470.9a9.76,9.76,0,0,0,.052,1.024A13.3,13.3,0,0,0,309.218,484.2H442.247a13.3,13.3,0,0,0,13.3-13.3V245.847A13.3,13.3,0,0,0,442.246,232.543Z'/%3E%3C/g%3E%3C/svg%3E%0A")
                no-repeat left top 1.5px / 1rem;
                top: -1.5px;
                a {
                    padding-left: 0;
                    padding-right: 2rem;
                    svg {
                        display: none;
                    }
                }
            }
            &:last-child {
                a {
                    color: $bleu;
                }
            }
        }
    }
}
// ################################################################################################################## //
// ## TITRE SOUS PAGES ######################################################################################################## //
// ################################################################################################################## //
.titre-container {
    @include fluid-it(padding-top, 1024px, 1920px, 32px, 64px);
    @include fluid-it(padding-bottom, 1024px, 1920px, 32px, 76px);
    position: relative;
    h1 {
        line-height: 1.1;
        font-weight: 600;
    }
}
.layout-container {
    min-height: 80vh;
    width: 100%;
    h1 {
        line-height: 1.1;
        font-weight: 600;
        margin-bottom: 0;
    }
}
// ################################################################################################################## //
// ## ACCUEIL ######################################################################################################## //
// ################################################################################################################## //
.accueil {
    header.header-home {
        overflow: hidden;
        .img-header {
            overflow: hidden;
            position: relative;
            @media (max-width: $lg - 1) {
                margin-bottom: -5px;
            }
            video {
                height: auto;
                width: 100%;
                @media (min-width: $lg) {
                    width: 103%;
                    position: absolute;
                    /* min-height: 100%; */
                    left: 50%;
                    transform: translateX(-50%);
                    top: 0;
                    bottom: -40px;
                }
            }
            .bg-header {
                height: 100%;
                background-size: cover !important;
                @extend .overlay;
                max-height: 550px;
                @media (min-width: $lg) {
                    max-height: unset;
                }
                &::before {
                    opacity: 1;
                    z-index: 0;
                    background-color: rgba($noir, 0.2);
                }
            }
            .titre-principal {
                position: absolute;
                z-index: 1;
                color: $blanc;
                line-height: 1;
                font-weight: 600;
                top: 50%;
                left: 7.5%;
                transform: translateY(-50%);
                @include fluid-it(font-size, 1024px, 1920px, 42px, 96px);
                p {
                    margin: 0;
                }
                p:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.bg-header {
    height: 100%;
}
// ################################################################################################################## //
// ## LISTE DE POSTS Accueil et News ######################################################################################################## //
// ################################################################################################################## //
.block-presentation-home {
    position: relative;
    padding: 64px;
    border-bottom: 1px solid;
    @media (min-width: $lg) { border-bottom: none; }
    svg {
        position: absolute;
        right: 74px;
        //bottom: 30px;
    }
}
.derniers-articles {
    height: 100%;
    @include fluid-it(padding, 1024px, 1920px, 32px, 64px);
    padding-top: 0!important;
    display: flex;
    flex-direction: column;
    h2 {
        @include fluid-it(margin-bottom, 1024px, 1920px, 24px, 48px);
    }
    .views-row {
        border-bottom: 1px solid $gris;
        padding-bottom: 1rem;
        margin-bottom: 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        clip-path: unset !important;
        position: relative;
        * {
            transition: all 300ms ease-in-out;
        }
        p {
            @include fluid-it(font-size, 1024px, 1920px, 16px, 18px);
            @extend .l-space--sm;
            margin-bottom: 0;
            text-transform: uppercase;
            @extend .fleche, .fleche--right;
            flex-direction: column;
        }
        .field-content {
            font-size: 0.875rem;
            text-transform: uppercase;
            transform: scale(0.9);
            @media (min-width: $md) {
                transform: scale(1);
            }
        }
        span {
            text-transform: uppercase;
            margin-bottom: 0.33rem;
            display: block;
        }
        @media (min-width: $lg) {
            &::before {
                content: "";
                background-color: #1D5CFF;
                position: absolute;
                width: 120%;
                height: 120%;
                top: -20%;
                left: -10%;
                transform: scaleY(0);
                transition: transform 300ms ease-in-out;
                transform-origin: bottom;
            }
        }
        // hover
        &:hover {
            overflow: visible;
            &::before {
                transform: scaleY(1);
            }
            .field-content {
                * {
                    color: white;
                }
            }
            p {
                &::after {
                    transform-origin: right;
                    transform: scale(0.9);
                    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='38.815' height='12.935' viewbox='0 0 38.815 12.935'%3E%3Cpath id='fleche' d='M72.517,30.052l-5.6-5.593a.874.874,0,0,0-1.236,1.236l4.106,4.1H34.833a.874.874,0,0,0,0,1.748H69.787l-4.106,4.1a.874.874,0,0,0,1.236,1.235l5.6-5.593A.873.873,0,0,0,72.517,30.052Z' transform='translate(-33.959 -24.203)' fill='%23ffffff'/%3E%3C/svg%3E%0A")
                    no-repeat right;
                }
            }
        }
    }
}
// ################################################################################################################## //
// ## REALISATIONS ######################################################################################################## //
// ################################################################################################################## //
.realisations {
    &__item {
        height: 50vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        @extend .l-space--sm;
        transition: background-color 400ms ease-in-out;
        * {
            transition: all 400ms ease-in-out;
        }
        &::before {
            content: "";
            @extend .fullabs;
            z-index: 2;
            background-color: rgba($noir, 0.4);
            opacity: 0;
        }
        &__texte {
            position: relative;
            z-index: 4;
            @extend .h4;
            padding: 0 15%;
            display: flex;
            align-items: center;
            flex-direction: column;
            &--hover {
                opacity: 0;
                color: white;
                text-align: center;
            }
            p {
                font-size: 0.875rem;
                text-transform: uppercase;
                @extend .l-space--sm;
            }
        }
        &__lien {
            @extend .fullabs;
            z-index: 3;
        }
        &__image {
            @extend .fullabs;
            z-index: 1;
            filter: grayscale(1);
        }
        svg {
            transform: translateX(-2rem);
            opacity: 0;
        }
        &:first-child {
            @include fluid-it(font-size, 1024px, 1920px, 18px, 32px);
            &:hover {
                background-color: $bleu;
                border-color: $bleu;
                * {
                    color: white;
                }
            }
        }
        // HOVER
        &:hover {
            .realisations__item__image {
                filter: grayscale(0);
                transform: scale(1.1);
                opacity: 1;
            }
            .realisations__item__texte--hover {
                opacity: 1;
                svg {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
            &::before {
                opacity: 1;
            }
        }
    }
}
// ################################################################################################################## //
// ## PAGE LOADER ######################################################################################################## //
// ################################################################################################################## //
.loader,
.preloader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0;
    backface-visibility: hidden;
    perspective: 1000;
    background: $white;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    visibility: visible;
    z-index: 9999;
    opacity: 1;
    pointer-events: none;
    transition: opacity 1000ms ease-in-out;
    #lottie {
        margin: auto;
        min-width: 240px;
        div {
            @extend .position-static;
        }
        @media (min-width: $md) {
            width: 30vw;
        }
        @media (min-width: $xl) {
            width: 25vw;
        }
    }
    span {
        &::after {
            transform: unset;
            opacity: 1;
        }
    }
    &.loaderLoaded {
        opacity: 0;
        &::after {
            transform: translateY(0);
        }
    }
}
.preloader {
    transform: unset;
    transition: opacity 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    opacity: 0;
    z-index: -1;
    &.visible {
        opacity: 1;
        z-index: 9999;
    }
}
@media (min-width: $xl) {
    #page {
        opacity: 0;
        transition: opacity 750ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        .circle-follow {
            opacity: 0;
        }
        &.loaded {
            opacity: 1;
            .circle-follow {
                opacity: 1;
            }
        }
    }
}
#lottieLoader {
    @include fluid-it(max-width, 1024px, 1920px, 280px, 400px);
}
// ################################################################################################################## //
// ## CURSEUR ######################################################################################################## //
// ################################################################################################################## //
.circle-follow {
    position: fixed;
    // background: $bleu;
    width: 140px;
    height: 140px;
    left: -70px;
    top: -70px;
    border-radius: 100%;
    z-index: 9997;
    user-select: none;
    pointer-events: none;
    transform-origin: center;
    backface-visibility: hidden;
    // transform: scale(0.3) translateZ(0);
    // shape-rendering: geometricPrecision;
    &--image {
        width: 140px;
        height: 140px;
        left: -70px;
        top: -70px;
        background: transparent;
        // border: 2px solid $bleu;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        // &::after {
        //   content: "+";
        //   color: $bleu;
        //   margin: auto;
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   transform: translate(-50%, -50%);
        // }
    }
}
@media (max-width: $xl - 1) {
    .circle-follow {
        visibility: hidden;
    }
}
// ################################################################################################################## //
// ## HEADER SOUS PAGES ################################################################################################ //
// ################################################################################################################## //
.titre-container {
    border-bottom: 1px solid $noir;
    @include fluid-it(margin-bottom, 1024px, 1920px, 24px, 32px);
    h1 {
        @include fluid-it(font-size, 320px, 1023px, 28px, 40px);
        @media (min-width: $md) {
            @include fluid-it(font-size, 1024px, 1920px, 40px, 60px);
        }
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
        margin-top: 0.75rem;
    }
}
// ################################################################################################################## //
// ## TRIPTIQUE LOGOS ################################################################################################ //
// ################################################################################################################## //
.triptique {
    border-top: 1px solid $gris;
    display: flex;
    @extend .oh;
    flex-direction: column;
    @media (min-width: $md) {
        flex-direction: row;
    }
    &__inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include fluid-it(height, 320px, 1023px, 200px, 240px);
        border-bottom: 1px solid $gris;
        @media (min-width: $md) {
            width: 33.333333%;
            @include fluid-it(height, 1024px, 1920px, 240px, 280px);
            border: unset;
        }
        .svg {
            text-align: center;
            margin-bottom: 1rem;
            opacity: 1;
            transform: translateY(0);
            max-height: unset;
            transition: all 600ms ease-out;
            svg,
            img {
                max-width: 50%;
                @media (min-width: $md) {
                    max-width: 67%;
                }
                height: auto;
            }
        }
        .triptique__inner__hover {
            opacity: 0;
            transform: translateY(-20px);
            max-height: 0;
            @extend .oh;
            transition: all 400ms ease-out;
        }
        .triptique__inner__hover {
            transition: all 600ms ease-out;
        }
        &::after {
            content: "";
            height: 200%;
            width: 1px;
            background-color: $gris;
            position: absolute;
            right: 0;
            top: -50%;
        }
        // Hover
        &:hover {
            .more {
                transform: rotate(90deg);
            }
            .svg {
                transform: translateY(-20px);
                opacity: 0;
                max-height: 0;
            }
            .triptique__inner__hover {
                transform: translateY(0);
                opacity: 1;
                max-height: 200px;
            }
        }
    }
}
// ################################################################################################################## //
// ## CTA'S ################################################################################################ //
// ################################################################################################################## //
.ctas {
    border-top: 1px solid $noir;
    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        min-height: 320px;
        padding: 6vw;
        border-bottom: 1px solid $noir;
        position: relative;
        @media (min-width: $md) {
            min-height: 420px;
            padding: 0 4vw;
            border: unset;
        }
        a {
            color: $noir;
        }
        p {
            margin-bottom: 0;
        }
        img {
            max-width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
        .titre-sm {
            @include fluid-it(font-size, 1024px, 1920px, 16px, 24px);
            margin-bottom: 1rem;
        }
        &--citation {
            @extend .font-md;
            font-weight: normal;
            color: $noir;
            background-color: $gris;
            text-transform: uppercase;
            position: relative;
            @media (min-width: $md) {
                &::before,
                &::after {
                    content: "";
                    width: 2rem;
                    height: 2rem;
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='26px' height='29px'%3E%3Cpath fill-rule='evenodd' fill='rgb(51, 105, 255)' d='M9.630,16.781 L9.630,28.974 L0.410,28.974 L0.410,19.348 C0.410,13.864 1.060,9.800 2.364,7.155 C3.668,4.510 5.641,2.448 8.288,0.971 L10.447,5.113 C8.813,5.929 7.549,7.184 6.654,8.876 C5.759,10.568 5.252,13.203 5.137,16.781 L9.630,16.781 ZM24.454,16.781 L24.454,28.974 L15.175,28.974 L15.175,19.348 C15.175,13.864 15.835,9.800 17.158,7.155 C18.481,4.510 20.446,2.448 23.053,0.971 L25.213,5.113 C23.578,5.929 22.313,7.194 21.419,8.905 C20.522,10.616 20.019,13.242 19.902,16.781 L24.454,16.781 Z'/%3E%3C/svg%3E")
                    no-repeat center;
                }
                &::after {
                    top: auto;
                    left: auto;
                    bottom: 2rem;
                    right: 2rem;
                    transform: rotate(180deg);
                }
            }
        }
    }
    article {
        margin: 0 -1px -1px 0;
    }
}
// Hover cards
.ctas__inner:hover,
.intro:hover {
    .fleche {
        &::after {
            transform: translateX(50px);
            opacity: 0;
            position: absolute;
        }
        &::before {
            opacity: 1;
            transform: translateX(0);
            position: relative;
        }
    }
}
// Anims lines
.animated {
    .key-center--left,
    .key-center--right {
        transform: scaleY(0);
    }
    .key-center {
        transform: scaleY(0);
    }
    .key-top--left,
    .key-top--right {
        transform: scaleX(0);
    }
    .ctas__inner {
        min-height: 25vw;
    }
}
.anim-border {
    position: absolute;
    background-color: $noir;
    &.gris {
        background-color: $gris;
    }
    &--top,
    &--bottom {
        height: 1px;
        width: 100%;
        left: 0;
    }
    &--right,
    &--left {
        height: 100%;
        width: 1px;
        top: 0;
    }
    &--top {
        top: 0;
    }
    &--right {
        right: -1px;
    }
    &--bottom {
        bottom: 0;
    }
    &--left {
        left: -1px;
    }
}
.animlines {
    position: relative;
}
.anim-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
// ################################################################################################################## //
// ## PAGE ARTICLE SEUL ############################################################################################# //
// ################################################################################################################## //
.actualites-full {
    header {
        position: relative;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .titre-container {
        @include fluid-it(padding-left, 1024px, 1920px, 16px, 64px);
        @include fluid-it(padding-right, 1024px, 1920px, 16px, 64px);
    }
    .contenu {
        .intro {
            @include fluid-it(padding-top, 1024px, 1920px, 16px, 16px);
            @include fluid-it(padding-right, 1024px, 1920px, 16px, 96px);
            @include fluid-it(padding-bottom, 1024px, 1920px, 16px, 112px);
            @include fluid-it(padding-left, 1024px, 1920px, 16px, 64px);
            @media (min-width: $md) {
                min-height: 50vh;
            }
        }
    }
    .titre-actu {
        @extend .titre-sm;
        @include fluid-it(font-size, 1024px, 1920px, 24px, 32px);
        @include fluid-it(margin-bottom, 1024px, 1920px, 20px, 24px);
    }
    .derniers-articles {
        h2 {
            text-transform: uppercase;
            @include fluid-it(margin-bottom, 1024px, 1920px, 32px, 48px);
            @extend .font-md;
            font-weight: 600;
            letter-spacing: 0.5px;
        }
    }
    .swiper-container {
        height: auto;
    }
}
#block-views-block-actualites-block-autres-articles { margin-top: 3rem; }
.intro {
    position: relative;
    * {
        font-family: "DMSans" !important;
    }
}
.retour {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    @media (min-width: $lg) {
        right: 2rem;
    }
}
.tri {
    margin-right: 1.5rem;
    @include fluid-it(margin-bottom, 1024px, 1920px, 24px, 32px);
    &__form {
        display: flex;
        @media (min-width: $md) {
            align-items: flex-end;
        }
        form {
            align-items: center;
        }
    }
    label {
        margin-right: 1.5rem;
    }
    .select-container {
        padding-left: 16px;
        @media (min-width: $md) {
            margin-left: auto;
            padding-left: 0;
        }
    }
}
// ################################################################################################################## //
// ## BLOCK PREV-NEXT ################################################################################################ //
// ################################################################################################################## //
[id^="block-next-prev-"] {
    position: absolute;
    right: 2rem;
    top: 0;
    height: 100%;
    width: 1rem;
    @extend .d-none, .d-md-flex;
    flex-direction: column;
    justify-content: space-between;
    a {
        display: block;
        text-align: center;
        cursor: pointer;
        &:hover { background-size: unset }
    }
    .prev-link,
    .next-link {
        font-size: 0;
        height: 300px;
        width: 100%;
    }
    //.next-link {
    //    background: url("/images/suivant.svg") no-repeat top;
    //}
    //.prev-link {
    //    background: url("/images/precedent.svg") no-repeat bottom;
    //}
    a:first-child {
        order: 1;
        @include fluid-it(margin-bottom, 1024px, 1920px, 24px, 32px);
    }
    a:last-child {
        @include fluid-it(margin-bottom, 1024px, 1920px, 24px, 32px);
    }
    a:nth-child(2) {
        order: 0;
    }
}
// ################################################################################################################## //
// ## PAGE EQUIPE ############################################################################################# //
// ################################################################################################################## //
// logo axe
.logo-axe {
    height: 320px;
    margin-bottom: -3px;
    background: white;
    border-right: 0.5px solid $noir;
}
// ################################################################################################################## //
// ## ENGAGEMENTS ############################################################################################# //
// ################################################################################################################## //
.contenu {
    visibility: hidden;
    background-color: $blanc;
    @extend .oh;
}
// ################################################################################################################## //
// ## TEMP DEV ############################################################################################# //
// ################################################################################################################## //
.tempdev {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 100000;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: none;
    @media (max-width: 1800px) {
        display: flex;
    }
}
.warn {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: green;
    color: white;
    text-transform: uppercase;
    position: fixed;
    top: 150px;
    right: 2rem;
    z-index: 50;
    font-size: 0.8rem;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
}
// ################################################################################################################## //
// ## SWIPER #################################################################################################### //
// ################################################################################################################## //
.swiper-container {
    height: 100%;
}
.swiper-pagination-bullet:only-child {
    /* cacher la pagination si une seul image */
    visibility: hidden;
}
.swiper-button-disabled {
    /* cacher les flèches (prev - next) si une seul image  */
    opacity: 0 !important;
}
[class*="swiper-button-"] {
    opacity: 0;
    visibility: hidden;
}
// ############################################################################################################## //
// ## MAP ######################################################################################### //
// ############################################################################################################## //
.map__nav__container {
    padding: 3rem 0;
}
.map__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    @media (min-width: $lg) {
        flex-wrap: nowrap;
        text-align: inherit;
    }
    li {
        margin: 8px;
        width: 100%;
        @media (min-width: $lg) {
            margin: auto 0.5rem;
            width: inherit;
        }
        a {
            @extend .font-xs;
            color: rgba($noir, 0.7);
            padding: 0.5rem 0.75rem;
            text-transform: uppercase;
            position: relative;
            &::before,
            &::after {
                content: "";
                background-color: $bleu;
                height: 100%;
                width: 100%;
                position: absolute;
                display: block;
                bottom: 0;
                left: 0;
                z-index: -1;
                max-height: 0;
                transition: max-height 300ms ease-in-out;
                backface-visibility: hidden;
                perspective: 1000;
            }
            &::after {
                background-color: $noir;
            }
            &:hover {
                color: white;
                &::before {
                    max-height: 100%;
                }
            }
        }
        &.map__nav__see {
            a {
                color: white;
                &::before {
                    max-height: 100%;
                }
                &:hover {
                    &::before {
                        max-height: 0;
                    }
                    &::after {
                        max-height: 100%;
                    }
                }
            }
            .svg {
                margin-right: 0.5rem;
            }
        }
    }
    span:not(.svg) {
        display: none;
        @media (min-width: $lg) {
            display: block;
        }
    }
}
// ############################################################################################################## //
// ##  REALISATIONS FULL ################################################################################### //
// ############################################################################################################## //
.logo-projet--full {
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: auto;
        @media (min-width: $xl) {
            max-width: 200px;
        }
        @media (max-width: $md - 1) {
            max-width: 180px;
        }
    }
}
.realisations__detail-grid-container {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0;
    grid-template-areas:
    "photo-1"
    "photo-2"
    "photo-3"
    "photo-4"
    "photo-5";
    @media (min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem 1rem;
        grid-template-areas:
      "photo-1 photo-2 photo-2"
      "photo-3 photo-3 photo-4"
      "photo-5 photo-5 photo-4";
    }
    [class*="photo-"] {
        @include fluid-it(height, 1024px, 1920px, 280px, 420px);
        //background-color: $gris;
        margin-bottom: 1rem;
        @media (min-width: $md) {
            margin-bottom: 0;
        }
    }
    .photo-1 {
        grid-area: photo-1;
    }
    .photo-2 {
        grid-area: photo-2;
    }
    .photo-3 {
        grid-area: photo-3;
    }
    .photo-4 {
        grid-area: photo-4;
        @media (min-width: $md) {
            height: 100%;
        }
    }
    .photo-5 {
        grid-area: photo-5;
    }
}
.geolocation-map-wrapper {
    margin-bottom: 40px;
}
.googlemap {
    height: 500px;
    background: #e5e5e5;
    @media (min-width: $md) {
        @include fluid-it(margin-bottom, 1024px, 1920px, 40px, 80px);
    }
}
/* Fleches prev next detail projet */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -130px;
    left: auto;
    display: inline-block;
    width: 120px;
    svg { width: 100% }
}
.next {
    right: auto;
    left: -130px;
    display: flex;
}
.next svg {
    margin-left: auto;
}
/* Bloc contact */
.contact-bloc p:empty {
    display: none;
}
.contact-bloc p {
    margin-bottom: 3px;
}
.contact-bloc p:nth-child(2) {
    margin-bottom: 1rem;
    color: $bleu;
}
.contact-bloc p:nth-child(3) {
    color: $bleu;
}
.contact-bloc {
    padding: 5%;
    border: 1px solid black;
}
// Anim  Barres
.anim-fields {
    display: flex;
    flex-flow: wrap;
}
.anim-fields__item {
    width: 50%;
    margin-bottom: 1rem;
}
//.anim-fields__label span:last-child {
.anim-fields__label span:not(:first-child) {
    color: $bleu;
    font-weight: bold;
}

.anim-fields__item p {
    margin-bottom: 0;
}
.barre {
    max-width: 90%;
    clip-path: inset(0 100% 0 0);
}
// Bouton retour
.grid-back {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
}

// ################################################################################################################## //
// ## PAGE SEARCH ######################################################################################################## //
// ################################################################################################################## //
.page-search {
    nav[aria-labelledby="system-breadcrumb"] {
        margin: 1rem 0;
    }
    ol li {
        margin: 3rem 0;
        list-style: none;
    }
}
