// ################################################################################################################## //
// VARIABLES GLOBALES DU SITE
// ################################################################################################################## //
// COULEURS :
$blanc: #fff;
$gris-clair: #e3e3e3;
$gris: #e5e5e5;
$noir: #000;
$noir_2: #292929;
$bleu: #1d5cff;
$dark: $noir;
$primary: $bleu;

// SIZING :
$sm: 576px; // sm >=576px
$md: 768px; // md >=768px
$lg: 992px; // lg >=992px
$xl: 1200px; // xl >= 1200px
$xl-1366: 1366px; // xl >= 1200px
$xl-1440: 1400px; // xl >= 1200px
$xl-1600: 1600px; // xl >= 1200px
$xl-1920: 1920px; // xl >= 1200px

// // $grid-breakpoints: (
// //   xs: 0,
// //   sm: 360px,
// //   md: 768px,
// //   lg: 992px,
// //   xl: 1200px,
// //   xl-1440: 1440px,
// // );

// $container-max-widths: (
//   sm: 540px,
//   md: 720px,
//   lg: 960px,
//   xl: 1040px,
//   xl-1440: 1320px,

// );


// ################################################################################################################## //
// FONCTIONS GLOBALES DU SITE
// ################################################################################################################## //
@mixin media-max($width) {
  @media (max-width: $width) {
    @content;
  }
}
@mixin media-min($width) {
  @media (min-width: $width) {
    @content;
  }
}
//FLUID IT
@mixin fluid-it($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }
  @media (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(
        #{$min-value} +
          #{strip-unit($max-value - $min-value)} *
          (100vw - #{$min-vw}) /
          #{strip-unit($max-vw - $min-vw)}
      );
    }
  }
  @media (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}
// ################################################################################################################## //
// ## HELPERS ######################################################################################################## //
// ################################################################################################################## //
p:empty {
  display: none;
}
.oh {
  overflow: hidden;
}
.font-sm,
.font-md {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.font-md {
  @include fluid-it(font-size, 1024px, 1920px, 14px, 18px);
}
.font-xs {
  @include fluid-it(font-size, 1024px, 1920px, 12px, 14px);
}
.font-xxs {
  font-size: 0.75rem;
}
.h2 {
  @include fluid-it(font-size, 1024px, 1920px, 28px, 36px);
}
.h3 {
  @include fluid-it(font-size, 1024px, 1920px, 24px, 32px);
}
.h4 {
  @include fluid-it(font-size, 1024px, 1920px, 16px, 24px);
}
.h5 {
  @include fluid-it(font-size, 1024px, 1920px, 14px, 22px);
}
.text-noir {
  color: $noir;
}
.grayscale {
  filter: grayscale(1);
}
.fullabs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.nobefore {
  &::before {
    display: none;
    visibility: hidden;
  }
}
.l-space {
  letter-spacing: 2px;
  &--sm {
    letter-spacing: 1px;
  }
}
.overlay {
  &::before {
    content: "";
    @extend .fullabs;
    z-index: 2;
    background-color: rgba($noir, 0.6);
    opacity: 0;
  }
}
.fleche {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  &::after,
  &::before {
    content: "";
    display: flex;
    align-items: flex-end;
    background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='38.815' height='12.935' viewbox='0 0 38.815 12.935'%3E%3Cpath id='fleche' d='M72.517,30.052l-5.6-5.593a.874.874,0,0,0-1.236,1.236l4.106,4.1H34.833a.874.874,0,0,0,0,1.748H69.787l-4.106,4.1a.874.874,0,0,0,1.236,1.235l5.6-5.593A.873.873,0,0,0,72.517,30.052Z' transform='translate(-33.959 -24.203)' fill='%233369FF'/%3E%3C/svg%3E%0A")
      no-repeat center;
    width: 100%;
    height: 0.75rem;
    margin-top: 0.5rem;
    transform: translateX(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-out;
    opacity: 1;
    position: relative;
  }
  &::before {
    opacity: 0;
    transform: translateX(-200px);
    position: absolute;
  }
  &--right {
    &::after,
    &::before {
      margin: 0 !important;
    }
    &::after {
      background: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='38.815' height='12.935' viewbox='0 0 38.815 12.935'%3E%3Cpath id='fleche' d='M72.517,30.052l-5.6-5.593a.874.874,0,0,0-1.236,1.236l4.106,4.1H34.833a.874.874,0,0,0,0,1.748H69.787l-4.106,4.1a.874.874,0,0,0,1.236,1.235l5.6-5.593A.873.873,0,0,0,72.517,30.052Z' transform='translate(-33.959 -24.203)' fill='%233369FF'/%3E%3C/svg%3E%0A")
        no-repeat right;
    }
  }
}
.more {
  border: 2px solid $bleu;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(0);
  transition: all 300ms ease-out;
  &::before {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='12.999' viewBox='0 0 13 12.999'%3E%3Cpath id='plus' d='M518.662,120.144v-6h-6v-1h6v-6h1v6h6v1h-6v6Z' transform='translate(-512.662 -107.145)' fill='%233369fc'/%3E%3C/svg%3E%0A")
      no-repeat center;
    width: 1rem;
    height: 1rem;
  }
}
.titre-sm,
.titre-actu {
  @include fluid-it(font-size, 1024px, 1920px, 16px, 22px);
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  position: relative;
  @extend .l-space--sm;
  color: $bleu;
}
.font-weight-bold {
  font-weight: 600;
}
.smooth {
  .bg-vertical {
    background-color: $gris;
    @media (max-width: $lg - 1) {
      height: 12rem;
      min-height: unset;
      background-size: cover !important;
      background-position: center !important;
    }
  }
}
.p-neg{
  p{
    margin-bottom: 0;
  }
}
.mb-n3{
  margin-bottom: -1rem;
}
.bg-header,.img-principale,.bg-vertical{
  position: relative;
  &::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba($noir,.3);
    z-index: 1;
    opacity: 0;
    transition: opacity 900ms ease-out;
  }
  &:hover{
    &::after{
      opacity: 1;
    }
  }
}
// ################################################################################################################## //
// ## LIEN EXERGUE ################################################################################################ //
// ################################################################################################################## //
.spotlink {
  //position: relative;
  //overflow: hidden;
  //transition: all 400ms ease-out;
  //&::after {
  //  content: "";
  //  position: absolute;
  //  left: 0;
  //  bottom: -2px;
  //  display: block;
  //  background-color: $bleu;
  //  z-index: -1;
  //  width: 100%;
  //  height: 115%;
  //  max-height: 3px;
  //  transition: max-height 400ms ease-out;
  //}
  //&:hover {
  //  color: white;
  //  &::after {
  //    max-height: 50px;
  //  }
  //}

    padding-bottom: 1px;
    overflow: hidden;
    transition: background-size .15s ease-in-out, color .15s ease-in-out;
    background-image: linear-gradient(to bottom, $bleu 0, $bleu 100%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% .13rem;
    line-height: 1.5;
    text-decoration: none;
    &:hover {
      background-size: 100% 100%;
      color: $blanc;
    }
}
