
{#
    APPARAIT SUR LA PAGE : /realisations/carte
#}

<div class="realisations carte">

    {{ page.content }} {# Renvoi vers views/views-view--page-realisation-carte.html.twig #}

</div>

{{ attach_library('axe_theme/realisations') }}
