
{#
    APPARAIT SUR LA PAGE : /realisations
#}

{# FIN ...  Message dev #}
<div class="layout-container">
   {# {{ page.breadcrumb }}#}
    <section class="realisations oh">
        {{ page.content }}
    </section>
</div>

{{ attach_library('axe_theme/realisations') }}

{{ attach_library('axe_theme/infinite-scroll') }}