

<div class="layout-container container-fluid">
    <div class="row">
        {# BG IMAGE #}
        <div class="col-md-6 p-0">
            <div class="bg-vertical" style="background: url('{{ file_url(drupal_field('field_image_principal_contact', 'block_content', 13)['#items'].entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}')"></div>
        </div>
        {# CONTENU #}
        <div class="col-md-6 p-0 login-form">
            <div class="contenu">
                <header class="titre-container mb-0">
                    {{ page.breadcrumb }}
                    <h1>{{ "Contact"|t }}</h1>
                </header>
                <div class="intro page-contact">
                {{ page.content }} {# renvoi vers webform--contact.html.twig #}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .titre-container {
        margin-bottom: 0;
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .bg-vertical {
        background-size: cover!important;
        width: 100%;
        height: 100%;
        min-height:90vh;
    }
    .page-contact{
        padding: 4rem;
    }
</style>

{{ attach_library('axe_theme/contact') }}
