{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
	<head>
		<script type="text/javascript" src="{{ base_path ~ directory }}/assets/tarteaucitron/tarteaucitron.js"></script>
		<script>
            /* Initialisation */
            tarteaucitron.iddeupoints_UA = 'G-R4RY2E4JRK';
            /* Customisation des textes avant initialisation */
            var tarteaucitronCustomText = {
                "alertBigPrivacy" : "{{ "THIS SITE USES COOKIES TO ENHANCE THE BROWSING EXPERIENCE AND PROVIDE ADDITIONAL FEATURES."|t }}",
                "personalize": "Paramétrer",
                "denyAll": "{{ "Don't Allow cookies"|t }}",
                "acceptAll": "{{ "Allow cookies"|t }}",
            }
            /* Initialisation */
            tarteaucitron.init({
                "showIcon": false, {# Show cookie icon to manage cookies #}
                "hashtag": "#tarteaucitron", /* Ouverture automatique du panel avec le hashtag */
                "highPrivacy": true, /* désactiver le consentement implicite (en naviguant) ? */
                "orientation": "bottom", /* le bandeau doit être en haut (top) ou en bas (bottom) ? */
                "adblocker": false, /* Afficher un message si un adblocker est détecté */
                "showAlertSmall": false, /* afficher le petit bandeau en bas à droite ? */
                "cookieslist": true, /* Afficher la liste des cookies installés ? */
                "removeCredit": true, /* supprimer le lien vers la source ? */
                "DenyAllCta": true, /* Afficher le bouton Tout refuser ?*/
                "AcceptAllCta": true, /* Afficher le bouton Tout accepter ? quand highPrivacy on */
                "useExternalCss": false, /* Utilisation d'un fichier css externe? */
                // "cookieDomain": ".heureuses.fr" /* Nom de domaine sur lequel sera posé le cookie pour les sous-domaines */
            });
            /* Google analytics */
            tarteaucitron.user.gtagMore = function() {
                window.dataLayer = window.dataLayer || [];

                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());
                gtag('config', tarteaucitron.iddeupoints_UA);
            };
            (tarteaucitron.job = tarteaucitron.job || []).push('gtag');

            tarteaucitron.user.googletagmanagerId = 'GTM-W5RL5MV';
            (tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
		</script>
		
		
		<head-placeholder token="{{ placeholder_token }}">
		
		<title>{{ head_title|safe_join(' | ') }}</title>
		
		<meta name='description' content='Axe Immobilier est un groupe indépendant fondé en 1993, par Alain Beynet et Alain Delaporte qui développe et réalise des projets urbains au cœur des grandes métropoles autour de trois pôles d’expertises : le développement, le management de projets, et l’ingénierie.'>
		
		<css-placeholder token="{{ placeholder_token }}">
		<js-placeholder token="{{ placeholder_token }}">
		
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-R4RY2E4JRK"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-R4RY2E4JRK');
		</script>

        <!-- Google Tag Manager -->
{#        <script>#}
{#          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-W5RL5MV');#}
{#        </script>#}
        <!-- End Google Tag Manager -->

    </head>

	<!-- ******************* Curseur ******************* -->
	<div class="circle-follow">
		<div id="curseurAnim" width="140" height="140" style="width:140px;height:140px;"></div>
	</div>

	<body{{ attributes }}>

    <!-- Google Tag Manager (noscript) -->
{#    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5RL5MV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> <!-- End Google Tag Manager (noscript) -->#}

		<!-- ******************* Preloader ******************* -->
		<div class="preloader"></div>
		<!-- ******************* Loader ******************* -->
		<div class="loader">
			{% if is_front %}
				<div id="lottieLoader" style="width:400px;height:400px;"></div>
			{% endif %}
		</div>
		<!-- ******************* Conteneur locoScroll ******************* -->
		<div class="smooth position-relative">
			{{ page.menu }}
			<div class="menu-after"></div>
			{{ page }}
			{% if page.footer %}
				<footer>{{ page.footer }}</footer>
			{% endif %}
		</div>
		{{ attach_library('axe_theme/loco-scroll') }}
		{{ attach_library('axe_theme/swiper') }}
		{{ attach_library('axe_theme/gsap') }}
		<script src="{{ base_path ~ directory }}/assets/js/lottie.js"></script>
		<script src="{{ base_path ~ directory }}/assets/js/gsap-custom.js"></script>
{#		<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cookie-bar/cookiebar-latest.min.js?theme=white&thirdparty=1&showNoConsent=1&hideDetailsBtn=1&remember=Autodetect"></script>#}
		<js-bottom-placeholder token="{{ placeholder_token }}">
	</body>
</html>
