<div class="layout-container accueil">
	<div class="container-fluid">
		<header role="banner" class="header-home w-auto row">
			<div class="img-header col-12 col-lg-9 p-0">
				{{ drupal_field('field_image_section_1_block_home', 'block_content', 5) }}
				
{#				<div class="bg-header kenburns" style="background: url('{{ file_url(drupal_field('field_image_section_1_block_home', 'block_content', 5).0['#item'].entity.fileuri|image_style('image_desktop_1920x1080')) }}') no-repeat center center"></div>#}
{#				<div class="titre-principal d-none">{{ drupal_field('field_contenu_sect_1_block_home', 'block_content', 5) }}</div>#}
			</div>
			<div class="col-12 col-lg-3 p-0">
				{{ drupal_field('field_contenu_sect_1_block_home', 'block_content', 5) }}
				<!-- Derniers articles Desktop -->
				<div class="derniers-articles derniers-articles--desktop d-none d-lg-block">
					<h2 class="font-md">{{ 'Latest news'|t }}</h2>
					{{ drupal_block('views_block:actualites-block_derniers_articles', wrapper=false) }}
				</div>
				<!-- Derniers articles Mobile -->
				<div class="col-12 p-0 realisations-grid--accueil derniers-articles">
					<a class="realisations__item text-center text-noir nobefore" href="{{ path("view.actualites.actualites") }}">
						<span class="text-uppercase  realisations__item__texte">{{ 'Latest news'|t }}</span>
					</a>
					<div class="realisations__item nobefore d-block">
						<div class="swiper-container swiperNews">
							<div class="swiper-wrapper">
								{{ drupal_block('views_block:actualites-block_derniers_articles', wrapper=false) }}
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</header>
	</div>
	<section>
		<div class="container-fluid realisations">
			<div class="row">
				<div class="col-md-6 p-0">
					{% for item in drupal_field('field_image_section_2_block_home', 'block_content', 5)['#items'] %}
						{% if item.entity.field_lien_image.value is not empty %}
							<a class="curseurfull" href="{{ item.entity.field_lien_image.0.url|render }}">
								<div class="bg-header bg-header--bottom w-100" style="background:#eee url('{{ file_url(drupal_field('field_image_section_2_block_home', 'block_content', 5).0['#item'].entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>
							</a>
						{% else %}
							<div class="bg-header bg-header--bottom w-100" style="background:#eee url('{{ file_url(drupal_field('field_image_section_2_block_home', 'block_content', 5).0['#item'].entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="col-md-6 p-0 realisations-grid--accueil">
					<a class="realisations__item text-center text-noir nobefore" href="{{ path("view.realisations.page_toutes_nos_realisations") }}">
						<span class="text-uppercase  realisations__item__texte">{{ 'Latest Projects'|t }}</span>
					</a>
					{{ drupal_view('realisations', 'block_dernieres_realisation') }}
				</div>
			</div>
		</div>
	</section>
</div>

{{ attach_library('axe_theme/accueil') }}

<script>
window.addEventListener("load", function () {
			let swiper = new Swiper(".swiperNews", {
			slidesPerView: 1,
			autoplay: true,
			pagination: {
			el: ".swiper-pagination"
		}
	});
});
</script>

<style>
	.realisations-grid--accueil {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	@media(min-width:768px) {
		.realisations-grid--accueil {
			grid-gap: 1px;
		}
	}
	@media(max-width:767px) {
		.realisations-grid--accueil {
			grid-gap: 0;
		}
	}
	@media(max-width:1440px) {
		.derniers-articles .views-row:last-child {
			display: none;
		}
	}
	@media(max-width:992px) {
		.derniers-articles .views-row span {
			margin-bottom: 0;
		}
		.derniers-articles .views-row span.field-content > span {
			display: none;
		}
		.derniers-articles .views-row p::after {
			margin-top: 0;
			transform: scale(0.7);
			transform-origin: right;
		}
		.realisations-grid--accueil.derniers-articles .realisations__item:first-child {
			border-right: 1px solid black;
		}
	}
	.derniers-articles .field-content {
		padding: 8px;
		font-size: 12px;
		margin-bottom: 0;
	}
	@media(max-width:767px) {
		.derniers-articles .field-content {
			padding: 7vw;
			position: relative;
			left: -5vw;
		}
	}
	@media(min-width:1200px) {
		.swiper-slide {
			height: auto;
		}
	}
</style>
