{#
    Page mentions légales
#}

<div class="container page-mentions-legales">
    <div class="row">
            <div class="col-12">
                {{ page.breadcrumb }}

                {{ page.content }}
            </div>
    </div>
</div>
