{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{#
APPARAIT SUR LA PAGE : /qui-sommes-nous/equipe
#}
<div class="layout-container">
    <div class="page-search">
        <div class="row">
            {# BG IMAGE #}
            <div class="col-md-5 p-0"><div class="bg-vertical h-100"></div></div>
            {# CONTENU #}
            <div class="col-md-7 p-0">
                <div class="contenu container-fluid">
                    {{ page.breadcrumb }}
                    <div class="apercu-contenus apercu-contenus-col-2 row">
                        {{ page.content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #search-form { display: none; }
        .bg-vertical {
            background: url({{ file_url(drupal_field('field_image_bg_qsn_mobile', 'block_content', 6)['#items'].entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}) no-repeat;
        {#background: url({{ file_url(drupal_field('field_image_bg_qsn_mobile', 'block_content', 6).0['#item'].entity.fileuri|image_style('image_desktop_1920x1080')) }}) no-repeat;#}
            background-size: cover!important;
            width: 100%;
            height: 12rem;
        }
        @media (min-width: 992px) {
            .bg-vertical {
                background: url({{ file_url(drupal_field('field_image_bg_qsn_desktop', 'block_content', 6)['#items'].entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}) no-repeat;
            {#background: url({{ file_url(drupal_field('field_image_bg_qsn_desktop', 'block_content', 6).1['#item'].entity.fileuri|image_style('vertical_full')) }}) no-repeat;#}
                height: unset;
                min-height:90vh;
            }
        }
    </style>
</div>