
<div class="layout-container">
	{{ page.highlighted }}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 p-0">
				<div class="img-principale"></div>
			</div>
			<div class="col-md-6 p-0">
				<div
					class="contenu">
					{# HEADER #}
					<header class="titre-container border-0 mb-0 pb-0">
						{{ page.breadcrumb }}
						<h1>{{ "ERROR 403"|t }}</h1>
					</header>
					<div class="intro">
                        <div id="anim403"></div>
						<h1 class="h4">{{ "You are not allowed to access this page."|t }}</h1>
                        <p class="mt-3">{{ "Here are some useful links"|t }} : </p>
                        <ul>
                            <li><a href="{{ path("axe.qui-sommes-nous.page") }}" class="text-dark">{{ "Who are we"|t }}</a></li>
                            <li><a href="{{ path("axe.qui-sommes-nous-expertise.page") }}" class="text-dark">{{ "Our expertise"|t }}</a></li>
                            <li><a href="{{ path("axe.qui-sommes-nous-equipe.page") }}" class="text-dark">{{ "Teams"|t }}</a></li>
                            <li><a href="{{ path("axe.realisation.page") }}" class="text-dark">{{ "Our projects"|t }}</a></li>
                            <li><a href="{{ path("view.nos_engagements.nos_engagements_nos_engagements") }}" class="text-dark">{{ "Our commitments"|t }}</a></li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<style>
#anim403{
    max-width:300px
}
.img-principale{
    background-color:#eee;
    width:100%;
    height:100%;
    min-height:90vh;
}
.intro {
      padding: 3rem 4rem;
}
header{
    padding-left:4rem;
    padding-right: 4rem;
}
</style>