{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{#{{ dump(attributes) }}#}
<div class="menu-mobile">
{#    <div class="burger-mobile"><div><div></div></div></div>#}

    <div class="hamburger hamburger--emphatic" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </div>

    {{ content }}
</div>
<div class="menu-desktop px-lg-4">{{ content }}</div>
