{#
    APPARAIT SUR LA PAGE : /qui-sommes-nous/equipe
#}

<div class="qui-somme-nous">
    <div class="layout-container container-fluid position-relative animated">
        <div class="row">
            {# BG IMAGE #}
            <div class="col-lg-6 p-0">
                {% for item in drupal_field('field_img_princ_equipe_teaser', 'block_content', 6)['#items'] %}
                    {% if item.entity.field_lien_image.value is not empty %}
                        <a class="curseurfull" href="{{ item.entity.field_lien_image.0.url|render }}">
                            <div class="bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>
                        </a>
                    {% else %}
                        <div class="bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>
                    {% endif %}
                {% endfor %}
            </div>
            {# CONTENU #}
            <div class="col-lg-6 p-0">
                <div class="contenu">
                    {# Header #}
                    <header class="titre-container border-0">
                        {{ page.breadcrumb }}
                        <h1>{{ drupal_field('field_titre_equipe_qsn', 'block_content', 6) }}</h1>
                        <div class="text-uppercase pt-2 anim-p">{{ drupal_field('field_texte_s_t_equipe_teaser', 'block_content', 6) }}</div>
                    </header>
                    {# ANIMATIONS #}
                    <div class="position-relative">
                        <div class="ctas border-0 anim-overlay">
                            <div class="row m-0 h-100">
                                {# 1 #}
                                <article role="article" class="col-6 p-0 animlines">
                                    <div class="anim-border anim-border--top key-top--left"></div>
                                    <div class="anim-border anim-border--bottom key-top--left"></div>
                                    <div class="anim-border anim-border--left key key-center--left"></div>
                                    <div class="anim-border anim-border--right key-center"></div>
                                </article>
                                {# 2 #}
                                <article role="article" class="col-6 p-0 animlines">
                                    <div class="anim-border anim-border--top key-top--right"></div>
                                    <div class="anim-border anim-border--right key key-center--right"></div>
                                    <div class="anim-border anim-border--bottom key-top--right"></div>
                                </article>
                                {# 3 #}
                                <article role="article" class="col-6 p-0 animlines">
                                    <div class="anim-border anim-border--top key-top--left"></div>
                                    <div class="anim-border anim-border--bottom key-top--left"></div>
                                    <div class="anim-border anim-border--left key key-center--left"></div>
                                    <div class="anim-border anim-border--right key-center"></div>
                                </article>
                                {# 4 #}
                                <article class="col-6 p-0 animlines">
                                    <div class="anim-border anim-border--top key-top--right"></div>
                                    <div class="anim-border anim-border--right key key-center--right"></div>
                                    <div class="anim-border anim-border--bottom key-top--right"></div>
                                </article>
                            </div>
                        </div>
                        <div class="ctas border-0 position-relative">
                            <div class="row m-0">
                                {{ drupal_view('qui_sommes_nous_taxonomy', 'qui_sommes_nous_taxonomy_equipe') }}
                            </div>
                        </div>
                        {# FIN... ANIMATIONS #}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    .bg-vertical {
        width: 100%;
        height: 12rem;
    }
    @media (min-width: 992px) {
        .bg-vertical {
            height: 100%;
        }
    }
</style>

{{ attach_library('axe_theme/qui-sommes-nous') }}



