
{#
    APPARAIT SUR LA PAGE : /qui-sommes-nous/comite-de-direction
#}

<div class="qui-sommes-nous-full">
    <div class="layout-container container-fluid">
        <div class="row">
            {# HEADER #}
            <div class="col-12 titre-container">
                <div class="row">
                    <div class="col-12 col-lg-5 p-0"></div>
                    <div class="col-12 col-lg-7 p-0">
                        {{ page.breadcrumb }}
                        <h1>{{ drupal_field('field_titre_principal_com_dir', 'block_content', 6) }}</h1>
                        <div class="pt-2 anim-p">{{ drupal_field('field_texte_s_t_com_dir_full', 'block_content', 6) }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-5 p-0">
                {# IMAGE PRINCIPALE #}
                <div class="img-principal oh">
                   <img src="{{ file_url(drupal_field('field_img_princ_comite_direction', 'block_content', 6)['#items'].entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}" alt="">
                </div>
                {# LOGO AXE #}
                <div class="logo-axe" id="logo-axe"></div>
            </div>
            {# LISTING EQUIPIERS #}
            <div class="layout-content col-lg-7">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
{{ attach_library('axe_theme/qui-sommes-nous') }}

<style>
    .logo-axe {
        height: 320px;
        margin-bottom: -3px;
        background: url("{{ file_url(drupal_field('field_logo_comite_direction', 'block_content', 6)['#items'].entity.field_media_image.entity.fileuri) }}")
        no-repeat center / 300px;
    }
</style>