
{#
    APPARAIT SUR LA PAGE : /qui-sommes-nous
#}
<div class="qui-somme-nous">
    <div class="layout-container container-fluid">
        <div class="row">
            {# BG IMAGE #}
            <div class="col-lg-6 p-0">
               <div class="swiper-container">
                   <div class="swiper-wrapper">
                       {% for item in drupal_field('field_image_bg_qsn_desktop', 'block_content', 6)['#items'] %}
                           {% if item.entity.field_lien_image.value is not empty %}
                               <a class="swiper-slide curseurfull" href="{{ item.entity.field_lien_image.0.url|render }}">
                                   <div class="bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}')"></div>
                               </a>
                           {% else %}
                                   <div class="swiper-slide bg-vertical" style="background: url('{{ file_url(item.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}')"></div>
                           {% endif %}
                       {% endfor %}
                   </div>
                   <!-- Pagination -->
                    <div class="swiper-pagination swiper-pagination-white"></div>
                   <!-- Arrows -->
                   <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
               </div>
            </div>
            {# CONTENU #}
            <div class="col-lg-6 p-0">
                <div class="contenu custom-block-qui-sommes-nous">
                    {{ page.content }}
                </div>
            </div>
        </div>
    </div>

    <script type="module">
        window.addEventListener("load", function () {
            const swiper = new Swiper('.swiper-container', {
                effect: 'fade',
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false,
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
            });
        });
    </script>

    <style>
        .bg-vertical {
            background: url({{ file_url(drupal_field('field_image_bg_qsn_mobile', 'block_content', 6)['#items'].entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}) no-repeat;
            background-size: cover!important;
            width: 100%;
            height: 12rem;
        }
        @media (min-width: 992px) {
            .bg-vertical {
                {#background: url({{ file_url(drupal_field('field_image_bg_qsn_desktop', 'block_content', 6)['#items'].entity.field_media_image.entity.fileuri|image_style('free_crop_image')) }}) no-repeat;#}
                height: 100%;
                min-height:90vh;
            }
        }
    </style>

    {{ attach_library('axe_theme/qui-sommes-nous') }}

</div>