
<section class="layout-container container-fluid">
    <div class="actualites-full row">
        {# BG IMAGE #}
        <div class="col-lg-6 p-0">
            {% if node.field_image_a_la_une_engagements.entity.field_lien_image.value is not empty %}
                <a class="curseurfull" href="{{ node.field_image_a_la_une_engagements.entity.field_lien_image.0.url|render }}">
{#                    <div class="bg-vertical" style="background: url('{{ file_url(node.field_image_a_la_une_engagements.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>#}
                    <div class="bg-vertical" style="background: url('{{ file_url(node.field_image_a_la_une_engagements.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat"></div>
                </a>
            {% else %}
{#                <div class="bg-vertical" style="background: url('{{ file_url(node.field_image_a_la_une_engagements.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>#}
                <div class="bg-vertical" style="background: url('{{ file_url(node.field_image_a_la_une_engagements.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat"></div>
            {% endif %}
        </div>
        {# CONTENU #}
        <div class="col-lg-6 p-0 contenu">
            {# HEADER #}
            <header class="titre-container">
                {{ drupal_block("system_breadcrumb_block") }}
                <h1>{{ label }}</h1>
            </header>
            {# CONTENU ARTICLE #}
            <article class="intro">
                 {{ content.body }}
            </article>
        </div>
    </div>
</section>

{{ attach_library('axe_theme/actualites') }}

<style>
    .bg-vertical {
        height:100%;
        min-height:90vh;
        background-attachment: fixed!important;
        background-size: contain!important;
        
    }
    .actualites-full .contenu .intro{
        min-height:unset;
    }
</style>