{#
    APPARAIT SUR LA PAGE : 	/nos-engagements
#}
<article{{ attributes }} class="col-6 p-0 animlines">
    <div{{ content_attributes }} class="ctas__inner">
        <a href="{{ url }}">
            <h2 class="titre-sm">{{ label }}</h2>
            <p>{{ node.field_titre_resume_engagement.value }}</p>
            <span class="fleche mt-3 mt-xl-5"></span>
        </a>
    </div>
</article>
