
<div class="d-flex justify-content-between">
    <p class="type-actu-date ">{{ node.type.entity.label }} - {{ node.getCreatedTime()|date('d/m/Y') }}</p>
    {{ content.field_fichier_pdf_revue_web }}
</div>

<h2 class="titre-actu">{{ label }}</h2>

<div class="text-editor-body">
    {{ content.body }}
</div>
