

<article>
{#    <a href="{{ url }}"></a>#}
    {% if content.field_image_principal_news.0 is not null %}<a href="{{ url }}"><div class="preview-article-img">{{ content.field_image_principal_news.0}}</div></a>
    {% elseif content.field_image_principal_com_presse.0 is not null %}<a href="{{ url }}"><div class="preview-article-img">{{ content.field_image_principal_com_presse.0}}</div></a>
    {% elseif content.field_image_principal_revue_pres.0 is not null %}<a href="{{ url }}"><div class="preview-article-img">{{ content.field_image_principal_revue_pres.0}}</div></a>
    {% elseif content.field_image_principal_revue_web.0 is not null %}<a href="{{ url }}"><div class="preview-article-img">{{ content.field_image_principal_revue_web.0}}</div></a>
    {% endif %}

    <div class="preview-article-content">
        <p class="type-actu-date">{{ node.type.entity.label }} - {{ node.getCreatedTime()|date('d/m/Y') }}</p>
        <h2 class="titre-actu mb-3"><a href="{{ url }}" rel="bookmark">{{ label }}</a></h2>
        <p>
{#            {% set text = content.body|render|striptags %}#}
            {% set text = node.body.value|render|striptags %}
{#            {{ text|length > 150 ? text|slice(0, 150) ~ '...' : text }}#}
            {{ text|truncate(150, true, '...') }}
        </p>
        <a class="fleche-droite" href="{{ url }}"><img src="{{ base_path ~ directory }}/assets/images/fleche-droite.svg" alt=""></a>
    </div>
</article>

