

<span class="views-field views-field-nothing">
    <span class="field-content">
        <span>{{ node.type.entity.label }} - {{ node.created.value|date('d.m.Y') }}</span>
        <p><a href="{{ url }}" hreflang="fr">{{ node.title.value|length > 40 ? node.title.value|slice(0, 40) ~ '...' : node.title.value }}</a></p>
    </span>
</span>
