<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 177.1 60.4" style="enable-background:new 0 0 177.1 60.4;" xml:space="preserve">
		<style type="text/css">
			.st0 {
				fill: #060E0F;
			}
			.st1 {
				fill: #3369FF;
			}
		</style>
		<path class="st0" d="M129.2,0v41.9h47.8V34h-39.2v-9.3h30.1v-7.4h-30.1V7.7h39.2V0H129.2z"/>
		<polygon class="st0" points="87.4,41.9 74.7,41.9 116.6,0 129.2,0 "/>
		<polygon class="st0" points="83.8,41.9 41.9,0 0,41.9 12.6,41.9 41.9,12.6 71.1,41.9 "/>
		<polygon class="st1" points="116.6,41.9 129.2,41.9 87.4,0 74.7,0 "/>
		<rect x="92.3" y="53" class="st0" width="1.1" height="7.3"/>
		<polygon class="st0" points="104.2,53 102,58.5 99.9,53 98.2,53 98.2,60.2 99.3,60.2 99.3,54.1 99.3,54.1 101.7,60.2 102.4,60.2
							104.8,54.1 104.8,54.1 104.8,60.2 105.9,60.2 105.9,53 "/>
		<polygon class="st0" points="116.8,53 114.6,58.5 112.4,53 110.7,53 110.7,60.2 111.8,60.2 111.8,54.1 111.8,54.1 114.3,60.2
							114.9,60.2 117.3,54.1 117.4,54.1 117.4,60.2 118.4,60.2 118.4,53 "/>
		<g>
			<path class="st0" d="M137.1,59.2H136V57h1.2c1,0,1.3,0.7,1.3,1.2C138.5,58.8,137.9,59.2,137.1,59.2 M136,53.9h0.8
								c0.8,0,1.2,0.3,1.2,1c0,0.7-0.4,1-1.2,1H136V53.9z M138.4,56.3c0.5-0.4,0.6-0.8,0.6-1.4c0-1.1-0.8-2-2.2-2h-2v7.3h2.3
								c1.3,0,2.3-0.8,2.3-2.1C139.5,57.3,139.1,56.7,138.4,56.3"/>
		</g>
		<rect x="144" y="53" class="st0" width="1.1" height="7.3"/>
		<polygon class="st0" points="149.9,53 149.9,60.2 153.5,60.2 153.5,59.2 151,59.2 151,53 "/>
		<rect x="157.6" y="53" class="st0" width="1.1" height="7.3"/>
		<polygon class="st0" points="163.4,53 163.4,60.2 167.3,60.2 167.3,59.2 164.4,59.2 164.4,57 167.3,57 167.3,56.1 164.4,56.1
							164.4,53.9 167.3,53.9 167.3,53 "/>
		<g>
			<path class="st0" d="M173.7,56.7h-0.8v-2.8h1.1c0.9,0,1.6,0.5,1.6,1.4C175.7,56.2,174.9,56.7,173.7,56.7 M176.7,55.4
								c0-1.5-0.8-2.4-2.5-2.4h-2.3v7.3h1.1v-3.4h0l2.4,3.4h1.3l-2-2.7C175.7,57.5,176.7,56.8,176.7,55.4"/>
		</g>
		<path class="st0" d="M126.7,59.4c-1.7,0-2.7-1.4-2.7-2.8c0-1.1,0.8-2.8,2.8-2.8c1.5,0,2.7,1.3,2.7,2.8
					C129.4,57.9,128.4,59.4,126.7,59.4 M126.7,52.8c-2,0-3.7,1.6-3.7,3.8c0,2,1.7,3.7,3.7,3.7c2.1,0,3.8-1.6,3.8-3.8
					C130.5,54.5,128.8,52.8,126.7,52.8"/>
	</svg>