{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

<div{{ attributes }} >
	{% block content %}
{#		{{ content }}#}
{#		{{ dump(content) }}#}
{#		{{ dump(content["prev"]["#url"]|render) }}#}
{#		{{ dump(content["next"]["#url"]|render) }}#}
		
		<a href="{{ content["prev"]["#url"]|render }}" class="next d-none d-md-flex" title="Projet suivant">
			<svg xmlns="http://www.w3.org/2000/svg" width="72.098" height="52.156" viewbox="0 0 72.098 52.156">
				<g id="projet-precedent" transform="translate(-379.525 -112)">
					<path id="Tracé_76" data-name="Tracé 76" d="M-46.54,0V-9.1h2.99a3.856,3.856,0,0,1,1.755.351,2.339,2.339,0,0,1,1.021.949,2.741,2.741,0,0,1,.331,1.352,2.758,2.758,0,0,1-.325,1.339,2.336,2.336,0,0,1-1.014.956A3.83,3.83,0,0,1-43.55-3.8h-1.9V0Zm1.092-4.719h1.872a2.147,2.147,0,0,0,1.554-.462,1.713,1.713,0,0,0,.462-1.267,1.731,1.731,0,0,0-.462-1.28,2.147,2.147,0,0,0-1.554-.461h-1.872ZM-38.818,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L-32.721,0h-1.287l-1.846-3.757h-1.872V0Zm1.092-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.474-1.28,2.136,2.136,0,0,0-1.553-.475h-1.755ZM-26.78.156a4.549,4.549,0,0,1-2.347-.592A4.114,4.114,0,0,1-30.7-2.093a5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1-30.7-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1-22.854-7,5.175,5.175,0,0,1-22.3-4.55a5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1-24.42-.436,4.575,4.575,0,0,1-26.78.156Zm0-.962a3.4,3.4,0,0,0,1.761-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.762.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0-26.78-.806ZM-18.5.156a2.646,2.646,0,0,1-1.937-.689,2.555,2.555,0,0,1-.7-1.911h1.1a1.924,1.924,0,0,0,.338,1.157,1.363,1.363,0,0,0,1.183.468,1.294,1.294,0,0,0,1.138-.455A1.924,1.924,0,0,0-17.056-2.4V-9.1h1.092V-2.4a2.562,2.562,0,0,1-.67,1.885A2.508,2.508,0,0,1-18.5.156ZM-13.845,0V-9.1h5.629v.9h-4.537v3.172h4.147v.884h-4.147V-.9h4.537V0Zm9.659,0V-8.2H-6.9v-.9H-.377v.9H-3.094V0ZM-72.475,17V7.9h2.99a3.856,3.856,0,0,1,1.755.351,2.339,2.339,0,0,1,1.021.949,2.741,2.741,0,0,1,.331,1.352,2.758,2.758,0,0,1-.325,1.339,2.336,2.336,0,0,1-1.014.956,3.83,3.83,0,0,1-1.768.358h-1.9V17Zm1.092-4.719h1.872a2.147,2.147,0,0,0,1.553-.462,1.713,1.713,0,0,0,.462-1.267,1.731,1.731,0,0,0-.462-1.281,2.147,2.147,0,0,0-1.553-.461h-1.872ZM-64.753,17V7.9h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L-58.656,17h-1.287l-1.846-3.757h-1.872V17Zm1.092-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.474-1.28,2.136,2.136,0,0,0-1.553-.475h-1.755ZM-56.849,17V7.9h5.629v.9h-4.537v3.172h4.147v.884h-4.147V16.1h4.537V17Zm2.3-9.633V6.548l2.73-1.651v.949Zm9.217,9.789a4.342,4.342,0,0,1-2.307-.591,3.988,3.988,0,0,1-1.5-1.651,5.413,5.413,0,0,1-.533-2.463A5.383,5.383,0,0,1-49.14,10a4.032,4.032,0,0,1,1.5-1.658,4.305,4.305,0,0,1,2.307-.6,4.08,4.08,0,0,1,2.542.748,3.361,3.361,0,0,1,1.255,2.087h-1.209A2.426,2.426,0,0,0-43.6,9.219a2.705,2.705,0,0,0-1.736-.514,3.181,3.181,0,0,0-1.7.449,2.947,2.947,0,0,0-1.125,1.287,4.664,4.664,0,0,0-.4,2.009,4.664,4.664,0,0,0,.4,2.008,2.947,2.947,0,0,0,1.125,1.287,3.181,3.181,0,0,0,1.7.449,2.754,2.754,0,0,0,1.736-.5,2.36,2.36,0,0,0,.852-1.332h1.209a3.319,3.319,0,0,1-1.255,2.054A4.105,4.105,0,0,1-45.331,17.156ZM-39.767,17V7.9h5.629v.9h-4.537v3.172h4.147v.884h-4.147V16.1h4.537V17Zm2.3-9.633V6.548l2.73-1.651v.949ZM-32.24,17V7.9h2.795A4.626,4.626,0,0,1-25.9,9.122a4.73,4.73,0,0,1,1.138,3.354A4.649,4.649,0,0,1-25.9,15.785,4.64,4.64,0,0,1-29.445,17Zm1.092-.91h1.677a4.367,4.367,0,0,0,2.113-.436,2.483,2.483,0,0,0,1.125-1.248,5.01,5.01,0,0,0,.338-1.931,5.136,5.136,0,0,0-.338-1.963,2.51,2.51,0,0,0-1.125-1.261,4.313,4.313,0,0,0-2.113-.442h-1.677ZM-23,17V7.9h5.629v.9H-21.9v3.172h4.147v.884H-21.9V16.1h4.537V17Zm7.527,0V7.9h1.092l4.849,7.293V7.9h1.092V17H-9.529l-4.849-7.293V17Zm11.284,0V8.8H-6.9V7.9H-.377v.9H-3.094V17Z" transform="translate(452 147)"/>
					<path id="Tracé_73" data-name="Tracé 73" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(76.672 -94.911)" fill="#3369fc"/>
				</g>
			</svg>
		</a>
		
		
		
		<a href="{{ content["next"]["#url"]|render }}" class="prev d-none d-md-flex" title="Projet Précédent">
			<svg xmlns="http://www.w3.org/2000/svg" width="51.571" height="52.156" viewbox="0 0 51.571 52.156">
				<g id="projet-suivant" transform="translate(-200.572 -112)">
					<path id="Tracé_75" data-name="Tracé 75" d="M.962,0V-9.1h2.99a3.856,3.856,0,0,1,1.755.351,2.339,2.339,0,0,1,1.02.949,2.741,2.741,0,0,1,.332,1.352,2.758,2.758,0,0,1-.325,1.339,2.336,2.336,0,0,1-1.014.956A3.83,3.83,0,0,1,3.952-3.8h-1.9V0ZM2.054-4.719H3.926a2.147,2.147,0,0,0,1.553-.462,1.713,1.713,0,0,0,.462-1.267,1.731,1.731,0,0,0-.462-1.28A2.147,2.147,0,0,0,3.926-8.19H2.054ZM8.684,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L14.781,0H13.494L11.648-3.757H9.776V0ZM9.776-4.615h1.768a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3,1.73,1.73,0,0,0-.475-1.28,2.136,2.136,0,0,0-1.553-.475H9.776ZM20.722.156a4.549,4.549,0,0,1-2.347-.592A4.114,4.114,0,0,1,16.8-2.093a5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1,16.8-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.36.6A4.125,4.125,0,0,1,24.648-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,23.082-.436,4.575,4.575,0,0,1,20.722.156Zm0-.962a3.4,3.4,0,0,0,1.761-.449,3.043,3.043,0,0,0,1.183-1.287,4.419,4.419,0,0,0,.423-2.008,4.378,4.378,0,0,0-.423-2,3.051,3.051,0,0,0-1.183-1.281,3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.761.448,3.051,3.051,0,0,0-1.183,1.281,4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,20.722-.806ZM29,.156a2.646,2.646,0,0,1-1.937-.689,2.555,2.555,0,0,1-.7-1.911h1.1a1.924,1.924,0,0,0,.338,1.157,1.363,1.363,0,0,0,1.183.468,1.294,1.294,0,0,0,1.138-.455A1.924,1.924,0,0,0,30.446-2.4V-9.1h1.092V-2.4a2.562,2.562,0,0,1-.67,1.885A2.508,2.508,0,0,1,29,.156ZM33.657,0V-9.1h5.629v.9H34.749v3.172H38.9v.884H34.749V-.9h4.537V0Zm9.659,0V-8.2H40.6v-.9h6.526v.9H44.408V0ZM3.861,17.156a3.909,3.909,0,0,1-1.742-.364A2.72,2.72,0,0,1,.975,15.778a2.8,2.8,0,0,1-.4-1.508H1.716a2,2,0,0,0,.247.981,1.818,1.818,0,0,0,.722.715,2.374,2.374,0,0,0,1.176.266,2.108,2.108,0,0,0,1.43-.442A1.406,1.406,0,0,0,5.8,14.686a1.492,1.492,0,0,0-.234-.877,1.75,1.75,0,0,0-.631-.54,5.236,5.236,0,0,0-.91-.364q-.513-.156-1.072-.351a3.83,3.83,0,0,1-1.56-.9,1.976,1.976,0,0,1-.507-1.41,2.32,2.32,0,0,1,.338-1.293,2.383,2.383,0,0,1,.995-.884,3.409,3.409,0,0,1,1.527-.319,3.32,3.32,0,0,1,1.515.325,2.456,2.456,0,0,1,1,.9,2.488,2.488,0,0,1,.371,1.3H5.486a1.59,1.59,0,0,0-.2-.748,1.522,1.522,0,0,0-.591-.6A1.93,1.93,0,0,0,3.7,8.68a1.8,1.8,0,0,0-1.216.377,1.32,1.32,0,0,0-.474,1.079,1.172,1.172,0,0,0,.331.9,2.51,2.51,0,0,0,.93.514l1.378.461a6.642,6.642,0,0,1,1.17.546,2.3,2.3,0,0,1,.813.806,2.447,2.447,0,0,1,.292,1.261,2.4,2.4,0,0,1-.338,1.228,2.511,2.511,0,0,1-1.021.943A3.6,3.6,0,0,1,3.861,17.156Zm8.1,0a3.822,3.822,0,0,1-1.7-.371,2.823,2.823,0,0,1-1.215-1.15,3.905,3.905,0,0,1-.455-1.989V7.9H9.685v5.759a2.535,2.535,0,0,0,.637,1.924,2.333,2.333,0,0,0,1.664.6,2.286,2.286,0,0,0,1.651-.6,2.567,2.567,0,0,0,.624-1.924V7.9h1.092v5.746a3.905,3.905,0,0,1-.455,1.989,2.814,2.814,0,0,1-1.222,1.15A3.894,3.894,0,0,1,11.96,17.156ZM17.394,17V7.9h1.092V17Zm5.954,0L19.929,7.9h1.183l2.873,7.943,2.9-7.943h1.157L24.622,17Zm4.3,0L31,7.9h1.157L35.5,17H34.346l-.832-2.34H29.64L28.8,17Zm2.314-3.224h3.224l-1.612-4.5ZM37.05,17V7.9h1.092l4.849,7.293V7.9h1.092V17H42.991L38.142,9.707V17Zm11.284,0V8.8H45.617V7.9h6.526v.9H49.426V17Z" transform="translate(200 147)"/>
					<path id="Tracé_74" data-name="Tracé 74" d="M.256,7.086l5.6,5.593a.874.874,0,0,0,1.235-1.236l-4.1-4.1H37.941a.874.874,0,0,0,0-1.747H2.987l4.1-4.1a.873.873,0,0,0,0-1.236.873.873,0,0,0-1.235,0L.256,5.849A.876.876,0,0,0,.256,7.086Z" transform="translate(240 124.936) rotate(180)" fill="#3369fc"/>
				</g>
			</svg>
		</a>
		
		
	{% endblock %}
</div>
