{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav
	role="navigation" aria-labelledby="{{ heading_id }}" {{ attributes|without('role', 'aria-labelledby') }}>
	{# Label. If not displayed, we still provide it for screen readers. #}
	{% if not configuration.label_display %}
		{% set title_attributes = title_attributes.addClass('visually-hidden') %}
	{% endif %}
	{{ title_prefix }}
	<h2{{title_attributes.setAttribute('id',heading_id)}}>{{ configuration.label }}</h2>
	{{ title_suffix }}

	{# Menu. #}
	{% block content %}
		{{ content }}
	{% endblock %}


	<div class="social-nav">
		<span class="recherche-but">
			<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px" height="22px">
				<path fill-rule="evenodd" fill="rgb(51, 105, 255)" d="M21.101,19.895 L15.153,13.946 C16.281,12.553 16.960,10.782 16.960,8.854 C16.960,4.385 13.324,0.748 8.854,0.748 C4.384,0.748 0.748,4.385 0.748,8.854 C0.748,13.324 4.384,16.960 8.854,16.960 C10.782,16.960 12.553,16.281 13.946,15.153 L19.895,21.102 C20.062,21.268 20.332,21.268 20.498,21.102 L21.102,20.498 C21.268,20.332 21.268,20.062 21.101,19.895 ZM8.854,15.254 C5.325,15.254 2.455,12.383 2.455,8.854 C2.455,5.325 5.325,2.455 8.854,2.455 C12.383,2.455 15.254,5.325 15.254,8.854 C15.254,12.383 12.383,15.254 8.854,15.254 Z"/>
			</svg>
		</span>
		<span>
			<a class="me-1" title="Rejoignez-nous sur YouTube" href="https://www.youtube.com/channel/UCgu_rCfsNb3SxmPueNX_dAg" target="_blank">
				<i class="fab fa-youtube"></i>
			</a>
			<a class="" title="Rejoignez-nous sur LinkedIn" href="https://fr.linkedin.com/company/axe-promotion" target="_blank">
				<i class="fab fa-linkedin-in"></i>
			</a>
		</span>
{#		<span>|</span>#}
{#		<span>#}
{#			{{ drupal_block('language_block:language_interface', wrapper=false) }}#}
{#		</span>#}
	</div>
</nav>


{# Recherche #}
<div class="addnav">
	{{ drupal_block('search_form_block') }}
</div>
