
{#
    APPARAIT SUR LA PAGE : /qui-sommes-nous
#}

<header class="titre-container border-0">
    {{ drupal_block("system_breadcrumb_block") }}
    {# 1 - Anim titre #}
    <div class="animtitre">
        <h1>{{ titre_custom_block }}</h1>
        <div class="pt-2 anim-p block-sous-titre">{{ content.field_message_sous_le_titre_qsn }}</div>
    </div>
    {# 2 - Anim "border" bottom #}
    <div class="anim-border anim-border--bottom key-bottom"></div>
</header>
{# 3 - Anim "intro" #}
<div class="intro text-center">
    {% for key, item in content.field_apercu_de_contenu_qsn if key|first != '#' and key == 0 %}
        <a href="{{ item['#paragraph'].get('field_lien_apercu_contenu').value }}" class="animintro">
{#                <h2 class="mb-3 h4 text-primary text-uppercase">{{ paragraph.entity.field_titre_apercu_contenu.value }}</h2>#}
            <h2 class="mb-3 h4 text-primary text-uppercase">{{ item['#paragraph'].get('field_titre_apercu_contenu').value }}</h2>
            <p class="text-uppercase mb-3">{{ item['#paragraph'].get('field_courte_desc_apercu_contenu').value }}</p>
            <span class="fleche d-flex"></span>
        </a>
    {% endfor %}
</div>
{# 3 - Anim "triptique" #}
<div class="triptique border-0 position-relative">
    {# Anim ligne #}
    <div class="anim-border anim-border--top gris key-top--triptique"></div>
    {# Anim elements #}
    {% for key, item in content.field_apercu_secteurs_expert_qsn if key|first != '#' %}
        <a href="{{ item['#paragraph'].get('field_lien_apercu_secteurs').value }}" class="triptique__inner" title="">
            <span class="svg"><img src="{{ file_url(item['#paragraph'].get('field_logo_apercu_secteurs').entity.field_media_image.entity.fileuri) }}" alt=""></span>
            <div class="triptique__inner__hover">
                <div class="mb-2 h5 text-primary text-uppercase text-center p-4">{{ item['#paragraph'].get('field_courte_desc_apercu_secteur').value }}</div>
            </div>
            <span class="more"></span>
        </a>
    {% endfor %}
</div>
<div class="ctas border-0 position-relative">
    {# Anim ligne #}
    <div class="anim-border anim-border--top key-top--ctas"></div>
    <div class="row m-0">
        {% for key, item in content.field_apercu_de_contenu_qsn if key|first != '#' and key != 0 %}
            <article class="col-6 p-0">
                <div class="ctas__inner">
                    <a href="{{ item['#paragraph'].get('field_lien_apercu_contenu').value }}">
                        <h2 class="mb-4 h4 text-primary text-uppercase">{{ item['#paragraph'].get('field_titre_apercu_contenu').value }}</h2>
                        <p class="mb-5 text-uppercase">{{ item['#paragraph'].get('field_courte_desc_apercu_contenu').value }}</p>
                        <span class="fleche mt-3 mt-xl-5"></span>
                    </a>
                    {% if key == 1 %}
                        <div class="anim-border anim-border--right"></div>
                    {% elseif key == 2 %}
                    {% endif %}
                </div>
            </article>
        {% endfor %}
    </div>
</div>
