{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}

{#<h1 class="d-none">Nos réalisations</h1>#}

{# Accordeon #}
<div class="accordeon">
    {% for key, item in content.field_secteur_realisation if key|first != '#' %}
{#        {{ dump(item['#paragraph'].get('field_secteur_concerne_acc_rea').entity.tid.value) }}#}
{#        {{ item['#paragraph'].get('field_image_acc_rea').value }}#}
        <div {% if loop.first == true %} class="unfold" {% endif %} style="background: url('{{ item['#paragraph'].get('field_image_acc_rea').entity.field_media_image.entity.fileuri|image_style('image_desktop_1920x1080') }}') no-repeat center center">
            <h2 class="titre-section">{{ item['#paragraph'].get('field_titre_section_acc_rea').value }}</h2>
            <div class="folder-content">
                <h2>{{ item['#paragraph'].get('field_titre_section_acc_rea').value }}</h2>
                <p>{{ item['#paragraph'].get('field_texte_section_acc_rea').value }}</p>
                {# <a href="realisations/{{ paragraph.entity.field_secteur_concerne_acc_rea.entity.name.value|replace({' ': '-'})|lower|remove_accent }}">Consulter</a> #}
                {% if item['#paragraph'].get('field_secteur_concerne_acc_rea').entity.tid.value != null %}
                    <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': item['#paragraph'].get('field_secteur_concerne_acc_rea').entity.tid.value}) }}">
                        <img class="logo-section-secteur" src="{{ base_path ~ directory }}/assets/images/more.svg" alt="logo axe immobilier"/>
                    </a>
                    {% if item['#paragraph'].get('field_lien_carte_acc_rea').value is not empty %}
                        <div class="lien-carte">
                            {{ link(item['#paragraph'].get('field_lien_carte_acc_rea').title , item['#paragraph'].get('field_lien_carte_acc_rea').uri) }}
                        </div>
                    {% endif %}
                {% else %}
                    <a href="{{ path('view.realisations.page_toutes_nos_realisations') }}">
                        <img class="logo-section-secteur" src="{{ base_path ~ directory }}/assets/images/more.svg" alt="logo axe immobilier"/>
                    </a>
                    {% if item['#paragraph'].get('field_lien_carte_acc_rea').value is not empty %}
                        <div class="lien-carte">
                            {{ link(item['#paragraph'].get('field_lien_carte_acc_rea').title , item['#paragraph'].get('field_lien_carte_acc_rea').uri) }}
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{# Map #}
<div class="map"></div>


{# Menu #}
<section>
    {{ drupal_menu("secteurs-de-realisations") }}
</section>


<script>
    const accordion_items = document.querySelectorAll(".accordeon > div");
    accordion_items.forEach(item => {
        item.addEventListener("click", () => {
            removeUnfoldClass(accordion_items);
            item.classList.add('unfold');
        });
    });

    function removeUnfoldClass(items) {
        items.forEach(e => {
            e.classList.remove('unfold');
        })
    }
</script>
