{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */
#}

{#
    APPARAIT SUR LA PAGE : 	/qui-sommes-nous/comite-de-direction
#}

    {#    <div class="col-12 col-lg-4">#}
    {#        <img src="{{ file_url(row.content['#taxonomy_term'].field_img_principal_sect_equipe.entity.field_media_image.entity.fileuri) }}" alt="">#}
    {#    </div>#}
<div class="moisaique-profil row">
    {% for row in rows  %}
        {{- row.content -}}
    {% endfor %}
    <article class="carte-profil col-6 col-lg-4 p-0"></article>
</div>
