{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */
#}

{#
    APPARAIT SUR LA PAGE : 	/qui-sommes-nous/equipe
#}

{% for row in rows  %}

    <article{{ attributes }} class="col-6 p-0">  
        <div{{ content_attributes }} class="ctas__inner">
            <img class="mb-4" src="{{ file_url(row.content['#taxonomy_term'].field_logo_secteur_equipe.entity.field_media_image.entity.fileuri) }}" alt="logo axe immobilier">
            <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': row.content['#taxonomy_term'].tid.value}) }}">
                <h2 class="mb-4 h5 text-primary text-uppercase">{{ row.content['#taxonomy_term'].name.value }}</h2>
                <span class="fleche d-flex mt-3"></span>
            </a>
        </div>
    </article>

{% endfor %}