{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */
#}

{#
    APPARAIT SUR LA PAGE : 	/qui-sommes-nous/expertises
#}

{% for row in rows  %}

    <article{{ attributes }} class="col-6 p-0">
        <div{{ content_attributes }} class="ctas__inner">
            <img class="mb-4" src="{{ file_url(row.content['#taxonomy_term'].field_logo_secteurs_expertise.entity.field_media_image.entity.fileuri) }}" alt="logo axe immobilier">
            <a href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': row.content['#taxonomy_term'].tid.value}) }}">
                <h2 class="mb-4 h5 text-primary text-uppercase">{{ row.content['#taxonomy_term'].name.value }}</h2>
{#                <p class="text-uppercase d-none d-md-block">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. </p>#}
                <span class="fleche d-flex mt-3"></span>
            </a>
        </div>
    </article>
    {% if loop.length is odd and loop.last %}
        <article{{ attributes }} class="col-6 p-0">
{#          <div{{ content_attributes }} class="ctas__inner" style="background: url('{{ file_url(drupal_field('field_image_citation', 'block_content', 9).0['#media'].field_media_image.entity.fileuri) }}') no-repeat center / cover">#}
            <div{{ content_attributes }} class="ctas__inner ctas__inner--citation">
                {{ drupal_field('field_contenu_de_la_citation', 'block_content', 10) }}
                {{ drupal_field('field_signataire_citation', 'block_content', 10) }}
            </div>
        </article>
    {% endif %}

{% endfor %}