

<div class="container-fluid p-0">

    <div class="row">
        <div class="col-12 col-lg-5"></div>
        <div class="col-12 col-lg-7">
            <div class="breadcrumb p-2 p-lg-5 ps-0 d-flex flex-wrap flex-lg-nowrap justify-content-between">
                {{ drupal_block("system_breadcrumb_block") }}

                <a class="my-3 my-sm-0 ms-auto" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': node.field_secteur_d_activite_equipe.target_id}) }}"><svg xmlns="http://www.w3.org/2000/svg" width="105.607" height="12.936" viewBox="0 0 105.607 12.936"><g id="retour_liste" transform="translate(-304 -105)"><path id="Tracé_71" data-name="Tracé 71" d="M335.77,212.761l5.6-5.593A.874.874,0,0,1,342.6,208.4l-4.1,4.1h34.954a.874.874,0,0,1,0,1.747H338.5l4.1,4.1a.874.874,0,1,1-1.235,1.236L335.77,214A.876.876,0,0,1,335.77,212.761Z" transform="translate(-31.514 -101.911)" fill="#3369FC"/><path id="Tracé_77" data-name="Tracé 77" d="M.962,0V-9.1H3.9a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.462,1.547,2.494,2.494,0,0,1-1.437.975L7.059,0H5.772L3.926-3.757H2.054V0ZM2.054-4.615H3.822a2.032,2.032,0,0,0,1.534-.507,1.812,1.812,0,0,0,.481-1.3A1.73,1.73,0,0,0,5.362-7.7a2.136,2.136,0,0,0-1.553-.475H2.054ZM8.866,0V-9.1H14.5v.9H9.958v3.172H14.1v.884H9.958V-.9H14.5V0Zm9.659,0V-8.2H15.808v-.9h6.526v.9H19.617V0Zm9.009.156a4.549,4.549,0,0,1-2.347-.592,4.114,4.114,0,0,1-1.573-1.657,5.165,5.165,0,0,1-.566-2.457A5.126,5.126,0,0,1,23.615-7a4.17,4.17,0,0,1,1.573-1.657,4.51,4.51,0,0,1,2.347-.6,4.536,4.536,0,0,1,2.359.6A4.125,4.125,0,0,1,31.46-7a5.175,5.175,0,0,1,.559,2.451,5.214,5.214,0,0,1-.559,2.457A4.071,4.071,0,0,1,29.893-.436,4.575,4.575,0,0,1,27.534.156Zm0-.962A3.4,3.4,0,0,0,29.3-1.255a3.043,3.043,0,0,0,1.183-1.287A4.419,4.419,0,0,0,30.9-4.55a4.378,4.378,0,0,0-.423-2A3.051,3.051,0,0,0,29.3-7.833a3.4,3.4,0,0,0-1.761-.448,3.4,3.4,0,0,0-1.762.448A3.051,3.051,0,0,0,24.59-6.552a4.378,4.378,0,0,0-.423,2,4.419,4.419,0,0,0,.423,2.008,3.043,3.043,0,0,0,1.183,1.287A3.4,3.4,0,0,0,27.534-.806Zm9.542.962a3.822,3.822,0,0,1-1.7-.37,2.823,2.823,0,0,1-1.215-1.151,3.905,3.905,0,0,1-.455-1.989V-9.1H34.8v5.759a2.535,2.535,0,0,0,.637,1.924,2.333,2.333,0,0,0,1.664.6,2.286,2.286,0,0,0,1.651-.6,2.567,2.567,0,0,0,.624-1.924V-9.1h1.092v5.746a3.905,3.905,0,0,1-.455,1.989A2.814,2.814,0,0,1,38.792-.214,3.894,3.894,0,0,1,37.076.156ZM42.51,0V-9.1h2.938a3.774,3.774,0,0,1,1.742.351,2.29,2.29,0,0,1,1,.962,2.833,2.833,0,0,1,.325,1.352,2.717,2.717,0,0,1-.461,1.547,2.494,2.494,0,0,1-1.437.975L48.607,0H47.32L45.474-3.757H43.6V0ZM43.6-4.615H45.37A2.032,2.032,0,0,0,46.9-5.122a1.812,1.812,0,0,0,.481-1.3A1.73,1.73,0,0,0,46.91-7.7a2.136,2.136,0,0,0-1.553-.475H43.6Z" transform="translate(361 116)"/></g></svg></a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-5 photo-profil">
            {{ content.field_photo_de_profil_equipe }}
        </div>

        <div class="col-12 col-lg-7">
            <article{{ attributes }}>
                <div class="info-profil px-3 p-lg-5 pt-2">
                    <div class="m-auto text-uppercase">
                        <h1 class="m-0 m-sm-4 m-lg-0 pb-4">{{ node.title.value }}</h1>
                        {# <p>{{ content.field_poste_equipe }}</p> #}

                        <p>{{ content.field_bio_equipe }}</p>
                        {% if node.field_linkedin_equipe is not empty %}<a target="_blank" href = "{{ node.field_linkedin_equipe.value }}"><i class="fab fa-linkedin-in"></i></a>{% endif %}
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>


<style>
    h1 {
        font-size: 54px;
    }
    .photo-profil img {
        height: unset;
        width: 100%;
    }
    .info-profil p, .info-profil h1 { text-transform: initial; }
    .breadcrumb ul li a { padding: 6px; }
    @media (min-width: 992px) {
            .breadcrumb ul li a { padding: 1rem; }
    }
</style>