
{#
    APPARAIT SUR LA PAGE : 	/qui-sommes-nous/equipe/[term_name]
#}

{% if node.field_type_de_profile_equipe.value == 0 %}

    <article{{ attributes }} class="carte-profil col-6 col-lg-4 p-0">
        <div class="photo-profil">
            {# {{ content.field_photo_de_profil_equipe }} #}
            <img src="{{ node.field_photo_de_profil_equipe|file_uri|image_style("max_650x650") }}">
        </div>
        <div class="info-profil">
            <div class="m-auto text-uppercase">
                <h3>{{ label }}</h3>
                <p>{{ content.field_poste_equipe }}</p>
{#                <p>{{ content.field_desc_du_poste_equipe }}</p>#}
{#                <a href = "{{ 'mailto:' ~ content.field_mail_equipe.0["#context"]["value"] }}"><i class="far fa-envelope"></i></a>#}
                {% if node.field_bio_equipe is not empty %}<a class="bio" href="{{ url }}">BIO</a>{% endif %}
                {% if node.field_linkedin_equipe is not empty %}<a href = "{{ node.field_linkedin_equipe.value }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>{% endif %}
            </div>
        </div>
    </article>

{% elseif node.field_type_de_profile_equipe.value == 1 %}

    <article{{ attributes }} class="carte-profil col-6 col-lg-4 p-0 filigranne">
        <div class="photo-profil">
            {{ content.field_photo_de_profil_equipe }}
        </div>
    </article>

{% elseif node.field_type_de_profile_equipe.value == 2 %}

    <article{{ attributes }} class="carte-profil col-6 col-lg-4 p-0 block-text">
        <div class="info-profil">
            <div class="m-auto text-uppercase">
{#                <div>{{ content.field_desc_du_poste_equipe }}</div>#}
                <div>{{ label }}</div>
            </div>
        </div>
    </article>

{% endif %}
