
{#
    APPARAIT SUR LA PAGE : 	/qui-sommes-nous/expertises/[term_name]
#}

<div class="actualites-full row">
    {# BG IMAGE DE FAUCHE #}
    <div class="col-lg-6 p-0">
        {% if node.field_image_a_la_une_expertise.entity.field_lien_image.value is not empty %}
            <a class="curseurfull" href="{{ node.field_image_a_la_une_expertise.entity.field_lien_image.0.url|render }}">
                <div class="bg-vertical" style="background: url('{{ file_url(node.field_image_a_la_une_expertise.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>
            </a>
        {% else %}
            <div class="bg-vertical" style="background: url('{{ file_url(node.field_image_a_la_une_expertise.entity.field_media_image.entity.fileuri|image_style('crop_1200x1200')) }}') no-repeat center / cover"></div>
        {% endif %}
    </div>

    {# CONTENU DE DROITE #}
    <div class="col-lg-6 p-0 contenu">

        <header class="titre-container">
            {{ drupal_block("system_breadcrumb_block") }}
            <h1>{{ label }}</h1>
        </header>

        <article class="intro">
            {{ content.field_contenu_expertise }}
        </article>

    </div>
</div>

<style>
    .bg-vertical {
        height:100%;
        min-height:90vh;
    }
</style>

