
{#
    APPARAIT SUR LA PAGE : 	/qui-sommes-nous/comite-de-direction
#}

{% if node.field_type_de_profile_com_direct.value == 0 %}

    <article{{ attributes }} class="carte-profil col-12 col-lg-4 p-0">
        <div class="photo-profil">
            {# {{ content.field_photo_profil_com_direction }} #}
            <img src="{{ node.field_photo_profil_com_direction|file_uri|image_style("max_650x650") }}">
        </div>
        <div class="info-profil">
            <div class="m-auto text-uppercase">
                <h3>{{ label }}</h3>
                <p>{{ content.field_poste_com_direction }}</p>
{#                <p>{{ content.field_desc_poste_com_direction }}</p>#}
{#                <a href = "{{ 'mailto:' ~ content.field_mail_com_direction.0["#context"]["value"] }}"><i class="far fa-envelope"></i></a>#}
                {% if node.field_bio_com_direction is not empty %}<a class="bio" href="{{ url }}">BIO</a>{% endif %}
                {% if node.field_linkedin_com_direction is not empty %}<a target="_blank" href = "{{ node.field_linkedin_com_direction.value }}"><i class="fab fa-linkedin-in"></i></a>{% endif %}
            </div>
        </div>
    </article>

    

{% elseif node.field_type_de_profile_com_direct.value == 1 %}

    <article{{ attributes }} class="carte-profil col-12 col-lg-4 p-0 filigranne">
        <div class="photo-profil">
            {{ content.field_photo_profil_com_direction }}
        </div>
    </article>

{% elseif node.field_type_de_profile_com_direct.value == 2 %}

    <article{{ attributes }} class="carte-profil col-12 col-lg-4 p-0 block-text">
        <div class="info-profil">
            <div class="m-auto text-uppercase">
                <div>{{ content.field_desc_poste_com_direction }}</div>
            </div>
        </div>
    </article>

{% endif %}


<style>
    .info-profil a { margin: 0 6px; }
    .info-profil a.bio { font-weight: bold; }
</style>