.menu-admin-client {
  min-height: 100vh;
  border-right: 5px solid #2a2a2d;
  transition: transform .4s, width .4s .3s;
  transform: translateX(-22rem);
  width: 0;
}

.menu-admin-client.active {
  transition: transform .4s .3s, width .4s;
  width: 22rem;
  transform: translateX(0);
}

.menu-admin-client #block-sitebranding .site-logo {
  padding: 0;
}

.menu-admin-client ul.menu {
  margin: 0;
}

.menu-admin-client ul.menu li.menu-item.menu-item--expanded > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-admin-client ul.menu li.menu-item.menu-item--expanded > a > svg {
  transition: transform .4s ease;
}

.menu-admin-client ul.menu li.menu-item ul.sous-menu {
  transition: max-height .4s ease-in-out;
  max-height: 0;
  overflow-y: hidden;
  padding-left: 2.4rem;
}

.menu-admin-client ul.menu li.menu-item ul.sous-menu.expanded {
  max-height: 300px;
}

.menu-admin-client ul.menu li.menu-item ul.sous-menu li {
  list-style: none;
}

.menu-admin-client ul.menu li.menu-item ul.sous-menu li a {
  padding: .6em 0 .6em 1em;
}

.menu-admin-client li.menu-item--active-trail > a {
  background: #2a2a2d;
  font-weight: bold;
}

.menu-admin-client a {
  position: relative;
  text-decoration: none;
  display: block;
  color: white !important;
  font-size: 20px;
  padding: .6em 1.5em;
}

.menu-admin-client a.is-active {
  background: #2a2a2d;
  font-weight: bold;
}

.menu-admin-client .btn-deconnexion {
  border-top: 5px solid #2a2a2d;
  margin-top: 4rem;
  transition: text-shadow .4s ease-in-out, background .4s ease-in-out;
}

.menu-admin-client .btn-deconnexion a {
  transition: text-shadow .4s;
}

.menu-admin-client .btn-deconnexion:hover {
  background: red;
}

.menu-admin-client .btn-deconnexion:hover a {
  color: white;
  text-shadow: .8px .4px 1px currentColor;
}

.toggle-sidebar {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 1;
  line-height: 1;
}

.toggle-sidebar.closed {
  transform: rotate(180deg);
}

.toggle-sidebar svg {
  background-color: white;
  padding: 12px;
  font-size: 34px;
  transform: rotate(180deg);
}

.toggle-sidebar svg path {
  fill: black;
}
/*# sourceMappingURL=menu-admin-gauche.css.map */