body {
    //transition: padding-left .3s ease-in-out;

    padding-left: 5rem;
    #toolbar-bar { margin-left: 82px }
    &[data-menu-admin-client="open"] {
        padding-left: 18rem;
        #toolbar-bar { margin-left: 18rem }
    }

    &.gin--dark-mode {
        .menu-admin-client {
            a {
                color: white!important;
                &.is-active { background: #2a2a2d; }
            }
            svg { path { fill: white; } }
            li.menu-item--active-trail > a {
                background: #2a2a2d;
                font-weight: bold;
            }
        }
    }
}

nav#toolbar-bar {
    //transition: left .3s ease-in-out;
}

.menu-admin-client {
    background: white;
    position: fixed;
    z-index: 103;
    top: 0;
    left: 0;
    min-height: 100vh;
    //transition: width .3s ease-in-out;
    width: 5rem;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--colorGinBorder);
    &.active {
        width: 18rem;
        .toggle-sidebar svg { transform: rotate(180deg); }
        a {
            span {
                transition: opacity .3s ease-in-out .2s;
                opacity: 1;
            }
        }
        li.menu-item.menu-item--expanded {
            ul.sous-menu {
                left: 288px!important;
            }
        }
    }

    a.site-logo {
        width: 100%;
        padding: 0;
        img {
            width: 90%;
            margin: 13px auto;
        }
    }

    a {
        display: flex;
        align-items: center;
        position: relative;
        text-decoration: none;
        width: 16rem;
        font-size: 20px;
        padding: 1rem;
        &.is-active { font-weight: bold; }
        svg {
            margin: 0 1rem 0 .6rem;
            //width: 28px!important;
            path { fill: var(--colorGinIcons); }
        }
        span {
            opacity: 0;
            color: var(--colorGinTextLight);
        }
    }

    ul.menu {
        margin: 0;
        li.menu-item {
            padding-top: 0;
            position: relative;
            overflow: hidden;
            svg { width: 28px }
            transition: background .2s ease;
            &:hover { background: #eceaea; }
        }
        li.menu-item.menu-item--expanded {
            ul.sous-menu {
                //display: none;
                transition: opacity .4s ease;
                opacity: 0;
                position: absolute;
                left: 80px;
                background: white;
                border: 1px solid var(--colorGinBorder);
                top: 0;
                li { list-style: none }
                a { color: var(--colorGinTextLight); }
            }
            &:hover { overflow: visible; }
            &:hover ul.sous-menu { opacity: 1; }
        }
    }

    .btn-toggle-sidebar {
        margin-top: auto;
        overflow: hidden;
        .toggle-sidebar {
            svg {
                transition: transform .4s ease;
                position: absolute;
                padding: 4px 4px 4px 6px;
                left: 12px;
                width: 20px;
                height: 22px;
                border-radius: 50%;
                border: 3px solid #b3b3b3;
                background-color: var(--colorGinLayerBackground);
                path { fill: #b3b3b3 }
            }
            span { margin-left: 53px; }
            &:hover {
                svg {
                    border-color: #b3b3b3;
                    background-color: #b3b3b3;
                    path { fill: white }
                }
            }
        }
    }

    .btn-deconnexion {
        overflow: hidden;
        transition: background .4s ease-in-out;
        a svg { width: 28px }
        a span { transition: color .4s ease-in-out }
        svg path { transition: fill .4s ease-in-out }
        &:hover {
            background: red;
            svg path { fill: white }
            a span { color: white; }
        }
    }

    .separateur {
        font-size: 0;
        border-top: 1px solid #d4d4d8;
        display: block;
    }

}




