.wrapper-admin {
  display: flex;
}

.wrapper-admin .contenu-admin {
  width: 100%;
}

fieldset {
  color: #ccc !important;
}

.gin-entity-browser .entity-browser-form .views-row {
  border: none;
}

.media-library-item--grid:before {
  box-shadow: unset !important;
}

.entity-browser-media-directories-overview-form .browser--header,
.entity-browser-media-directories-overview-form .browser--body .browser--tree,
.entity-browser-media-directories-overview-form .browser--footer,
.entity-browser-media-directories-modal-form .browser--header,
.entity-browser-media-directories-modal-form .browser--body .browser--tree,
.entity-browser-media-directories-modal-form .browser--footer {
  background: unset;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree a.jstree-anchor,
.entity-browser-media-directories-modal-form .browser--body .browser--tree a.jstree-anchor {
  padding: 8px;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default .jstree-wholerow-clicked,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default .jstree-wholerow-clicked {
  background: unset;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default .jstree-wholerow-hovered,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default .jstree-wholerow-hovered {
  background: unset;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-hovered,
.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-clicked,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-hovered,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-wholerow-ul .jstree-clicked {
  background: #3b3b3f;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default .jstree-node,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default .jstree-node {
  line-height: 34px;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-closed > .jstree-ocl {
  background-position: -4px 3px;
}

.entity-browser-media-directories-overview-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl,
.entity-browser-media-directories-modal-form .browser--body .browser--tree .jstree-default > .jstree-no-dots .jstree-open > .jstree-ocl {
  background-position: -37px 4px;
}

.ui-dialog.entity-browser-modal.ui-widget.ui-widget-content.ui-front.ui-draggable {
  box-shadow: unset;
}

.gin-entity-browser .entity-browser-form .views-row {
  border-radius: unset !important;
}

.gin-entity-browser .entity-browser-form .views-field-thumbnail__target-id {
  border: inherit !important;
  border-radius: unset !important;
}

.image-data__crop-wrapper .vertical-tabs ul.vertical-tabs__menu {
  width: 100%;
}

.image-data__crop-wrapper .vertical-tabs ul.vertical-tabs__menu li.vertical-tabs__menu-item {
  margin: 0;
}

.image-data__crop-wrapper .vertical-tabs ul.vertical-tabs__menu li.vertical-tabs__menu-item:after, .image-data__crop-wrapper .vertical-tabs ul.vertical-tabs__menu li.vertical-tabs__menu-item:before {
  content: none;
}

.image-data__crop-wrapper .vertical-tabs .vertical-tabs__items {
  margin: 13rem 0 0;
}

.fieldset-Informations-projet > .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fieldset-Informations-projet > .fieldset__wrapper fieldset {
  width: 100%;
}

.fieldset-Informations-projet > .fieldset__wrapper fieldset .fieldset__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fieldset-Informations-projet > .fieldset__wrapper fieldset .fieldset__wrapper .field--type-string {
  width: 45%;
}

.fieldset-Informations-projet > .fieldset__wrapper fieldset .fieldset__wrapper .field--type-decimal {
  width: 50%;
}

.fieldset-Informations-projet > .fieldset__wrapper fieldset .fieldset__wrapper .field--type-decimal input {
  width: 90%;
}
/*# sourceMappingURL=style.css.map */