{#
/**
 * @file
 * Theme override for unformatted summary links.
 *
 * Available variables:
 * - rows: The rows contained in this view.
 *   - url: The URL to this row's content.
 *   - count: The number of items this summary item represents.
 *   - separator: A separator between each row.
 *   - attributes: HTML attributes for a row.
 *   - active: A flag indicating whether the row is active.
 * - options: Flags indicating how each row should be displayed. This contains:
 *   - count: A flag indicating whether the row's 'count' should be displayed.
 *   - inline: A flag indicating whether the item should be wrapped in an inline
 *     or block level HTML element.
 *
 * @see template_preprocess_views_view_summary_unformatted()
 */
#}
{#
    APPARAIT SUR LA PAGE : 	/nos-engagements
#}
{% for row in rows  %}
    {{- row.content -}}
    {% if loop.length is odd and loop.last %}
        <article{{ attributes }} class="col-6 p-0 oh">
            <div{{ content_attributes }} class="ctas__inner ctas__inner--citation">
            {# style="background: url('{{ file_url(drupal_field('field_image_citation', 'block_content', 9).0['#media'].field_media_image.entity.fileuri) }}') no-repeat center / cover"> #}
                {{ drupal_field('field_contenu_de_la_citation', 'block_content', 9) }}
                {{ drupal_field('field_signataire_citation', 'block_content', 9) }}
           </div>
        </article>
    {% endif %}
{% endfor %}
